[2014-06-11 17:16] vmarmol opened #6 "Allow cAdvisor to run without lmctfy even when available"
Some setups that run Docker well may not run lmctfy well. Since we deploy lmctfy in the image we always detect it. Allow users to run with only the Docker driver.

[2014-06-12 01:20] chalupsky opened #8 "root"

[2014-06-12 01:56] #8 closed, assigned to nobody

[2014-06-12 06:27] defender opened #9 "Container name is not presented"
Hi
Container name is not presented, in main page only GUID
root docker 3ba08c450497df5facf35139a02cd1fd3038a3d424d6972531098ed531c9f644

Thanks.

[2014-06-12 09:30] defender opened #11 "Dasboard view"
Hi
I had usability request : when graphs information displayed user should scroll down to see full information , it very hard to compare and find relations between different graphs - Root cause

I suggest to minimize graphs to able see and compare them in the same page and same time frame - like other monitor tool do (example zabbix, nagios  ) dashboard

Thanks

[2014-06-12 09:33] defender opened #12 "Monitor process inside container"
Hi
It will be grate to be able to see same information for specific process inside container - not only the container info

Thanks

[2014-06-12 14:09] cgonzalez opened #13 "cadvisor in a CentOS 6 host"
I'm trying to use cadvisor in a CentOS 6 host with kernel 2.6.32-431.17.1.el6.x86_64 and docker-io 0.11.1-4.el6.x86_64. SELinux is disabled.

When I run:

[code]

it fails because /sys/fs/cgroup/ do not exist under CentOS 6. There is /cgroup/ instead.

So I'm trying with:

[code]

But now I get this:

[code]

¿Any idea?

[2014-06-12 15:48] vmarmol opened #14 "Implement and use a raw driver"
We should have a raw cgroup driver which just shows stats. That would add support for LXC as well as raw systemd systems.

[2014-06-12 19:29] vmarmol opened #15 "Provide information about the processes running inside the container"
A listing of processes with their argv may be enough for now. I don't think we're gonna want to split stats by process since we can't do the same accounting we can with containers. Our recommendation may be subcontainers.

[2014-06-12 19:30] #13 closed, assigned to nobody

[2014-06-12 19:49] JasonSwindle opened #16 "Move Dockerfiles"
Right now quickstart/ is really allowing for different versions what are Docker only or LMCTFY.   Also, this would allow hub.docker.com to auto build because different versions can be tags.

[2014-06-12 21:59] rjnagal opened #20 "Incude a special driver for root to handle machine information"
A special root driver would scan and report all resources available on the machine. This can include machine topology and h/w resources.

[2014-06-12 22:00] rjnagal opened #21 "Fix limits for root container"
Currently root container reports unlimited memory as limit and 1 core as cpu.

This breaks all usage reporting. Fix by making limit same as system resources.

[2014-06-12 22:09] rjnagal opened #22 "Switch cpu reporting to be proportional shares instead of cores"
Most people don't have a mix of containers and processes at the same level. This makes reporting cpu usage in terms of cores hard.

One alternative is to report proportional share or percentage relative to parent. This works really well for /docker as we know exactly how the resources are being distributed.

[2014-06-12 22:12] adminrezo opened #23 "When building Dockerfile : Unable to locate package libprotobuf8"
When I copy the Dockerfile and I build it :
docker build -t cadvisor .
E : Unable to locate package libprotobuf8

It works when I use docker pull google/cadvisor

Docker 0.9.1 , Ubuntu 14.04

[2014-06-12 22:20] vmarmol opened #24 "Graphs should have legends"
They used to, but some refactoring before launch made them go away.

[2014-06-12 22:20] vmarmol opened #25 "Memory usage breakdown should describe hot/cold"
Today the user has no idea why the graph is the color that it is.

[2014-06-12 22:22] vmarmol opened #26 "Track down memory leak"
We reportedly grow to 180MB overnight, we must be putting a circular reference into one of our structures and not letting the garbage collector do its things (or we're not dumping some data for some reason)

[2014-06-12 22:52] #23 closed, assigned to vmarmol

[2014-06-12 22:52] vmarmol opened #30 "Get a CI for cAdvisor Going"
Just tests and building to start should be good :)

[2014-06-13 00:38] #9 closed, assigned to monnand

[2014-06-13 01:55] #30 closed, assigned to vishh

[2014-06-13 03:52] caizixian opened #34 "Add network metrics"
Add network metrics
And a bandwidth usage status between given time period.

[2014-06-13 15:31] caizixian opened #35 "Add a built-in image generator."
Could you please add a built-in image generator for cpu,memory,network,bandwidth,etc? So that it will be convenient for system admins to monitor their container.

[2014-06-13 17:38] vmarmol opened #36 "Have Dockerfiles build from source"

[2014-06-13 17:39] vmarmol opened #37 "Use libcontainer for container spec"

[2014-06-13 18:13] #24 closed

[2014-06-13 18:34] jchauncey opened #39 "allow data to be pushed to influxdb"
- How do you tell cAdvisor which influxdb nodes to use?
- Should it push the data in realtime or on a timer?

Im guessing eventually this will be the basis for a plugin setup for allowing data to be pushed to other systems like ganglia and graphite.

[2014-06-13 19:32] #37 closed, assigned to vmarmol

[2014-06-13 21:41] vishh opened #43 "Provide a plugin to store cadvisor stats to BigQuery"

[2014-06-14 01:41] #21 closed, assigned to vmarmol

[2014-06-14 19:59] erikh opened #48 "cAdvisor using 70% cpu"
I'll be happy to investigate this tomorrow. My container running cAdvisor (from the google/cadvisor from the index) is using 70% CPU. It is not affected by closing the web interface.

Here's a sample of the log:

[code]

I'll ^C+\ it tomorrow and check out the goroutines. Happy to fix this, I just wanted to get it recorded before I start.

[2014-06-15 16:42] #36 closed, assigned to nobody

[2014-06-16 16:54] #48 closed, assigned to nobody

[2014-06-17 20:54] rjnagal opened #59 "Make cAdvisor work on systemd systems"
This will fix some of the issues involved in running on systemd machines. Hopefully, this will make it work on all systemd machines.

I'll look through particular failures on CoreOS systems and add them here.

[2014-06-17 20:57] rjnagal opened #60 "Copy over cAdvisor dependencies into /vendor"
Makes go build more reliable and consistent.

[2014-06-17 21:22] monnand opened #61 "Unit tests for storage driver implementations"
As we added the storage driver interface, there might be several storage driver implementations. We could provide a set of unit tests so that any driver implementation must pass all these tests. This could help us to reduce the possible redundant code and provide a guide line for contributors.

We could use `storage/memory/memory_test.go` as a starting point.

[2014-06-18 00:10] #61 closed, assigned to nobody

[2014-06-18 23:57] #26 closed, assigned to nobody

[2014-07-03 21:45] zealws opened #75 "Page fault and memory usage suggestions"
A couple of suggestions:
- The graph of memory includes the kernel cache, which is not actually used from the point of view of monitoring or applications. It may be helpful to separate out the cached and total memory usage graph. Perhaps three overlayed points, one for cache size, one for total, and one for `(total - cache)` to get the actual application-used amount.
- The graph for Page Faults oc

[2014-07-07 23:17] #39 closed, assigned to nobody

[2014-07-16 20:17] byxorna opened #89 "Influxdb client lib import is wrong"
Influxdb client now lives here: https://github.com/influxdb/influxdb/tree/master/client, which makes https://github.com/google/cadvisor/blob/master/storage/influxdb/influxdb.go#L25 and https://github.com/google/cadvisor/blob/master/storage/influxdb/influxdb_test.go#L24 cause the build to fail. I tried rebuilding with the import changed to github.com/influxdb/influxdb/client but didnt want to fight

[2014-07-22 21:06] #89 closed, assigned to nobody

[2014-07-24 15:16] #14 closed, assigned to rjnagal

[2014-07-24 17:23] #6 closed, assigned to nobody

[2014-07-24 17:24] #59 closed, assigned to nobody

[2014-07-24 18:28] vmarmol opened #119 "Request Less Data in the UI"
As @vishh pointed out, we only need about 1s of data on each request. Today we request all data on each request and 90%+ of it is data we already had.

[2014-07-25 15:12] vmarmol opened #127 "cAdvisor doesn't work with older versions of Docker"
Libcontainer changed their state file format in newer versions of Docker and we only use those. We need to fail back gracefully with older versions.

[2014-07-25 17:22] #127 closed, assigned to vmarmol

[2014-07-26 20:47] vmarmol opened #133 "Handle non-unified hierarchy starting point"
On some systems (e.g.: latest Ubuntu), when running cAdvisor at the root the cgroups are non unified:

cpu,cpuacct: /user/blah
cpuset: /
blkio: /user/blah

This breaks us when we try to read the stats relative to ourselves. Although the world is going unified, we should not break in these cases and at least gracefully degrade.

[2014-07-29 01:24] #133 closed, assigned to nobody

[2014-07-30 19:34] vmarmol opened #143 "Docker driver doesn't register for Docker containers in Core OS"
This means no network stats.

[2014-07-31 21:32] bshi opened #144 "wrong stats error when docker container restarted"
Environment is CoreOS (beta channel)

When a systemd.service that starts a docker container is restarted, cadvisor starts spewing errors about wrong stats.  For example:

Failed to update stats for container "/system.slice/locksmithd.service": wrong stats: current CPU usage is less than prev CPU usage

[2014-08-04 16:43] #144 closed, assigned to nobody

[2014-08-04 17:48] hub-cap opened #150 "cadvisor for OpenVZ?"
I use OpenVZ and i was wondering if there would be any opposition for me to add OpenVZ tracking to cadvisor. I like the tool, and love docker / lxc, but have an existing OpenVZ farm and want to be able to use newer tools with the older tech :)

[2014-08-05 21:16] vmarmol opened #152 "Only track some containers"
As @crosbymichael mentioned in IRC and also a way for us to narrow down what we track when we start doing heavier things.

[2014-08-07 11:06] xh3b4sd opened #154 "no container data at vagrant precise64"
Using cAdvisor under my vagrant precise64 does not provide container data. All I see is this:
![screen shot 2014-08-07 at 11 35 35](https://cloud.githubusercontent.com/assets/552769/3840727/f3be3d36-1e21-11e4-8ac4-20d937b40500.png)

Navigating to `/docker` results in

[code]

system info

[code]

Using cAdvisor under coreos-vagrant works as expected and I get information about docker container dat

[2014-08-07 16:56] vmarmol opened #155 "Allow housekeeping time to be configurable"
Make a flag for is so that the user can decide to get more/less frequent stats. Should help on more loaded systems that may not need the second granularity.

Things to fix for this:
- UI to not assume 1s.
- Make the housekeepings run at configurable intervals.

[2014-08-07 17:04] vmarmol opened #156 "Allow long housekeeping interval to be configurable"
Allow it to be tweaked or even turned off for more packed machines

[2014-08-07 17:18] vmarmol opened #157 "Switch to glog"
@vishh suggested this

[2014-08-07 17:19] vmarmol opened #158 "Ignore containers without any running tasks"
This will lighted our load. I don't think there are any cases where the data would change if there are no tasks.

[2014-08-07 17:41] vmarmol opened #159 "Housekeep less often if the stats have not changed"
This is to try to detect idle containers and housekeep less often to use less CPU. Imagine that we see a container has not changed stats in some amount of time, we start housekeeping every 2s instead of 1s.

[2014-08-07 17:44] vmarmol opened #160 "Profile housekeeping"
We need to understand where CPU is going to in housekeeping to try to minimize that, we be doing some stupid things that we can easily fix.

[2014-08-08 00:16] vishh opened #163 "Export network stats to influxdb backend"
Network stats will be super useful.

[2014-08-08 00:17] vishh opened #164 "instant cpu usage is not pushed to influxdb"

[2014-08-08 00:26] vishh opened #165 "Export docker container name to influxdb"

[2014-08-08 18:10] #157 closed, assigned to nobody

[2014-08-10 21:32] #163 closed, assigned to nobody

[2014-08-11 17:00] vmarmol opened #171 "Add Graph of Working Set to UI"
Today we just show usage, we should also have working set to show hot usage.

[2014-08-14 17:08] jchauncey opened #179 "cadvisor command line opts vs env vars"
I wonder if making the cadvisor container take environment vars instead of command line opts for things like -storage driver would make it easier to use with the upcoming docker deployment tools?

[2014-08-14 19:32] #16 closed, assigned to nobody

[2014-08-14 19:33] #20 closed, assigned to nobody

[2014-08-14 19:33] #12 closed, assigned to nobody

[2014-08-14 19:34] #22 closed, assigned to rjnagal

[2014-08-14 19:34] #34 closed, assigned to vishh

[2014-08-14 20:27] jchauncey opened #181 "healthcheck endpoint"
Right now when I deploy cadvisor I just use the /containers/ endpoint to verify the container is up and running in a good state. However, it takes the page a few seconds to load and this makes the deploy time a bit slow across a cluster of docker hosts. It would be nice if you guys had an endpoint like /healthcheck or /status that returned a 200 for good and 50(0) for bad without having the overhe

[2014-08-15 15:00] cboggs opened #182 "Batch writes to InfluxDB by Docker host"
I think we could see performance gains in ingestion to InfluxDB if the writes were batched up by docker host. Best I can tell, current implementation is to call WriteSeries once per container on the host, which gets very chatty very fast. Batching all containers on the host together before calling WriteSeries should give a nice performance gain in InfluxDB. My Go chops are insufficient to know how

[2014-08-15 19:27] cboggs opened #183 "Emit docker hostname when using a storage driver"
We noticed that we can differentiate same-named containers by their container ID when querying InfluxDB for cadvisor stats, but can't find out what host a container is running on.

I'm sure there are some external tools being built that we could query with a container ID to figure out what host it's on, but if the hostname was included in the stored stats it would save a step. It would also make l

[2014-08-18 12:24] defender opened #184 "Historical data how to ?"
Hi
I run following command and pass new parameters as environment varaibles
-e storage_driver=influxdb -e log_dir=/

docker run --name=cadvisor --volume=/var/run:/var/run:rw --volume=/sys/fs/cgroup/:/sys/fs/cgroup:ro --volume=/var/lib/docker/:/var/lib/docker:ro --publish=8100:8080 --detach=true -e storage_driver=influxdb -e log_dir=/ google/cadvisor

But I cannot see any information about history

[2014-08-20 20:48] raydawg1 opened #188 "cadvisor container quits immediately after run with error 255"
On Centos 6.5 running docker-io-1.1.2-1.el6.x86_64

Literally just ran:

[root@infra001 ~]# sudo docker run \

[root@infra001 ~]# docker ps -a
CONTAINER ID        IMAGE                           COMMAND                CREATED             STATUS                       PORTS                            NAMES
aabf0f96bc61        google/cadvisor:latest          /usr/bin/cadvisor -l   9 seconds ago

[2014-08-20 21:26] #188 closed, assigned to nobody

[2014-08-20 21:40] #183 closed, assigned to nobody

[2014-08-28 16:02] tifayuki opened #198 "Plan to add disk usage per container?"
Hi,
I wonder if there is a plan to add disk usage metrics for each container to cAdvisor. And also may include the volume size of each container?

BTW, thanks for this awesome cAdvisor project.

[2014-08-28 18:47] AndyBerman opened #199 "Add a Flag for Docker Root"
It works OK at the top level for the server.  I get this message when I try to look at any container in cadvisor.

Failed to get container "/docker/077ef6e04c4cd8f0fe0f140a9a567ffd5bbc49b9a9f67f9e53e86dfb9b3c47df" with error: file not found

Have tried on a few different VMs.   Only the ones with docker version 1.2.0 report this error.  Version 1.12 works fine.

The docker logs command shows this

[2014-08-29 19:23] vishh opened #203 "Redesign storage driver interface"
The current storage driver implementation has a few issues and has become complicated after introducing batching of writes to backend DBs. #182 holds some relevant discussions. This issue has been opened to track the various approaches for redesigning the storage driver interface.

Current proposals:
1. Make the in-memory cache the default storage interface the rest of cAdvisor talks to and make I

[2014-08-29 19:23] #182 closed, assigned to vishh

[2014-08-29 22:21] #199 closed, assigned to vmarmol

[2014-08-31 09:04] cnf opened #206 "Constant 10-15% CPU usage"
I am seeing a constant 10% to 15% cpu usage running [google/cadvisor](https://registry.hub.docker.com/u/google/cadvisor/)

This with both :latest and :0.2.2 as of today

Is this normal? I find this to unacceptably high for some monitoring...

[2014-08-31 19:42] #165 closed, assigned to vishh

[2014-09-02 15:21] #181 closed, assigned to nobody

[2014-09-03 19:17] payneio opened #209 "dns and dns-search docker args not respected"
When attempting to start cadvisor via docker run, we'd like to pass in dns and dns-search args so we can dynamically look up our influxdb host. For example:

[code]

Unfortunately, this doesn't seem to work as cadvisor cannot resolve the host (influxdb-1 in this case). The fully qualified domain name doesn't work either.  We confirmed name resolution works in other containers (e.g. influxdb) using

[2014-09-04 05:33] #155 closed, assigned to nobody

[2014-09-05 18:10] vishh opened #216 "Network stats are not available in Kubernetes"
cAdvisor fails to report network stats for containers in a kubernetes cluster.

[2014-09-09 17:11] #184 closed, assigned to nobody

[2014-09-09 17:13] #60 closed, assigned to nobody

[2014-09-09 18:14] #43 closed, assigned to rjnagal

[2014-09-10 18:13] vmarmol opened #224 "Don't get Spec() on every housekeeping"
It doesn't change that often and today it doesn't provide much value to the user.

[2014-09-10 18:13] vmarmol opened #225 "Switch from linked list to ringbuffer for memory stats storage"
Will save us allocations and GC.

[2014-09-10 18:15] vmarmol opened #226 "Randomize start time of container housekeeping at recovery time"
This should spread out the CPU usage by saving us from having all housekeepings bundle up.

[2014-09-12 00:14] #224 closed, assigned to nobody

[2014-09-12 00:15] vmarmol opened #230 "Cache ContainerSpec"
Currently we fetch it for every request. Consider caching it for N amount of time instead of getting it each time.

[2014-09-12 00:16] #158 closed, assigned to nobody

[2014-09-12 20:10] #171 closed, assigned to nobody

[2014-09-12 20:11] #154 closed, assigned to nobody

[2014-09-12 21:52] #159 closed, assigned to nobody

[2014-09-13 00:30] #216 closed, assigned to vishh

[2014-09-13 00:33] #164 closed, assigned to monnand

[2014-09-14 21:24] cnf opened #232 "Request for SRV lookups in cAdvisor"
As part of a fix for #209, I would like to suggest doing all lookups in go, and adding DNS SRV lookup support.

go has dns and SRV lookup libraries built in, and many people are now starting to use Consul or SkyDNS for service discovery in docker.

[2014-09-16 13:56] reasonerjt opened #236 "see error Docker registration failed... in the log"
Hi,

I tried to run this command:

$ sudo docker run \

Then I tried to access http://localhost:8080 but there's no response.
And here's the logs:

$ sudo docker logs cadvisor
E0916 13:45:26.245444 00001 cadvisor.go:56] Docker registration failed: Couldn't parse docker version: Version string "" doesn't match expected regular expression: "(\d+).(\d+).(\d+)".

And here's the system info:
$ sudo doc

[2014-09-17 22:36] #160 closed, assigned to nobody

[2014-09-18 07:25] burakyenier opened #240 "Docker rm fails while cAdvisor is running"
I see this error while cAdvisor is running.

docker rm 0b7
Error response from daemon: Cannot destroy container 0b7: Driver aufs failed to remove root filesystem 0b7xxx: rename /var/lib/docker/aufs/mnt/0b7xxx /var/lib/docker/aufs/mnt/0b7xxx-removing: device or resource busy

[2014-09-20 15:30] #150 closed, assigned to nobody

[2014-09-20 15:31] #75 closed, assigned to nobody

[2014-09-21 04:46] burakyenier opened #244 "cAdvisor process CPU consumption"
I noticed cAdvisor process is consuming unexpected amount of CPU time. Please see top attached.  When I docker killed the container which cAdvisor was running in, the load average dropped from 14 to 1.3 (without making any other changes).

Any ideas?
![2014-09-20 09 43 44 pm](https://cloud.githubusercontent.com/assets/6099848/4347367/0e8a31a6-414a-11e4-9c53-690f733d4162.png)

[2014-09-22 15:52] #206 closed, assigned to nobody

[2014-09-23 21:07] #236 closed, assigned to nobody

[2014-09-24 00:19] vishh opened #254 "memory.stat values are negative"
In some kernels memory.stat values can be negative. This will fail stats collection in libcontainer as it assumes that all the memory.stat cgroup values are unsigned long integers. I have posted https://github.com/docker/libcontainer/pull/201 to temporarily fix this issue in libcontainer. But the kernel bug still exists and values can still be negative on specific kernels.

@cnf: Thanks for report

[2014-09-24 04:16] #232 closed, assigned to vishh

[2014-09-29 18:36] #143 closed, assigned to vishh

[2014-09-29 18:38] #244 closed, assigned to nobody

[2014-09-29 18:38] #156 closed, assigned to nobody

[2014-09-29 19:51] vmarmol opened #260 "Create a /docker API endpoint for Docker containers"
Today, we expose containers with the same name as we find them in the cgroups. While simple for us, this makes it hard to recognize Docker containers in different systems (systemd vs. non-systemd). I have the following proposal to remedy this:

Introduce API version v1.2 with the following endpoint

`/docker/<Docker alias or Container ID>`

This would be a sibling to the existing `/containers` and

[2014-09-29 21:04] vishh opened #262 "Expose global disk usage"
Report all the partitions and usage on each partition.

[2014-09-30 00:17] #209 closed, assigned to nobody

[2014-10-01 00:10] vishh opened #263 "Auto update all progress bars in the UI"
As of now the progress bars in the UI are not updated unless the page is refreshed. This experience is confusing, since all of our other charts get updated dynamically.

[2014-10-01 21:40] vishh opened #266 "Improve storage drivers"
cAdvisor does not export the container spec and the machine usage to the supported db's. We need to do the following:
1. Move filesystem data to a separate tables - 'Filesystem Spec' and 'Filesystem Stats'
2. Add a 'Container Spec' table and export container spec whenever we encounter new containers or existing containers get updated.
We can use container name '/' to refer to the machine in both F

[2014-10-01 21:42] #203 closed, assigned to nobody

[2014-10-06 09:53] #262 closed, assigned to vishh

[2014-10-15 10:55] udomsak opened #271 "CoreOS cAdvisor 0.4.1 Influxdb Storage not working"
I found issue cAdvisor 0.4.1 on CoreOS  when using with Storage backend like  Influxdb  it can't send the data to Influxdb

Influxdb is working fine

My running environment

* Coreos
* cAdvisor 0.4.1 , cAdvisor 0.4.0 running from  **google Docker images**
* InfluxDB 0.8.3

The  error log said

[code]

[2014-10-16 21:43] hectorsouthern opened #273 ""Invalid bind mount: source can't be '/'""
Hi,
I am running the list of quick start commands on my CentOS VM (Including the extra CentOS command) and its throwing the following error:

<img src="http://puu.sh/cf1pg/d5a0ac89db.png">

Any ideas?

[2014-10-17 07:15] #273 closed, assigned to nobody

[2014-10-27 02:39] kevin1024 opened #281 "API should return Content-Type:application/json"
The api returns JSON content, but with the text/plain Content-Type.

[code]

[2014-10-28 16:30] #281 closed, assigned to nobody

[2014-10-29 12:16] gmelekh opened #286 "CPU metrics show memory instead of cpu in my Grafana dashboard"
query to influxDb

select cpu_cumulative_usage from stats where container_name =~ /._portal_./

[2014-10-29 17:29] tpires opened #287 "Cannot view container Memory/SWAP Limit"
Since cAdvisor:0.4.0 I cannot view container memory/swap limit, it shows 'unlimited' .

System:

[code]

The output of /cgroup/memory/docker/{id}/memory.limit_in_bytes is OK.

[2014-10-29 18:04] #260 closed, assigned to nobody

[2014-10-29 18:58] #287 closed, assigned to nobody

[2014-10-30 05:57] wiwengweng opened #290 "csdvisor cannot start on centos 6.6"
this morning I upgrade to centos6.6 from 6.5, and pull the cadvisor latest images from google/cadvisor. and follow the command line

[code]

I see the container can be create but not started using ps:

[code]

[2014-11-02 06:23] gmelekh opened #291 "Last 0.5.0 cAdvisor "container_name" column missing in stats"

[2014-11-04 01:43] #290 closed, assigned to nobody

[2014-11-04 16:46] alessioguglielmo opened #293 "Start InfluxDB"
Hi,
How can I run cAdvisor with influxDB storage driver? Should I pass it as env option?
I'm on Docker 1.3.1 in UbuServer14

[2014-11-05 16:14] leandrok opened #294 "Docker "subcontainers" list doesn't display containers names"
The subcontainers list at "<host>:8080/containers/docker" url only displays the hash of each container. However, I added a name to each container (docker --name <name> ...).
I think that show the container's name will be very useful.
This issue was tested today using the latest version of cAdvisor.
Thank you very much.

[2014-11-09 13:55] docteurklein opened #301 "it should list "docker" as a subcontainer"
Hey there,

Thanks for making container metrics graphs so easy!

The subcontainers list consists of only `system.slice` and `user.slice`, while **I expect `docker` to be listed too**.

Inside the `system.slice` (huge) list, I have some "docker-" prefixed .scope files.
- I click on one one of those scope files (http://localhost:8080/containers/system.slice/docker-3[....]6c.scope)
- I click on the l

[2014-11-09 17:55] gastonmorixe opened #302 "Basic Auth?"
Hi guys!

This is great! any plan to add basic auth to the web client?

Thanks!

[2014-11-10 18:10] lazzarello opened #303 "Version requirements for pre-built image quick start"
It appears that the version of Docker included in Ubuntu 14.04 LTS cannot bind mount /, making the quick start fail with the following output

`2014/11/10 18:10:12 Invalid bind mount: source can't be '/'`

[2014-11-12 17:48] #294 closed, assigned to nobody

[2014-11-12 18:57] mindscratch opened #304 "Provide ability to build a binary that doesn't depend on external JS/CSS files"
When the cadvisor binary is built the [containers_html.go](https://github.com/google/cadvisor/blob/master/pages/containers_html.go#L22) depends on external dependencies. This causes issues when trying to run the cadvisor binary on hosts that don't have access to the Internet.

[2014-11-12 23:10] vishh opened #305 "Expose System OOM Kills information"
cAdvisor can expose system OOMs and container OOM information. This will be a critical feature for kubernetes in the short term.

cc @dchen1107

[2014-11-13 10:39] danielkraaij opened #306 "Failed to get container "" with error: unable to find data for container """
I Recently found this great tool and started using it on some hosts i manage. However on one host the following happend when viewing docker containers in more detail.
`Failed to get container "/docker/e0b572cde642d3bc21542377541d527cd6e3cf90cb76addd84e429669f4c6476" with error: unable to find data for container /docker/e0b572cde642d3bc21542377541d527cd6e3cf90cb76addd84e429669f4c6476`

I Found the

[2014-11-16 22:13] yesnault opened #309 "cAdvisor - cannot start centos 6.5"
Hello,

I cannot start cAdvisor with my centos 6.5. I tried some things from #290, without success.
Do you have any idea what's going wrong (see exec below) : docker, lxc or cAdvisor Issue ?

Run docker with driver lxc.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2014-11-17 17:12] #309 closed, assigned to nobody

[2014-11-18 10:33] #304 closed, assigned to nobody

[2014-11-18 10:34] mindscratch opened #313 "Provide binaries as part of the release"
I believe it would be beneficial to users if pre-built binaries were provided as part of the release. Kubernetes [does this](https://github.com/GoogleCloudPlatform/kubernetes/releases/tag/v0.5) which makes it simpler to get started.

[2014-11-18 19:24] #291 closed, assigned to nobody

[2014-11-19 22:50] #301 closed, assigned to nobody

[2014-11-19 22:51] #254 closed, assigned to nobody

[2014-11-19 22:51] #286 closed, assigned to nobody

[2014-11-19 23:42] #303 closed, assigned to nobody

[2014-11-20 03:43] #313 closed, assigned to nobody

[2014-11-20 04:07] #240 closed, assigned to nobody

[2014-11-20 10:49] jeinwag opened #323 "Can't get info for single container via REST api v1.2"
It looks like I'm unable to get information on a single container via the v1.2 REST API (latest cadvisor docker image running on CoreOS).

Running `curl http://127.0.0.1:4194/api/v1.2/docker/` returns details on all running containers:

[code]

etc., but retrieving info for a single container id fails:

[code]

Kind regards,
Julian

[2014-11-21 12:11] #323 closed, assigned to nobody

[2014-11-26 02:55] mindscratch opened #329 "Provide command-line flag to display the version"
A command-line flag should be made available to print the version of cAdvisor.

[2014-11-26 08:59] yesnault opened #331 "Integration with riemann"
Hi,

Is there a simple way to send stats to riemann ?

Regards

[2014-11-30 10:11] pdwinkel opened #332 "Libcontainer state not found for container ..."
I'm starting cadvisor as follows:

[code]

Every action in the web-ui results in error pages with text like:

[code]

The container logging:

[code]

I'm running on Ubunto 14.04.1 with docker:

[code]

[code]

[2014-12-03 14:35] liuyunsh opened #333 "permission denied when run the cadvisor in docker container."
I just run the cadvisor by the following command:
docker run \
  --volume=/:/rootfs:ro \
  --volume=/var/run:/var/run:rw \
  --volume=/sys:/sys:ro \
  --volume=/var/lib/docker/:/var/lib/docker:ro \
  --publish=9090:8080 \
  --detach=true \
  --name=cadvisor \
  google/cadvisor:latest

Environment: centos7

error log:
I1203 14:25:54.658471 00001 storagedriver.go:89] Caching 60 recent stats in memor

[2014-12-04 21:41] franc0is opened #336 "Failed to run in docker due to " Invalid bind mount: source can't be '/'""
It appears docker no longer accepts `--volume=/:/rootfs:ro` in order to catch typos (see https://github.com/docker/docker/pull/2298#issuecomment-26828394). The command in the cAdvisor README should be changed to: `--volume=//:/rootfs:ro` (note the double `/`) in order to bind root.

[2014-12-08 23:27] vishh opened #339 "Guage for filesystem usage"
Filesystem usage might not change as much as memory and cpu does. But to provide a complete overview of the machine, we should add a guage for filesystem usage in the 'Overview' section.

[2014-12-09 23:13] vmarmol opened #342 "Systemd Detection Does Not Work Inside a Docker Container"
We don't mount /run inside the container. We can probably do detection by checking that the systemd cgroup hierarchy is mounted.

[2014-12-11 06:35] dipankar opened #343 "Original container.css and container.js"
Thanks for this awesome project! Planning on adding stuff to the web UI for internal purposes.

I can't seem to find the unminified files (container.css and container.js) for the Web UI. Is this intentional?

Update:
And this is when i realize that below the minified code!

[2014-12-11 06:38] #343 closed, assigned to nobody

[2014-12-11 18:39] bgrant0607 opened #347 "Use go-restful to implement the API"
github.com/emicklei/go-restful

Kubernetes is moving to go-restful for its API. It facilitates documentation auto-generation, among other things.

Take a look at https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/apiserver.go

[2014-12-12 16:49] #342 closed, assigned to nobody

[2014-12-13 03:58] jamshid opened #352 "Memory usage not showing with docker 1.4"
I think this was all working before I upgraded to docker 1.4 (boot2docker on OSX). Top level memory usage in cadvisor graphs are flat at 0.0. CPU Usage does show correctly, and memory usage does show correctly when showing an individual container..

[2014-12-14 21:48] #331 closed, assigned to nobody

[2014-12-15 23:49] #336 closed, assigned to nobody

[2014-12-15 23:57] #339 closed, assigned to nobody

[2014-12-15 23:57] #302 closed, assigned to nobody

[2014-12-15 23:58] #225 closed, assigned to nobody

[2014-12-15 23:58] #263 closed, assigned to nobody

[2014-12-16 00:51] vmarmol opened #357 "UI ordering of FS is not stable"
We rely on the ordering of the JS map to be stable and it is not. This leads to the UI jumping sometimes (swaps what bar shows usage for what disk).

[2014-12-16 17:16] denderello opened #360 "Make storage information fully configurable"
While I took a look at [NewStorageDriver() in storagedriver.go](https://github.com/google/cadvisor/blob/0acabf64c2a78d023fb0297fc54788617a7b9ec4/storagedriver.go#L40) today I found out that for InfluxDB and BigQuery some information is hard coded and cannot be configured. In specific these are the name cAdvisor will use for InfluxDB time series and BigQuery table names.

Can these be made configur

[2014-12-16 17:26] vmarmol opened #361 "FS Gauge all display the same value"
In the UI

[2014-12-16 17:27] vmarmol opened #362 "cAdvisor client library should check return code of HTTP request"

[2014-12-16 17:51] #357 closed, assigned to nobody

[2014-12-16 17:58] #360 closed, assigned to nobody

[2014-12-16 19:38] #361 closed, assigned to nobody

[2014-12-16 19:40] #362 closed, assigned to nobody

[2014-12-16 21:49] #329 closed, assigned to nobody

[2014-12-18 02:31] sudhakso opened #374 "cAdvisor REST api for machine information should give CPU Clock Speed or Capacity information"
The API for retrieving machine information should expose CPU Clock Speed. So that, applications relying on cAdvisor REST api should be able to compute the CPU Usage % of each docker container.

As of today, machine information exposed is

{
num_cores: 4
memory_capacity: 16726171648
...
}

Add additionally, cpu_clockspeed field that reflects the CPU clock speed of the docker host.

[2014-12-18 17:15] vmarmol opened #376 "Filesystem stats unavailable in RHEL7 when running at root"

[2014-12-18 17:15] vmarmol opened #377 "UI: startFilesystem should ensure there are FS stats"

[2014-12-18 17:16] vmarmol opened #378 "UI: FS stats show capacity, not usage in right text"

[2014-12-18 17:16] vmarmol opened #379 "RHEL7: cAdvisor fails to talk to Docker inside a container."
Fails to talk to Docker. I think it is failing to get the socket.

[2014-12-18 18:10] #374 closed, assigned to nobody

[2014-12-19 05:22] #377 closed, assigned to nobody

[2014-12-19 05:30] #378 closed, assigned to nobody

[2014-12-19 21:35] #352 closed, assigned to nobody

[2014-12-22 08:50] josselin-c opened #385 "CentOS7: Failed to get RecentStats("...") while determining the next housekeeping"
I have Kubernetes running cAdvisor using this [manifest](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/cadvisor/cadvisor.manifest)  with cadvisor version set to v0.7.0 instead of "latest".
Over the weekend, my servers had their memory filled with cadvisor logs like:

[code]

Here are more logs: http://fpaste.org/161966/37623141/

[2014-12-22 15:26] yesnault opened #386 ""Failed to get container "" with error: unable to find data for container - Issue from 0.7.0"
With 0.7.0, I have this error on going on url http://<myServer>:8080/docker/

[code]

With 0.6.2, no error (so, there a bug in this diff  https://github.com/google/cadvisor/compare/0.6.2...0.7.0 :-) )

DockerVersion (it's a CentOS) : {"ApiVersion":"1.15","Arch":"amd64","GitCommit":"4e9bbfa","GoVersion":"go1.3.3","KernelVersion":"3.14.1-1.el6.elrepo.x86_64","Os":"linux","Version":"1.3.1"}

In log :

[2014-12-22 23:07] rjnagal opened #389 "Add log rotation to cAdvisor"
glog doesn't support log rotation. There's an issue filed:
https://code.google.com/p/google-glog/issues/detail?id=22

Ideally, we would like to rotate logs at a reasonable size and keep the first and last file.

[2014-12-23 04:44] xinzhige opened #392 "Can not show the Web UI of cadvisor on localhost:8080 using Mac OS X"
I installed boot2docker on my macbook air (v10.10.1) but after I run the following commands on my terminal and open the Chrome using the link http://localhost:8080, it showed that This webpage is not available and Error code: ERR_CONNECTION_REFUSED.

$ boot2docker start
$ docker run \
  --volume=/:/rootfs:ro \
  --volume=/var/run:/var/run:rw \
  --volume=/sys:/sys:ro \
  --volume=/var/lib/docker/:

[2014-12-23 07:15] #392 closed, assigned to nobody

[2014-12-24 10:37] stuart-warren opened #398 "New Relic integration"
Hi,

If I was to try and get this going, would it literally be implementing the StorageDriver interface and adding a case statement to NewStorageDriver?

[2014-12-25 06:55] ahjdzx opened #400 "Can I config the "/" container as physical host in container_hints.json"
Hi,

Can I config the "/" container as physical host in container_hints.json.

If I can, then how to config the full_path argument ?

Merry X'mas!

[2014-12-25 06:57] #332 closed, assigned to nobody

[2014-12-29 09:35] #385 closed, assigned to nobody

[2014-12-29 17:17] kelonye opened #405 "Get % CPU usage"
Cadvisor flushes data with a cpu_cumulative_usage col to influxdb. How can I get the % cpu usage from this? Thanks in advance.

[2014-12-30 11:02] #386 closed, assigned to nobody

[2014-12-30 11:06] yesnault opened #406 "Usage : too many gauges"
I'm not sure of the value of this information (url:  /containers/ ):-)

![screenshot](https://cloud.githubusercontent.com/assets/395454/5577912/0de73642-901c-11e4-9b57-5c7e6b3c468a.png)

[2014-12-31 18:47] #406 closed, assigned to nobody

[2015-01-01 22:48] rjnagal commented on #25
We added hot/cold breakdown and legend to the graph. I think its fine now.

[2015-01-01 22:48] #25 closed

[2015-01-02 18:27] rjnagal commented on #400
@ahjdzx What information do you want to see for the physical host? I just added information about machine network stats to the root container. Is that the bit you are looking for?

[2015-01-02 20:15] josh-devops-center opened #411 "Influxdb page is a broken link"
[Storage Drivers](https://github.com/google/cadvisor/blob/master/docs/runtime_options.md#storage-drivers) linked to [InfluxDB Instructions](https://github.com/google/cadvisor/blob/master/docs/docs/influxdb.md)

Also it would be helpful if there was an InfluxDB container available for a quickstart example.

[2015-01-02 20:25] rjnagal commented on #411
Thanks for reporting @josh-devops-center. It makes sense to create a simple InfluxDB container with the default settings. We'll work on adding one.

[2015-01-03 14:18] richp10 opened #414 "failed to get cache information for node error on VPS"
On a VPS with two cores:
# ls /sys/devices/system/cpu
# cpu0  cpu1  kernel_max (etc)

Run ./cadvisor
F0103 14:13:33.988492 00589 cadvisor.go:76] Failed to create a Container Manager: failed to get cache information for node 0: open /sys/devices/system/cpu/cpu2/cache: no such file or directory

For some reason it seems to assume more cpu cores than exist on the system.  Tried to figure out the code

[2015-01-03 21:05] rjnagal commented on #414
I think I know what's going on. Will send a fix in the evening.
On Jan 3, 2015 12:49 PM, "Vish Kannan" <notifications@github.com> wrote:

[2015-01-04 02:47] rjnagal commented on #414
@richp10 Can you please try jnagal/cadvisor:canary image to verify the patch? Thanks.

[2015-01-04 09:17] kelonye commented on #405
https://github.com/tutumcloud/container-metrics/issues/1#issuecomment-68619739

[2015-01-04 09:17] #405 closed

[2015-01-05 15:59] tpires opened #416 "Can't see Memory and Network graphs"
When using cAdvisor:0.7.0 or cAdvisor:0.7.1 it doesn't show memory total usage graph, usage breakdown bar, network throughput and errors graphs.

cAdvisor 0.6.2 works fine.

[code]

System
[code]
Launch cAdvisor with:
[code]

[2015-01-05 17:45] rjnagal commented on #416
Can you provide the output for localhost:8080/validate?
Are you seeing missing stats for root, or all docker containers?

Can you also grab the output for localhost:8080/api/v1.2/containers? Thanks.

[2015-01-05 17:46] vmarmol commented on #416
Does the graph not show up or the whole memory section?

If only the graph doesn't show: Can you open up the JavaScript console in your browser and see if any errors show up? This sounds like something is breaking drawing the graph.

[2015-01-05 21:05] tpires commented on #416
@rjnagal tested, it's working. thank you :)

[2015-01-06 10:03] #416 closed

[2015-01-06 13:04] dipankar commented on #152
@rjnagal Was thinking about implementing filtering by container aliases, any pointers as to what you guys decided approach wise?

[2015-01-06 18:14] rjnagal commented on #152
I think the main feature here was to support regexes, so that we can filter out, say only docker containers. That way, we don't need to update the list when a new container shows up.

We can probably accept the input through container_hints. We can accept aliases too to target specific containers, but doing just aliases makes regex matching harder.

The problem I ran into while trying this out was

[2015-01-08 14:34] danielkraaij commented on #306
@vmarmol Sorry for the very late reply.

The --logtostderr options outputs nothin.
I removed all the cadvisor.* files from /var/run and cadvisor started running again. Althought the initial problem remained.
Here is the log output from /var/run/cadvisor.INFO

[code]

Does this help?

[2015-01-08 15:01] richp10 commented on #414
Worked perfectly, thanks..

R

----------------------------
Richard Phillips
----------------------------

On 4 January 2015 at 02:47, Rohit Jnagal <notifications@github.com> wrote:

[2015-01-08 16:37] rjnagal commented on #414
Thanks for verifying @richp10 . We'll cut a release this week.

[2015-01-08 16:37] #414 closed

[2015-01-08 16:38] rjnagal commented on #411
Closing this as we fixed the link.

[2015-01-08 16:38] #411 closed

[2015-01-08 17:08] vmarmol commented on #306
Are you still seeing the issue in 0.7.1? Also, can you provide the output of `/validate` on the cAdvisor? That was recently added to help debug issues like this.

[2015-01-09 10:42] danielkraaij commented on #306
Here is the output.

[code]

[2015-01-09 15:34] jbdalido commented on #306
Hello,

I've got the very same problem here, on deb 8,

    cAdvisor version: 0.7.1

    OS version: Buildroot 2014.02

    Kernel version: [Supported and recommended]
      Kernel version is 3.14-2-amd64. Versions >= 2.6 are supported. 3.0+ are recommended.

    Cgroup setup: [Supported, but not recommended]
      Cgroup memory not enabled. Available cgroups: map[cpuset:1 cpu:1 memory:0 freezer:1

[2015-01-09 19:24] vmarmol commented on #306
Nothing jumps out from both of those, but yesterday we fixed an issue with a similar error. This fix went into 0.8.0 which we are currently testing. Can you both run `google/cadvisor:0.8.0` instead of `:latest` and give the cAdvisor logs?

The fix for that other issue may not be the fix here, but 0.7.1 failed to log certain type of errors. I think one of those errors is what is causing our issues.

[2015-01-12 02:19] ahjdzx commented on #400
Really? I just want looking for the information about machine network stats. This is my container_hints.json
[code]
but i can't found the network infomation from the cadvisor web page. Is that i am config wrong?

[2015-01-12 03:12] rjnagal commented on #400
We haven't made an official release with the machine network stats? Can you try jnagal/cadvisor:canary image? It should show you root stats on the /containers page.

[2015-01-12 16:36] cwahl-Treeptik opened #432 "cAdvisor does not return memory data on Debian"
I have had some troubles making cAdvisor work on Debian, especially returning data on the memory, and I wanted to share the solution! The use case is a [Docker based PaaS dedicated to Java/JEE applications] (http://cloudunit.fr/).

By default, the Cgroup memory controller is in the state missing on Debian, so cAdvisor does not collect the relevant data.

The solution simply consists in adding the

[2015-01-12 16:40] vmarmol commented on #432
Thanks @cwahl-Treeptik! We've known about the issue but we should document it better. Let me add a pointer to these instructions to the docs.

[2015-01-12 18:23] #432 closed

[2015-01-13 21:43] vmarmol commented on #379
This issue is still present in the 0.8.0 candidate.

[2015-01-13 22:08] vmarmol opened #436 "Host network stats don't work in CoreOS"
The network devices cAdvisor finds are:

[code]

None are `eth` devices which is what we expect.

[2015-01-13 22:17] rjnagal commented on #436
We can scan all ethernet devices and use the first one, instead of limiting to eth*. Can we ignore docker*, or shall we report them too? The current public API limits us to exporting only one i/f.

[2015-01-13 22:41] vmarmol commented on #436
We're probably fine ignoring veth,docker, and loopback. We can then pick the first of those.

We should also think about making it easier to report multiple i/f in the next version of the API.

[2015-01-13 23:15] rjnagal commented on #436
Reporting multiple i/f is easy. It's just a breaking change to the API, so I was hesitating a bit :)

[2015-01-13 23:16] vmarmol commented on #436
Lets add it to the proposed 2.0 :D which will be backwards-breaking

[2015-01-14 23:04] #436 closed

[2015-01-19 03:37] hinesmr opened #450 "Nested containers require 1-line patch"
Hi All,

I'm running docker inside LXC. (Please don't ask why - I don't want a philosophical debate to erupt).
cAdvisor itself is running inside outer LXC container and monitoring the inner docker containers.

When cAdvisor starts up inside the outer LXC, it finds an inner docker cgroup located in:

/sys/fs/cgroup/cpu/lxc/outer_container_name/docker/inner_container_name

Instead of:

/sys/fs/cgrou

[2015-01-20 04:57] vishh opened #452 "cAdvisor from HEAD crashes while calculating cpu load"
Here is the stack trace:

I0120 04:55:23.919359 21096 cadvisor.go:150] Starting cAdvisor version: "0.8.0" on port 8080
panic: runtime error: slice bounds out of range

goroutine 66 [running]:
runtime.panic(0x8d0100, 0xf04b2f)
        /usr/local/go/src/pkg/runtime/panic.c:279 +0xf5
bufio.(*Reader).Read(0xc208004f60, 0xc2080f8000, 0xf5, 0xf5, 0xfffffffffffffff0, 0x0, 0x0)
        /usr/local/go/src/p

[2015-01-20 15:58] vmarmol commented on #400
This is now in the official 0.8.0 release btw.

[2015-01-20 18:11] vmarmol commented on #450
No questions or judgement on your setup :)

Only thing I worry about that approach is that we could be tricked into marking some containers as Docker containers (arguably we could today, but less likely). I agree we need to have a better answer for this though. This sounds like a case we should be able to handle. Let me see if we can come up with something that works here too.

[2015-01-20 19:08] rjnagal commented on #450
IMO, we should classify docker+lxc containers under raw handler. The logic we have for docker handler assumes libcontainer. We already capture the type of execdriver docker is using.

We might do a better docker+lxc support, but going to raw handler seems like it will fix reporting for these containers, right?

[2015-01-20 19:54] vmarmol commented on #450
@rjnagal I think he means that he runs docker+libcontainer under a top-level LXC container. He's running cAdvisor inside that same LXC container and wants it to work as expected.

[2015-01-20 20:03] rjnagal commented on #450
Ah, sorry. I completely mis-read that :)

[2015-01-20 23:54] rjnagal commented on #452
@vishh Can you try with the new head and see what errors are reported?

[2015-01-21 03:10] cjschroed opened #454 "Error launching the container"
Status: Downloaded newer image for google/cadvisor:0.8.0
F0121 02:57:03.357816 00001 cadvisor.go:76] Failed to create a Container Manager: could not parse speed from -1 for device eth0
goroutine 16 [running]:
github.com/golang/glog.stacks(0x4c208091e00, 0x0, 0x0, 0x0)
	/usr/local/google/home/vmarmol/go/src/github.com/google/cadvisor/Godeps/_workspace/src/github.com/golang/glog/glog.go:726 +0xcc
gi

[2015-01-21 03:34] cjschroed commented on #454
More info: I gave eth0 a static IP, however it did not have a cable attached, thus no link state and no speed. :(

[2015-01-21 06:36] vmarmol commented on #454
Sent out #455 to fix this. If you can test and verify from HEAD, we'd really appreciate it :)

[2015-01-21 12:15] hinesmr commented on #450
Right, exactly. Thanks for the consideration, guys.

[2015-01-21 12:27] ahjdzx commented on #400
@rjnagal @vmarmol Thank you very much!

[2015-01-21 14:55] #454 closed

[2015-01-21 16:23] vmarmol commented on #400
Assuming this worked for you? Closing in that case :) feel free to re-open if that's not the case.

[2015-01-21 16:23] #400 closed

[2015-01-22 15:58] joelchen opened #456 "Docker died after running du command in cAdvisor"
Hi cAdvisor Team,

Using the latest version of cAdvisor, running the following commands causes Docker to die:

[code]

Many of my systemd services to spawn the Docker containers could not be started by systemd after this issue. Only a 2nd reboot of my system I could see the dead containers and remove them, and after the 3rd reboot they started to run.

Warmest Regards,
Joel

[2015-01-22 16:15] vmarmol commented on #456
That's very...interesting. Does this happen everytime you try? Can you send us the output of /validate on cAdvisor and the output of `docker info` please?

[2015-01-22 18:01] vmarmol opened #457 "cAdvisor Crashes Getting CPU Load"
Every now and then I get the following stacktrace while handling CPU load (this is in HEAD).

[code]

[2015-01-22 18:08] rjnagal commented on #457
Is that a panic or error? It looks like it is waiting for kernel to push some data to the netlink message queue. Is that timing out?

[2015-01-22 18:10] vmarmol commented on #457
This is a panic.

[2015-01-22 18:13] rjnagal commented on #457
Can you add the panic string - out of bound error?

On Thu, Jan 22, 2015 at 10:10 AM, Victor Marmol <notifications@github.com>
wrote:

[2015-01-22 18:15] vmarmol commented on #457
Ah yes, sorry:

[code]

[2015-01-22 18:31] vishh commented on #457
Seems to be a dup of #452

[2015-01-22 18:34] vmarmol commented on #457
I believe it is. Closing in favor of that. Note that the error paths don't seem to be triggered.

[2015-01-22 18:34] #457 closed

[2015-01-22 18:40] rjnagal commented on #457
binary.Read is not returning, so the error paths are not going to be
triggered. I'll look at it today.

On Thu, Jan 22, 2015 at 10:34 AM, Victor Marmol <notifications@github.com>
wrote:

[2015-01-23 05:42] joelchen commented on #456
Hi Victor,

I did not the second time after this issue happened, as it is very cumbersome to recover from it.

/validate:
[code]
docker info:
[code]
Warmest Regards,
Joel

[2015-01-23 09:18] rjnagal commented on #306
I ran into this one today accidentally and the problem was that docker state directory was inaccessible. The newer version of cAdvisor capture the state directory state with /validate. @danielkraaij @jbdalido can you please try out the new version and hit /validate to see if you notice an error in 'Docker driver setup' section. Thanks!

[2015-01-23 09:42] jbdalido commented on #306
Hi sorry for the delay, i'm testing it in the next two hours.

[2015-01-26 12:46] danielkraaij commented on #306
Tried the newer version, unfortunately still the same problem.

And no error found in the `Docker driver setup` section
[code]

[2015-01-26 22:38] vmarmol commented on #306
Do you have the cAdvisor log by any chance?

On Mon, Jan 26, 2015 at 4:46 AM, Daniel Kraaij <notifications@github.com>
wrote:

[2015-01-28 12:54] danielkraaij commented on #306
Do you mean the --logtostderr?

[code]

[2015-01-28 21:40] ankushagarwal opened #474 "Proposal : Add storage driver for graphite"
Graphite is the most popular time series database storage out there and I really want to have a storage driver for graphite. Although I am not a Go expert, I can take a stab at the driver. I took a look the InfluxDB driver and it does not look very complex with just three interface methods to be implemented.

[2015-01-28 21:41] vishh commented on #474
+1 for adding a graphite storage driver.

On Wed, Jan 28, 2015 at 1:40 PM, Ankush Agarwal <notifications@github.com>
wrote:

[2015-01-28 21:43] rjnagal commented on #474
We'd be happy to accept a new driver and help with changes. We have been wanting to get Graphite in for a while, but never got around to it.

The other option is to make it a driver under heapster (github.com/GoogleCloudPlatform/Heapster) which helps in aggregating across all machines in a cluster. But, a storage driver in cAdvisor would be fine too.

[2015-01-28 21:43] ankushagarwal commented on #474
Thanks for the support. I'll try to have something soon.

[2015-01-29 07:30] rmanyari commented on #293
I'm having troubles writing to an external influx as well.

Here is how I'm starting the container:

docker run
  --volume=/:/rootfs:ro
  --volume=/var/run:/var/run:rw
  --volume=/sys:/sys:ro
  --volume=/var/lib/docker/:/var/lib/docker:ro
  --publish=8080:8080
  --detach=true
  --name=cadvisor
  google/cadvisor:latest
    -storage_driver=influxdb
    -storage_driver_host=external_ip:8086
    -stor

[2015-01-29 07:49] itheiss opened #475 "No such file or directory /var/lib/docker/aufs/diff/docker-<id>.scope"
Hi,

If I click on the link 'Docker Containers' in the UI I get the the following error:

 ```Failed to get container "" with error: unable to find data for container /system.slice/docker-bce3c0780ba53c5bd6da537ec43a710169b8f53ac131edf76995dec5de5216be.scope```

The cAdvisor log is filled with the following errors:

[code]

I've searched the path ```/var/lib/docker/aufs/diff``` for any files endin

[2015-01-29 17:09] vishh commented on #293
@rmanyari: Can you post logs from cadvisor?

[2015-01-29 17:14] vishh opened #476 "Storage drivers are not updated"
While we enrich the node UI with the new type of stats, we do not update the storage drivers. May be its worth exploring means to auto-export all stats in the storage drivers.

[2015-01-29 17:15] vmarmol commented on #476
+1, I think this is possible with Go's introspection.

[2015-01-29 19:47] rmanyari commented on #293
Thanks for taking some time to help me debug this @vishh

I looked this morning at the logs and found lots of these:

E0129 19:37:50.348249 00001 memory.go:94] failed to write stats to influxDb - Post http://the_right_ip:8086/db/cadvisor/series?u=root&p=the_right_password&time_precision=u: write tcp 104.131.19.134:8086: connection refused
E0129 19:37:54.365524 00001 memory.go:94] failed to write s

[2015-01-29 20:18] vishh commented on #293
cadvisor batches writes to InfluxDB. The default batch duration is 1 minute
(`--storage_driver_buffer_duration`). I hope InfluxDB host:port is
accessible from inside the cadvisor container.

On Thu, Jan 29, 2015 at 11:47 AM, rmanyari <notifications@github.com> wrote:

[2015-01-30 00:35] vmarmol commented on #475
That is indeed very weird. Seems like it is looking for the cgroups there. Can you provide the output of /validate on cAdvisor? It'll let us know where it thinks the cgroups are.

[2015-01-30 02:06] vmarmol commented on #306
Sorry for the delay, but I think I found what the issue is. I built a custom `google/cadvisor:canary` with some extra logging. Can you run that and provide the log's output?

[2015-01-30 05:47] itheiss commented on #475
Here comes the output:

[code]

[2015-01-30 08:14] jeanfrancis opened #478 "Sensu"
Anyone has tried integration with sensu ?

[2015-01-30 11:42] danielkraaij commented on #306
I can access some containers now, but not all...

Here is the log output
[code]

[2015-01-30 15:40] sstarcher commented on #474
+1 let me know if you need any help testing it

[2015-01-30 16:19] ankushagarwal commented on #474
I have some code ready to go in, but I want to understand the long term goal for storage driver config options from CLI.

Currently for influxdb, the options are

-storage_driver_host
-storage_driver_db
-storage_driver_user
-storage_driver_password
-storage_driver_secure

As more and more storage drivers are added, these options will become harder to serve as common options for all the drivers. Fo

[2015-01-30 16:48] rjnagal commented on #474
I can think of two ways:
1. driver type prefixes like docker machine. I think its clean and is much easier to handle.
2. Use --type and --storage_config=file. We can provide a single config file with all the info. We'll parse the config file based on type.

I like 2 for conciseness. But I think there were some concerns on passing around files for deployment. If that is going to be inconvenient, le

[2015-01-30 16:52] rjnagal commented on #478
Haven't looked at it before.
It seems like a straightforward storage driver. We'd love to get some patches for it :)

[2015-01-30 17:40] vmarmol commented on #474
+1 on @rjnagal's options 1

On Fri, Jan 30, 2015 at 8:48 AM, Rohit Jnagal <notifications@github.com>
wrote:

[2015-01-30 17:43] rjnagal commented on #474
ok, 1 it is then. Take it away @ankushagarwal !

[2015-01-30 18:44] vishh opened #480 "Add a '/events' REST endpoint"
cAdvisor should expose an '/events' endpoint which can be used to export events like 'OOM kills', 'container creation/deletion' etc. Ideally this should be a Watch interface, instead of a pull based one. But we can start with a pull based API with an option to specify the time duration (e.x. last 'x' seconds).

[2015-01-30 18:46] vishh commented on #480
@kateknister this might be something you can work on.

[2015-01-30 19:13] ankushagarwal commented on #474
Cool. Then I will first refactor influxdb and bigquery config options in a PR and then open up another PR sometime next week to add a stable graphite driver.

[2015-01-30 19:25] vishh commented on #474
How about a third option:
Separate storage drivers into separate binaries and run them as sidecars?
We can provide the common infrastructure required to implement such side
cars, and even build and ship them as part of a cadvisor release.

This frees cadvisor from any storage driver related issues. Any auth
required for storage drivers can be packed as part of a separate image
without having to wr

[2015-01-30 19:28] vmarmol commented on #474
That is the approach that we've been advocating after the initial two
drivers were added. By sidecar @vishh means a Docker container running
alongside the cAdvisor container.

On Fri, Jan 30, 2015 at 11:25 AM, Vish Kannan <notifications@github.com>
wrote:

[2015-01-30 19:31] ankushagarwal commented on #474
I like this idea much better. It decouples the core cAdvisor from storage driver issues. Versioning will be one major problem when storage drivers are integrated within cAdvisor.

[2015-01-30 19:33] ankushagarwal commented on #474
Yup, just run another container which is linked to cAdvisor, uses its API and exports stats to a storage driver. With this approach, data can also be exported to multiple storage drivers with ease.

[2015-02-02 19:41] itheiss commented on #475
@vmarmol  Could you find something usefull in the output? Anything else I can do to track this down?

[2015-02-02 23:47] rjnagal opened #483 "Define custom metric support for cAdvisor"
Do we want to read in custom metrics from user and export these through our APIs? It would help a lot of use-cases in kubernetes. For derived stats, we would also need to define a notion of schedulable and non-schedulable stats. This will help us distinguish stats that are useful for scheduler vs ones useful for debugging and perf.

We can build a model similar to container hints to pick up new me

[2015-02-02 23:53] vmarmol commented on #483
Aren't custom metrics out of scope for cAdvisor? Or maybe I'm not sure what metrics you're mentioning :)

[2015-02-02 23:55] vishh commented on #483
By custom metrics Rohit is referring to future resources that cadvisor will/might track. Examples: Storage, Network, special hardware

@rjnagal : Will we need derived stats for debugging and perf related metrics?

The resource type naming model for kubernetes is [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/resources.md#resource-types)

[2015-02-02 23:56] vishh commented on #483
The main argument for an extensible API is that of making the rest of the system generic - in the case of kubernetes, whenever a new derived schedulable stats is exposed by cadvisor, and in-turn by kubelet, which is just a proxy as of now, the stats become immediately usable by the scheduler.

[2015-02-03 00:18] rjnagal commented on #483
We only need derived stats for schedulable metrics. For these custom metrics, we need to be able to obtain a node-capacity total too, which isn't relevant for debug/perf stats.

 @vmarmol this is an off-shoot from discussion around #481

k8 use case is:
1. A cluster provider plugs in custom metric for say their own storage device. These could be anything - even software licenses available for that

[2015-02-03 17:41] vmarmol commented on #475
@itheiss sorry for the delay! We've been swamped the past few days. I think I've identified the issue, it seems like this is a problem with systems that use systemd + AUFS in that we incorrectly detect the container layers. I think I will have an image for you to try later today. Stay tuned!

[2015-02-03 17:45] vmarmol commented on #475
Okay, I have an image if you're up for testing. Can you try running with `google/cadvisor:canary` and report back? Thanks!

[2015-02-03 17:47] vmarmol commented on #306
@danielkraaij it seems like we are not detecting any filesystems and handling that badly. Neither of those should be happening. I'll dig a bit deeper into it and report back.

[2015-02-03 18:12] #475 closed

[2015-02-03 23:25] vmarmol commented on #306
@danielkraaij I built a `google/cadvisor:canary` that should handle this error. Let me know if it works for you.

[2015-02-03 23:30] vmarmol commented on #483
I think the offline discussion resulted in "we don't need this to be done in cAdvisor"? The discussion in #481 was separate from that.

[2015-02-03 23:32] #15 closed

[2015-02-03 23:33] vmarmol commented on #152
Bug scrub: Do we still need this? Initially it was to deal with high resource usage, but we were able to mitigate that with some work.

[2015-02-03 23:35] vmarmol commented on #230
Fixed by @kateknister

[2015-02-03 23:35] #230 closed

[2015-02-03 23:36] vmarmol commented on #271
This issue seems over and taken over by other things :) closing. Feel free to open other issues if you run into anything.

[2015-02-03 23:36] #271 closed

[2015-02-04 00:02] rjnagal commented on #483
yes. All interested parties have finally agreed. phew!

[2015-02-04 00:02] #483 closed

[2015-02-04 00:07] vmarmol commented on #450
Another possible option is that when we determine whether a container is a Docker container, we just parse the ID and ask Docker if it knows about the container. It may mean more communication with the Docker daemon, but shouldn't be much more latency at startup.

I believe this would work for your usecase too @hinesmr?

[2015-02-04 00:30] hinesmr commented on #450
Yes, that would be great =).

[2015-02-04 13:21] danielkraaij commented on #306
Still the same, some containers work, others don't.
Here's the log output
[code]

Output of /validate
[code]

[2015-02-04 14:13] itheiss commented on #475
@vmarmol Works perfectly! Thanks!

[2015-02-04 16:14] vmarmol opened #487 "Merge Handling of Disks/Mount information"
Today we handle disk and mount information in two different places:
- FS stats: fs/fs/go
- Filesystem stats: util/sysfs

These go out of sync and some data is in one, but not the other. They are slightly different usecases so neither current implementation can go at it alone.

[2015-02-04 17:47] vmarmol commented on #306
What containers work and don't work? What errors are you getting?

Sorry this has taken so long to debug, but that's for all the help and patience!

[2015-02-06 17:36] #450 closed

[2015-02-06 20:36] dchen1107 commented on #305
@@kateknister should we close this one?

[2015-02-06 20:39] vmarmol commented on #305
Not yet :) we're not exposing the events right now.

On Fri, Feb 6, 2015 at 12:36 PM, Dawn Chen <notifications@github.com> wrote:

[2015-02-09 21:21] cboggs opened #499 "InfluxDB - Derivative of cpu_cumulative_usage yields unrealistic values"
I think I have a decent grasp on how best to get CPU % utilized per container (see attached Grafana pic), but the numbers returned are pretty crazy. The math is right, best I can tell, but I'm curious as to why the data coming into InfluxDB is so vastly different than what is displayed in the cAdvisor UI (see attached InfluxDB pic). Maybe I've just missed something simple...?

![screen shot 2015-0

[2015-02-09 21:32] vishh commented on #499
Can you list `cpu_cumulative_usage` per container of host?
Which version of InfluxDB are you using? AFAIK there was a bug with derivatives in InfluxDB in the past.

[2015-02-09 21:53] jchauncey commented on #499
i dont think its the correct metric. the metrics reported to the influxdb driver are not the ones used in the cadvisor ui.

[2015-02-09 21:55] jchauncey opened #500 "docker now has a /stats endpoint"
https://github.com/docker/docker/pull/9984

Its in master and should be cut with version 1.5. I wonder if using this instead of having to mount the cgroups heirarchy would be better.

[2015-02-09 21:58] vmarmol commented on #500
Yeah we certainly should take advantage of this! It's been on our list waiting on 1.5 :)

Although we probably can't remove it just yet since there are some stats that Docker does not yet export that we use and we have to support pre-Docker 1.5.

[2015-02-09 22:03] cboggs commented on #499
That's what I suspected too, but then #405 seemed to suggest otherwise.

Here's the result set for a single container... surprised to see null values interleaved with valid values. I overlooked that last time in a rush. Oops. I imagine that is a contributing factor, would kind of explain the wild swings...

![screen shot 2015-02-09 at 14 53 39](https://cloud.githubusercontent.com/assets/3492944/61

[2015-02-09 22:27] rjnagal opened #501 "Investigate cpu usage for scraping diskio stats"
There are many files and a lot of parsing. Internally, we do diskio stats scraping every 10s.
That might be the way to go.

[2015-02-09 22:32] vmarmol commented on #499
The same stats used in the UI for CPU usage are pushed into InfluxDB. It is a cumulative CPU usage. The UI simply takes the difference and divides over the time period to produce the usage in cores.

@vishh are the null values due to the pushing of different disks?

[2015-02-09 22:34] jchauncey commented on #500
yeah having a feature flag that allowed you to use docker stats vs cgroup metrics would be a good way to solve that problem once its released.

[2015-02-09 22:34] vishh commented on #499
Thats what I suspect @vmarmol. @cboggs can you post the entire line in InfluxDB (all the stats) for container 'spoon-daves-dev'?

[2015-02-09 22:37] vmarmol commented on #500
We do detection today so we should be able to auto-detect and do the right thing. Would that work?

[2015-02-09 22:41] cboggs commented on #499
Sure thing as soon as I get off the bus. Is just a 1-minute sample
sufficient?
On Feb 9, 2015 3:35 PM, "Vish Kannan" <notifications@github.com> wrote:

[2015-02-09 22:47] vishh commented on #499
Yup. We push filesystem stats separate from cpu stats. I wonder if that
affects InfluxDB queries.

On Mon, Feb 9, 2015 at 2:41 PM, Cody Boggs <notifications@github.com> wrote:

[2015-02-09 22:57] jchauncey commented on #500
Yeah I think that would work. If I'm running 1.5 use stats and maybe give
me the option to get extras via mounts if they are not available via the
end point
On Feb 9, 2015 3:37 PM, "Victor Marmol" <notifications@github.com> wrote:

[2015-02-10 04:29] cboggs commented on #499
Sounds like you're onto something... Sequences that have FS stats are lacking CPU stats:

![screen shot 2015-02-09 at 21 27 54](https://cloud.githubusercontent.com/assets/3492944/6121537/95051d6e-b0a2-11e4-9bfd-002894fca077.png)

[2015-02-10 05:45] jchauncey commented on #499
Yeah I noticed this last week
On Feb 9, 2015 9:29 PM, "Cody Boggs" <notifications@github.com> wrote:

[2015-02-10 12:50] beorn7 opened #502 "Prometheus integration"
After our VC discussion, I thought I open an issue here to track the options and efforts for Prometheus integration.

I have looked a bit at the cadvisor code, and it seems to me that it should be relatively easy to (optionally) export a sub-set of metrics directly by the cadvisor binary (via an additional HTTP endpoint) using https://github.com/prometheus/client_golang . The sub-set should be def

[2015-02-10 14:45] cboggs commented on #501
:+1:
I noticed a pretty hefty load increase when I had Cadvisor running yesterday on a docker host with a couple TB of local storage, and a couple dozen du's running pretty much all the time. Stopped the Cadvisor container and the du's went away, and load returned to expected values.

Happy to gather more detailed stats if needed.

[2015-02-10 16:52] vmarmol commented on #502
This approach makes sense, I agree that we'd rather export the metrics here than have a separate collector process. We've been looking to export other cAdvisor metrics (latency and usage data) through Prometheus so this lines up nicely. It looks like we can register the custom Collector as well as the other collectors we'd want to use, nice! Looking forward to trying this out :) We'll certainly be

[2015-02-10 17:04] vmarmol commented on #501
What version of cAdvisor were you running? Any way that you could get how much CPU cAdvisor was using? :) I don't doubt we're doing some silly things around this...

[2015-02-10 21:15] vishh commented on #502
Is there a reason why the Prometheus server doesn't support a 'push' based
model? The reason I ask is that we can very easily have a cadvisor side-car
that can periodically push metrics to prometheus server. This is the model
we are trying to move towards.

On Tue, Feb 10, 2015 at 8:52 AM, Victor Marmol <notifications@github.com>
wrote:

[2015-02-10 21:49] vishh commented on #499
Filesystem stats should move to a separate series I guess. I wonder why
Grafana is not ignoring null values though.

On Mon, Feb 9, 2015 at 9:45 PM, Jonathan Chauncey <notifications@github.com>
wrote:

[2015-02-10 21:53] jchauncey commented on #499
I think having a series per stat would make the integration with grafana much easier. Then just have columns for hostname and container name for grouping.

[2015-02-10 21:56] vishh commented on #499
True. The reason for starting with a single series was to avoid metadata
duplication. The usability gains might actually outweigh the cost of
duplicating metadata.

On Tue, Feb 10, 2015 at 1:53 PM, Jonathan Chauncey <notifications@github.com

[2015-02-10 22:44] beorn7 commented on #502
@vmarmol As a minimal example for a program that scrapes a Prometheus client and does something with it, look at https://github.com/prometheus/prom2json (which reads protobuf and/or text format and spits out a similarly structured JSON - meant for people who like to use JSON query tool to process Prometheus metrics). Interestingly, it doesn't use the extraction library at all. It stays on the prot

[2015-02-11 03:12] cboggs commented on #499
Yea, not sure why Grafana is acting that way. Will see if I can figure anything out there.

Also :+1:  to what @jchauncey suggested. I've generally found much better query performance and flexibility when every metric is its own series. I'd love to give something more than an anecdote, but I haven't run any sort of benchmarks. Another day perhaps...

[2015-02-11 13:53] rbrutgers opened #503 "cadvisor Docker logs"
Hello,
    I think it would be very useful to display the tail logs of the containers on the UI as well.  What do you think?  Is this on the roadmap for this project?

[2015-02-14 01:24] vmarmol commented on #503
Unfortunately, it's not on the roadmap and we probably won't add it. There are already quite a few projects working with logs and it is a big enough work area that it's not something we can go into lightly.

I don't think we're a full-features Docker UI (which is fine, it wasn't the initial goal :) ) so there are a bunch of stuff missing in that regard already.

[2015-02-15 02:11] rbrutgers commented on #503
Ok, thanks.  Do you recommend any logging tools I could use in conjunction with cadvisor?  Or are there any ways to extract functionality of cadvisor to my own personal ui?

[2015-02-15 02:14] vishh commented on #503
You can try using [fluentd](http://www.fluentd.org/guides/recipes/docker-logging).

[2015-02-15 06:55] knodir opened #504 "Error: not enough arguments in call to theConn.StartTransientUnit"
Hello,

I am trying to use [Go client](https://github.com/google/cadvisor/tree/master/client) to get the status of my Docker instances. However, I get following error message when I execute

`$ go get github.com/google/cadvisor/manager`
\# github.com/docker/libcontainer/cgroups/systemd
.gvm/pkgsets/go1.4/global/src/github.com/docker/libcontainer/cgroups/systemd/apply_systemd.go:64: not enough argu

[2015-02-15 16:53] vishh commented on #504
'go get' will try to compile cadvisor. Try running 'go get -d
github.com/google/cadvisor'. To build cadvisor, you need to use 'godep' -
'godep go build github.com/google/cadvisor'.

Tip: Install 'godep' as follows: 'go get github.com/tools/godep'. Make sure
binaries inside 'GOBIN' are accessible

On Sat, Feb 14, 2015 at 10:55 PM, Nodir Kodirov <notifications@github.com>
wrote:

[2015-02-15 20:30] knodir commented on #504
Thanks for the suggestion! Followed the steps, but still get the same error.

I think `StartTransientUnit()` of `dbus` type is being called incorrectly. The [current implementation](https://github.com/coreos/go-systemd/blob/master/dbus/methods.go#L136) of the `dbus.Conn.StartTransientUnit()` requires 4 arguments

`func (c *Conn) StartTransientUnit(name string, mode string, properties []Property, c

[2015-02-15 20:38] vmarmol commented on #504
Hi Nadir,

What is the output of `godep go build github.com/google/cadvisor`?

The function's signature may have changed but all of cAdvisor's dependencies are forked with Godep so those changes should not affect the build.

[2015-02-15 21:01] knodir commented on #504
I get `godep: No Godeps found (or in any parent directory)` when I do `godep go build github.com/google/cadvisor` from `$HOME`.

Then I manually got into the folder by `cd $GOPATH/src/github.com/google/cadvisor` and run `godep go build ./` It run for 5-6 seconds and did not have any output. I thought "no output" means build is successful. Isn't it the case?

[2015-02-15 21:21] vmarmol commented on #504
Sorry, we should have specified that you needed to be inside the cAdvisor repo for it to work. Yes, the build succeeded and the cAdvisor binary should we in you current working directory. Let us know if htat is not the case.

If you're looking for a Docker image, in the deploy directory there is a `build.sh` that creates a `google/cadvisor:canary` image for you.

[2015-02-15 22:48] knodir commented on #504
Yes, I do get cAdvisor binary on CWD. But, I am not looking for a Docker image. I do have cAdvisor  running with other Dockers, and I am trying to retrieve the status information via [Go client](https://github.com/google/cadvisor/tree/master/client).

I'm adopting code from [cadvisor/pages/containers.go](https://github.com/google/cadvisor/blob/master/pages/containers.go#L186) to retrieve current C

[2015-02-16 00:09] vmarmol commented on #504
Ah I see, you're trying to connect and query a running cAdvisor. For that you will need to use the client as you mentioned. Don't use the `manager` or `pages/container.go` those are part of the implementation of cAdvisor and won't be quite useful outside of it. The client will query cAdvisor through the REST API and return the results. For your example you should be able to do something like this:

[2015-02-16 01:46] knodir commented on #504
Okay, it seems I quickly got distracted with nice looking web UI, and did not look at the data structures available at `info/container.go`. I think `info/container.go` suits my needs better than `pages/container.go`. I played with `ContainerInfo`, `ContainerStats`, `ContainerSpec` in `info/container.go` and they seem to provide everything I need. Here is the direction I'm headed now.

[code]

Whic

[2015-02-16 01:46] #504 closed

[2015-02-16 04:51] difro opened #505 "v0.9.0 fails to start on Centos6"
Running v0.9.0 (latest at docker hub) on Centos6 fails with following error.
[code]

/sys/class/net/ does contain a file called ```bonding_masters```
[code]

Maybe should skip over non-directory, non-symlink files?

[2015-02-16 06:18] rjnagal commented on #505
Thanks for reporting @difro. We should filter these out.

[2015-02-16 07:17] #505 closed

[2015-02-16 13:22] Rob-Johnson opened #508 "Storing Additional Metadata"
Hello,

Is there anyway I can attach arbitrary metadata to the rows/points stored by cadvisor?

We're using cadvisor to export container metrics from each of our application servers into Influxdb. Servers are grouped into clusters. What we'd like to do it store additional metadata, such as the cluster name, with each point cadvisor stores, so we can query stats by this additional metadata.

Does c

[2015-02-16 18:11] vishh commented on #508
You might want to take a look at [heapster](https://github.com/GoogleCloudPlatform/heapster). It was built originally to collect data from all cadvisor nodes and attach arbitrary metadata. It might not work out-of-box for your use case, but it should not be too difficult to extend heapster to satisfy your use case.

[2015-02-16 22:26] vmarmol commented on #508
Similar to what @vishh suggested, you can run a small daemon that queries cAdvisor and exports the data as you'd like. Heapster does this at the cluster level and is somewhat opinionated on how it looks to exports data. Depending on your goal that or your custom exported would work best.

[2015-02-17 01:48] rbrutgers commented on #503
Ok thanks.

[2015-02-17 01:48] #503 closed

[2015-02-17 10:17] Rob-Johnson commented on #508
Thanks for your suggestions, I'll look at whether we can adapt Heapster for what we need.

[2015-02-17 10:17] #508 closed

[2015-02-18 00:42] cburroughs opened #513 "Allow root url to be defined aka be nicer to reverse proxies"
Right now cadvisor assumes it's in charge of `/` and uses absolute urls for everything.  This makes it difficult to put a reverse proxy infront and serve cadvisor from differnt urls.  For example, I'd like have Apache httpd listen on port 80, use ldap for ACLs, and then proxy `:80/cadvisor/`to cadvisor running on a port that's only on localhost.  Either (A) avoidance of absolute urls (B) allow som

[2015-02-23 19:42] vmarmol opened #527 "Don't fail cAdvisor startup due to OOM parser not being able to start"
We should fail gracefully

[2015-02-23 19:42] vmarmol opened #528 "Reap OOMs in systemd systems"
Looks like systemd uses journald which does not log to `/var/log/messages` which breaks our OOM reading today

[2015-02-23 19:43] vmarmol commented on #527
Assigning to myself :)

[2015-02-23 19:43] vmarmol opened #529 "Integration tests: Nicer output"
We don't format the error output correctly (\n -> actual new line) so it looks pretty imparsable today.

[2015-02-23 20:52] #527 closed

[2015-02-23 21:21] cburroughs opened #531 "sort subcontainers list in webui"
Currenly `containers/SUB` provides a list of Subcontainers in which (as far as I can tell) is arbitrary order.  It would be nice if these were sorted lexogrphically by name (which woud also sort anything named with a time based UUID).

[2015-02-23 22:22] rjnagal commented on #528
@dchen1107

[2015-02-23 23:02] #531 closed

[2015-02-23 23:16] cburroughs commented on #531
That was fast, thanks!

[2015-02-23 23:29] vmarmol commented on #531
It was very specific and easy to do :)

[2015-02-24 06:05] pireslaert commented on #505
When is that going to be released  and be part of the docker image?

Cheers,

[2015-02-24 07:09] vmarmol commented on #505
We've been waiting to release it as part of 0.10.0 but that has taken longer to get out than expected. We'll build a 0.9.1 with this fix tomorrow.

[2015-02-24 07:15] pireslaert commented on #505
great!

Cheers

Sent from my BlackBerry 10 smartphone.
From: Victor Marmol
Sent: Tuesday, 24 February 2015 6:09 PM
To: google/cadvisor
Reply To: google/cadvisor
Cc: pireslaert
Subject: Re: [cadvisor] v0.9.0 fails to start on Centos6 (#505)

We've been waiting to release it as part of 0.10.0 but that has taken longer to get out than expected. We'll build a 0.9.1 with this fix tomorrow.

---
Reply t

[2015-02-24 08:01] dwitzig opened #533 "Incorrect path docker/libcontainer/network"
Since this (https://github.com/docker/libcontainer/pull/367) merge in docker/libcontainer
the following paths are incorrect
https://github.com/google/cadvisor/search?utf8=✓&q=%22github.com%2Fdocker%2Flibcontainer%2Fnetwork%22&type=Code

[2015-02-24 15:53] vmarmol commented on #533
Libcontainer recently updated their API which made a lot of breaking changes. We have not yet updated to the new API. However, since we use godep we are not affected by this change. Our builds should be clean, if not let us know :)

More detail on building: https://github.com/google/cadvisor/blob/master/docs/build.md

[2015-02-24 15:53] #533 closed

[2015-02-25 02:50] vmarmol commented on #505
`google/cadvisor:0.10.0` was just pushed and should be available. It will go through our release testing and marked latest today/tomorrow.

[2015-02-25 09:59] denderello commented on #152
We had a discussion about this topic today and would help us a lot to lower the amount of data that is transferred to InfluxDB because we are not interested in all data collected by cAdvisor. What's your opinion on this?

[2015-02-25 17:51] rjnagal commented on #152
@denderello This is doable. We can add a flag(comma-separated values) or a config file to whitelist columns to push.

[2015-02-25 18:21] thaJeztah commented on #152
Does cAdvisor use the docker daemon to get the list of containers? If it does, the "labels" proposal (https://github.com/docker/docker/pull/9882) could offer additional ways to filter containers; e.g. all containers having a label `com.google.cadvisor.group=some-group`

[2015-02-25 18:23] vmarmol commented on #152
It does not, but it can get labels from Docker when those are available. We
do talk to the Docker API to get extra info about the containers.

On Wed, Feb 25, 2015 at 10:21 AM, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2015-02-25 19:49] denderello commented on #152
@rjnagal sounds like a good approach. Judging from our use cases multiple expressions could definitely make it easier instead of trying to come up with one big expressions that tries to fit all matches.

[2015-02-25 22:41] samek opened #537 "google/cadvisor:0.10.0 over marathon"
Hi,
I wanted to start the 0.10.0 from marathon but it keeps restarting.
Looking at the messos logs:
----------------------------------------------------------------------------------------------------------
I0225 23:25:19.067898   414 exec.cpp:132] Version: 0.21.1
I0225 23:25:19.070999   438 exec.cpp:206] Executor registered on slave 20150225-221350-3238002698-5050-20322-S2
E0225 22:25:19.087483 0

[2015-02-25 22:49] vmarmol commented on #537
I'm not super familiar with running things on Marathon so bear with me here :)

To specify a different port for cAdvisor you need to tell the cAdvisor to listen on a different port through a `--port` flag. I vaguely remember that Mesos ran Docker containers in `--net=host` which means that it can't do the port mapping (although you mentioned that it did it for other servers so maybe I'm confused).

[2015-02-25 23:53] samek commented on #537
Something is not right and I don't know what is it :(
Ok with the --port flag it starts and it runs but i don't have any access to it.  (no port mapping)

CONTAINER ID        IMAGE                    COMMAND               CREATED             STATUS              PORTS               NAMES
46d3ed240800        google/cadvisor:0.10.0   "/usr/bin/cadvisor"   37 seconds ago      Up 36 seconds

[2015-02-26 03:06] pireslaert commented on #505
is that part the latest docker image?

[2015-02-26 03:16] vmarmol commented on #505
Just pushed to latest, you should see it now.

[2015-02-26 04:12] pireslaert commented on #505
awesome, working now!

[2015-02-26 04:15] vmarmol commented on #505
Awesome!

On Wed, Feb 25, 2015 at 8:12 PM, pireslaert <notifications@github.com>
wrote:

[2015-02-26 09:20] samek commented on #537
Works like a charm.

my json was wrong, network and portmappings was outside of docker .....

--------
{
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "google/cadvisor:0.10.0",
      "network": "BRIDGE",
      "portMappings": [
        {
          "containerPort": 8080,
          "hostPort": 0,

          "protocol": "tcp"
        }
      ]
    },
    "volumes": [
      {

[2015-02-26 13:41] discordianfish commented on #502
@vmarmol Let me know if I can help. I've wrote the prometheus container exporter: https://github.com/docker-infra/container_exporter and would be happy to deprecated it in favor our prometheus support in cadvisor since using libcontainer in a 'engine agnostic' way isn't trivial and the api breaks every other day..

[2015-02-26 16:24] vmarmol commented on #537
Awesome! Thanks for getting back to us btw.

[2015-02-26 16:24] #537 closed

[2015-02-26 16:44] vmarmol commented on #502
We'd certainly be happy to get the help :) My thinking was that we'd implement a custom collector that would get the information from all containers and synthesize it into metrics. The hope was to be able to do most of this by introspection so that we wouldn't have to change the code each time we changed a field in ContainerStats.

WDYT?

[2015-02-26 17:57] discordianfish commented on #502
@vmarmol Yes, that sounds good. Can't say much about the cavisor internals (introspection or not) but from a prometheus perspective implementing a [Collector](https://godoc.org/github.com/prometheus/client_golang/prometheus#Collector) would be the right way (similar to container_exporter).

[2015-02-26 18:05] vmarmol commented on #502
I just did one for Kubelet in Kubernetes and was surprised at how easy it was :)

For cAdvisor, with a reference to the manager you can call [SubcontainersInfo](https://github.com/google/cadvisor/blob/master/manager/manager.go#L55):

[code]

That should return the latest stats for all containers on the machine.

[2015-02-26 18:32] discordianfish commented on #502
@vmarmol Ah nice! Ok, I think this all looks pretty straight forward:

- Implement a Collector which holds a reference to the manager to get the stats
- Instantiate the Collector in main.go(?) and register the metrics handler

One thing though: Does SubcontainersInfo() return all containers as a flat list or do I need to somehow recursively traversal all Subcontainers?

[2015-02-26 18:39] vmarmol commented on #502
It will return them all as a flat list. Instantiating in main.go SGTM.

The other interesting question will be labels (for identifying Docker containers), but we can tackle that later.

[2015-02-26 18:43] discordianfish commented on #502
Oh right, the ContainerInfo doens't include the Docker metadata. Yes, we need to solve that somehow, otherwise the metrics won't be very useful.

[2015-02-26 18:46] vmarmol commented on #502
It does include them, but I wonder how we expose them through labels (from my experiments they are nested, but maybe that's not the case). ContainerInfo has a ContainerRef which uses the "docker" Namespace and gives the ID and name as Aliases:

https://github.com/google/cadvisor/blob/master/info/container.go#L61

[2015-02-27 08:57] danielkraaij commented on #306
I am terrible sorry for not getting back to you earlier with this. I just ran some tests with the latest version and all seems to be working just fine now. So somehow the problem got fixed along the way :)

Here is the output of my /validate

[code]

[2015-02-27 09:56] lguminski opened #544 "Containers not listed. Failed to create existing container (none of the resources are being tracked)"
The list of containers in UI is empty. Logs show messages of this sort:
[code]
Here is how I run cAdvisor
[code]
Is there an option missing or is this something about host system?

Below there is the output of /validate
[code]

[2015-02-27 10:37] discordianfish commented on #502
@vmarmol I'm working on a PR now and we can discuss details there. Once thing that I think would be useful is to have the image name and tag as labels. That's something we probably need to add somehow.

[2015-02-27 14:59] samek opened #546 "Grouping by App (marathon)"
Hi,
now that i have cadvisor up and running through marathon I'm getting data into the influxdb.

The problem that I'm facing is that I don't know which app is under docker name.

Let me try to explain:
When marathon starts a docker it gives him a name for example
![screen shot 2015-02-27 at 15 46 58](https://cloud.githubusercontent.com/assets/125693/6414464/e739a142-be97-11e4-9f09-0d5f2677f4b6.pn

[2015-02-27 16:51] vmarmol commented on #546
Today we have a concept of "namespaces" for container names and those come with a list of aliases used to address the container. Docker containers are under the "docker" namespace and its aliases are the Docker ID and name. This feature may be served by the "marathon" namespace and have the app ID as one of the aliases. This we will then push to the InfluxDB backend.

We probably don't have the ba

[2015-02-27 16:54] vmarmol commented on #544
Thanks for reporting @lguminski. This looks like a regression due to a new feature. We pulled back `0.10.0` due to a bug yesterday. We'll fix this one too for when we release `0.10.1`. If you run cAdvisor `0.9.0` do you see data the container in question? The one with Docker ID `36f4d2ff87ae3793d46dbd50691cd85257e69f2a3711206460e18d967c03b8c9`

[2015-02-27 17:15] vmarmol commented on #306
No worries and thanks for the verification! We've fixed a lot of misc errors in 0.9.0 so no surprise it works better now.

Closing, and feel free to open another issue if you run into any trouble.

[2015-02-27 17:15] #306 closed

[2015-02-27 17:40] rjnagal commented on #546
If we did a generic change of exporting aliases to storage backend,
wouldn't it resolve this problem too?

On Fri, Feb 27, 2015 at 8:51 AM, Victor Marmol <notifications@github.com>
wrote:

[2015-02-27 17:44] vmarmol commented on #546
Yes, you need to do both (I *think* we export the aliases today, if not we should). Here the aliases they're referring to are not a Docker container name or ID, is that correct @samek?

[2015-02-27 17:46] #544 closed

[2015-02-27 17:52] rjnagal commented on #546
I see, the request is for exposing an env variable. This seems better handle in heapster aggregation where we can add arbitrary tags, or by exposing custom metrics hooks in cAdvisor.

@samek We do want to custom hooks to add extra columns, but we'll probably not get to it in near future.

[2015-02-28 01:49] nstott opened #551 "cadvisor with vanilla lxc, (i.e. not docker)"
Is is possible to run cadvisor without docker, i.e. on raw lxc containers / rocket / etc

It seems like there are explicit checks that explicitly require docker, and It's not clear how to get around that

Thanks,

[2015-02-28 02:02] rjnagal commented on #551
It should work without docker. There is a special docker handler endpoint
/docker where you won't see anything. cAdvisor will spew some errors that
it didn't find docker, but would continue on.

Please file an issue if you encounter any problems running without docker.

On Fri, Feb 27, 2015 at 5:49 PM, Nick Stott <notifications@github.com>
wrote:

[2015-02-28 13:10] samek commented on #546
@vmarmol  yes *I'm not 100% sure but* aliases are exported.
Problem is that  there's no link to the marathon task id/app which is different.
And If you want to autoscale depending on the app which is run by marathon you would also need at least MARATHON_APP_ID to go with it.

Are you guys at all parsing json from the /var/lib/docker/containers/XXXXX/config.json ?

[2015-02-28 13:57] nstott commented on #551
Thanks, I was confused by the docker message, I'll close this.
I think this is a problem with the cgroup mounts within the container.

[code]

[2015-02-28 13:57] #551 closed

[2015-02-28 16:22] vmarmol commented on #551
@nstott the first error `Docker registration failed` means we didn't find the Docker daemon so we won't provide Docker-specific data. That's fine, we'll continue running without it.

The second error `Raw registration failed` means we couldn't find the cgroups. That one is not fine since we have no way to detect containers in that case. If you run into this  let us know and we have help debug.

[2015-02-28 16:24] vmarmol commented on #546
We don't read that file, but we read the libcontainer config [here](https://github.com/google/cadvisor/blob/master/container/docker/handler.go#L144). This config does have the [env vars](https://github.com/google/cadvisor/blob/master/Godeps/_workspace/src/github.com/docker/libcontainer/config.go#L84) so it should have the data you need.

[2015-03-02 22:35] vmarmol opened #554 "cAdvisor API v2: Has<field> should be in ContainerStats"
We should have the Has<field> in both the Stats and the Spec. Having to handle both today hes been a pain for all customers.

[2015-03-02 23:13] rjnagal commented on #554
Good point. Will redo stats this week.

[2015-03-05 16:30] simon3z opened #562 "cAdvisor Plugins and PCP"
Reading https://github.com/GoogleCloudPlatform/kubernetes/issues/990 I saw:

Is this still the current design? Having pluggable cAdvisor backends?

If so I think we should start considering PCP as a possible backend: http://pcp.io/

[2015-03-05 16:34] vmarmol commented on #562
There are currently two ways to export data from cAdvisor: backends or sidecars. Backends are compiled into cAdvisor and can be used natively. Sidecars are containers that run alongside cAdvisor and fetch data from it. They then push it to the desired backend. We've been advocating for sidecards recently. They're easier to maintain if someone doesn't volunteer to actively maintain the backend :)

[2015-03-05 21:36] simon3z commented on #562
@vmarmol I thought that cAdvisor was pulling the data from the backends to expose it through its api, but from your description it seems the other way around: cAdvisor providing metrics for collectd/pcp.

If that's the case (cAdvisor providing metrics for collectd/pcp) does it mean that cAdvisor will be focused/specialized only on container metrics?

[2015-03-05 22:08] rjnagal commented on #562
Collecting custom metrics is a goal for cAdvisor, but right now we do push to collectors like you said.
The plugin in roadmap is supposed to add cAdvisor data with all the stuff that collectd already collects and push it out to backend storage.

So you are right, there is no pull backend for cAdvisor right now.

[2015-03-06 17:07] rbanks74 opened #566 "Add Filtering list of subcontainers"
It would be nice to have the subcontainers in a sorted order if possible by subcontainer name on the UI, as well as a search bar to quickly filter subcontainers by name.

[2015-03-06 17:10] vmarmol commented on #566
The sort order of the containers should be fixes in 0.10.1 via #532. Are you finding that not to be the case? I will re-name this issue to deal with filtering.

[2015-03-06 17:15] rbrutgers commented on #566
I see the issue, I'm running 0.9 :) .  But the filtering would be a nice touch too.  Thanks!

[2015-03-06 17:15] fche commented on #562
Is the medium-term goal to have data collectors that are peers to cadvisor send data to the same storage backend?  Or to have cadvisor participate in that pipeline as an intermediary?

[2015-03-06 17:19] vmarmol commented on #562
@fche yes to collectors initially. Eventually cAdvisor will participate.

[2015-03-06 17:26] fche commented on #562
Could you by any chance point this k8s/cadvisor neophyte at the appropriate integration interfaces as to how to be a peer to cadvisor?

[2015-03-06 17:33] vmarmol commented on #562
For gathering data from cAdvisor the best thing is to use the [REST API](https://github.com/google/cadvisor/blob/master/docs/api.md) or the [Go client library](https://github.com/google/cadvisor/blob/master/docs/clients.md)

[2015-03-06 17:44] fche commented on #562
@vmarmot, no, that's a separate thing.  We want to supplement the data from cadvisor, not consume data from it.

[2015-03-06 17:46] vmarmol commented on #562
Ah I see what you mean. I'm guessing you'd like some way to get where cAdvisor is pushing data to? We don't have an interface for that today unfortunately.

[2015-03-06 17:48] vmarmol commented on #562
An easy hack today is that however you configure cAdvisor you can configure your other collector. That would not require you to get any information from cAdvisor.

[2015-03-06 17:51] fche commented on #562
@rjangal, can you confirm this advice?  i.e., to bypass cadvisor for collectd/pcp-type data supplementation?

[2015-03-07 22:30] simon3z commented on #562
@vmarmol I think it would be beneficial is someone can explain what this meant:

From: https://github.com/GoogleCloudPlatform/kubernetes/issues/990

/cc @vishh @lavalamp @thockin

What was the idea there?
What was the cAdvisor plugin for collectd going to do? Get metrics from collectd?

[2015-03-09 22:02] rjnagal opened #568 "Integration test is flaky"
The integration tests have lately been flaky. Sometimes the failure is related to docker daemon failing to create a container, or errors in rest api returns.

I tried running the test manually targeting our test machines, and it worked every time. I think the first thing would be to dump more state for docker and cadvisor when the test fails.

[2015-03-09 22:56] vmarmol commented on #568
And retry the operations we see fail.

[2015-03-10 17:23] vishh commented on #562
AFAIK cadvisor will be one of the plugins for collectd. collectd along with
other application metrics will also be able to export system resource usage
metrics exported by cadvisor.
What is your desired behavior? Are you thinking about having collectd
export per container metrics?

On Sat, Mar 7, 2015 at 2:30 PM, Federico Simoncelli <
notifications@github.com> wrote:

[2015-03-11 11:19] gdurr commented on #499
I recently met the same issue with these missing values in the stats series. That makes CPU derivatives crazy in grafana.
Did somone found a particular setting in grafana to skip this empty fields ?
Are there any plan to make an udpdate on influxDB storage ?

[2015-03-12 04:26] nashasha1 opened #577 "open /sys/class/dmi/id/product_uuid: no such file or directory"
I don't know why my EC2 ubuntu vm doesn't exist file -- /sys/class/dmi/id/product_uuid
so cadvisor crash when  getMachineInfo() was called.
will you handle this?

[2015-03-12 04:52] rjnagal commented on #577
This is already fixed in head by #570. cAdvisor from head should work. We'll make a release with the fix soon.

[2015-03-12 15:54] vmarmol commented on #577
@nashasha1 closing this issue since the fix is in and waiting a release. Feel free to file an issue if you run into any problems and thanks for reporting!

[2015-03-12 15:54] #577 closed

[2015-03-12 16:12] vmarmol commented on #562
@simon3z as @vishh mentioned the original plan was to have collectd consume cAdvisor data and export that. I don't think that's a route we're currently pursuing.

[2015-03-12 16:36] vmarmol commented on #499
@gdurr, yes we're planning on moving the disk data to its own series.

[2015-03-12 21:53] lesaux commented on #474
@ankushagarwal I tried your graphite driver implementation and it seems to be working well!
I compiled from https://github.com/ankushagarwal/cadvisor/tree/graphite-driver
ran cadvisor with the following params:
-logtostderr -storage_driver="graphite" -storage_driver_host="192.168.0.61:2003" -storage_driver_db="graphite"  -allow_dynamic_housekeeping=false -housekeeping_interval=10s

and got the fol

[2015-03-13 06:34] gdurr commented on #499
@vmarmol. Good news . Thanks for this.

[2015-03-15 08:58] SamMarkowitz opened #591 "Missing space between words "in case" in docs/web.md"
In the note at the bottom of the file.

[2015-03-15 14:55] juliusv opened #592 "`manager.SubcontainersInfo` reports Docker containers multiple times"
When I ran cAdvisor locally against some Docker containers, I noticed that the exported Prometheus metrics were present three times for every Docker container (error reporting for this triplication in the Prometheus client library was turned off by default, otherwise it would have resulted in an error).

For example, `container_cpu_usage_seconds_total` under `/metrics`:

[code]

Digging deeper, I

[2015-03-15 15:41] lesaux commented on #474
In the meantime, I ship docker container metrics to graphite this way: https://github.com/lesaux/diamond-DockerContainerCollector

[2015-03-15 16:59] vmarmol commented on #592
Thanks for reporting! Sent out #593 to fix.

[2015-03-16 01:35] #592 closed

[2015-03-16 01:36] rjnagal commented on #554
This is done.

[2015-03-16 01:36] #554 closed

[2015-03-16 01:41] #591 closed

[2015-03-16 12:39] gouyang opened #595 "helpers.go is importing a package that does not exist"
"github.com/docker/libcontainer/network" in the import section is not existing any more, the network package is re-factoring into file "network_linux.go" in "github.com/docker/libcontainer" package.

[2015-03-16 15:24] vmarmol commented on #595
cAdvisor uses [godep](https://github.com/tools/godep) so our dependencies area version in the "Godeps" directory. We haven't updated to the latest libcontainer and probably will soon. We have some instructions about cAdvisor building [here](https://github.com/google/cadvisor/blob/master/docs/build.md), let us know if you run into any trouble with those.

Closing this issue for now, but feel free t

[2015-03-16 15:24] #595 closed

[2015-03-16 20:59] runningman84 opened #596 "Allow subfolder hosting, stop using absolute paths"
There is a cool container called frontdoor:
https://registry.hub.docker.com/u/clue/frontroute/

Cadvisor doesn't work good with it. The css stuff is lost due to aabsolute paths in the cadvisor html code.

[2015-03-16 23:09] vmarmol opened #597 "Use Alpine Linux Busbybox image"
Our current is deprecated in favor of it: https://github.com/gliderlabs/docker-alpine

[2015-03-17 01:01] #597 closed

[2015-03-19 03:50] Snapbug opened #601 "cadvisor won't start dockerized"
I wanted to enable prometheus support for cadvisor, which doesn’t appear to be in the latest/beta/canary builds available from the docker registry (the /metrics endpoint redirects to /containers/ causing an error when prometheus scrapes it).

I cloned the repository (changeset: a973ddb) and used the deploy/build.sh script to build and generate the docker image. However running the generated image

[2015-03-19 05:00] vmarmol commented on #601
Yes you're right, looks like I didn't get this sufficiently :P will revert that tomorrow. Thanks for catching and reporting! There is an issue out for using the docker builds in or integration tests, but we're not there yet.

[2015-03-19 16:09] #601 closed

[2015-03-21 00:27] vishh opened #605 "Support resolution in stats API"
Now that we have time range for stats queries, it will be helpful for users to specify a `resolution` which is currently 1 second by default.

[2015-03-21 00:30] vmarmol commented on #605
We already have a global flag for collection interval. Do you mean: ask for data at 2s intervals? We can do this only if your interval > our collection interval. With dynamic housekeeping it gets interesting, but we can return an error in those cases.

[2015-03-21 00:30] vmarmol commented on #605
The user would not get data that was nice in their resolution interval unless it is a multiple of our collection interval though.

[2015-03-21 00:32] vishh commented on #605
Yes. The API should allow querying stats at a lower resolution. What is the
issue with dynamic housekeeping?

On Fri, Mar 20, 2015 at 5:30 PM, Victor Marmol <notifications@github.com>
wrote:

[2015-03-21 00:37] vmarmol commented on #605
Do you mean an API to dynamically adjust the collection frequency?

[2015-03-21 00:38] vishh commented on #605
Nope. I mean just for the query.

On Fri, Mar 20, 2015 at 5:38 PM, Victor Marmol <notifications@github.com>
wrote:

[2015-03-21 00:48] rjnagal opened #606 "Separate API object from info objects"
Move public API objects from info/v1 and info/v2 to api.

Use reflective conversions to fill in API objects from internal structure.

[2015-03-21 00:50] vmarmol commented on #605
Ah I see what you mean. We should be able to as long as the requested resolution is > the collection interval (we can't do 0.5s if we gather every second). If the resolution is not a multiple of the collection interval then you may not get stats as you expect. For example, if we collect every 2s and user asks for resolution of 5s we'd need to interpolate the first or only do every 2 of the user's

[2015-03-23 06:44] rjnagal opened #607 "Add documentation for 2.0 API"
Add documentation explaining 2.0 API. Mark it as beta.

Resource names to cover: /stats, /spec, /summary, /machine, /version, /attributes.

We have the basic set of 2.0 APIs ready. Let me know if we didn't cover any features we initially discussed.

[2015-03-23 14:09] kargakis opened #608 "Replace deprecated goauth2 package"
https://code.google.com/p/goauth2/

[2015-03-23 15:20] vmarmol commented on #608
@kargakis would you happen to know if the new one is a drop-in replacement?

[2015-03-23 15:24] kargakis commented on #608
@vmarmol unfortunately no it's not.

[2015-03-24 18:16] #608 closed

[2015-03-27 19:25] roldancer opened #616 "I0327 19:18:36.727089 00001 storagedriver.go:92] No backend storage selected"
Hi All,
    I'm trying to execute cAdvisor in an Redhat Atomic Host (GA), I got the following error, any idea?

I0327 19:18:36.727089 00001 storagedriver.go:92] No backend storage selected
log: exiting because of error: log: cannot create log: open /tmp/cadvisor.23777f6a4bd2.root.log.INFO.20150327-191836.1: permission denied

I'm using the following parameters:

docker run -ti --volume=/:/rootfs:r

[2015-03-27 19:49] roldancer commented on #616
Hi All, if I run the container in previleded mode, it works OK .... any  idea ?

docker run -d --volume=/:/rootfs:ro --volume=/var/run:/var/run:rw --volume=/sys:/sys:ro --volume=/var/lib/docker/:/var/lib/docker:ro --publish=8080:8080  --name=cadvisor --privileged=true google/cadvisor:latest

[2015-03-27 19:56] vmarmol commented on #616
@roldancer it looks like cAdvisor is not able to write to its log files. For some reason it is unable to open a file in the container's /tmp. Since it is an Atomic host, it sounds like an SELinux thing.

To prove that theory, can you try running without privileged with `--logtostderr`:

[code]

[2015-03-27 20:31] roldancer commented on #616
Hi @vmarmol, your theory is correct, cadvisor work OK with parameter "--logtostderr".

Many thanks for your help

[2015-03-27 20:48] roldancer commented on #616
Hi @vmarmol, I found a new error when using the parameter "--logtostderr", containers are not discovered, this is the cadvisor's log, I think SELinux is restricting some operations ...

W0327 20:26:14.555638 00001 handler.go:534] Error while processing event ("/var/lib/docker/devicemapper/mnt/623abb2aa2cfd323fadd29f02f9f84d266c91a7a7a778999c7fec3441753427d/rootfs/rootfs/sys/fs/cgroup/cpu,cpuacct/s

[2015-03-27 20:53] vmarmol commented on #616
Yeah cAdvisor tries to look at a lot of places and sometimes we can't without being root. SELinux restricts some of that. This looks like our container detection inotify is failing. We still manually check every minute so containers should show up (do they?) after ~1min.

I'll take a closer look later today, these errors shouldn't be happening anyways.

[2015-03-27 21:12] roldancer commented on #616
Many thanks for your help,

[2015-03-31 01:18] perezd opened #620 "502 when visiting /docker/<id> on ARM-based platform"
So, I'm running [armhf version of docker](https://packages.debian.org/jessie/docker.io) on a Raspberry Pi 2. On this OS, I'm running [Dave Cheney's version of go1.4 for armv7/multiarch](http://dave.cheney.net/unofficial-arm-tarballs)

I've compiled cadvisor and its dependencies myself and produced a static binary, which actually runs! Wow! However, visiting `http://<ip>:8080/docker/<docker_id>` re

[2015-03-31 02:48] rjnagal commented on #620
Can you check the number of cores reported by cgroups? Looks like we are picking an invalid number there.

[2015-03-31 03:25] vmarmol commented on #620
@perezd you can get this from `cpuacct.usage_percpu` which is usually under `/sys/fs/cgroup/cpuacct`

[2015-03-31 16:17] perezd commented on #620
I see 4 large numbers when executing `cat /sys/fs/cgroup/cpuacct`

[2015-03-31 16:32] perezd commented on #620
according to: https://golang.org/src/runtime/slice.go

[code]

So perhaps we're sticking a huge number in as the len?

[2015-04-01 09:19] joelchen opened #621 "Feature Request: Alert (e.g. email) when container restarts/crashes/fails/etc"
Hi cAdvisor Team,

Thank you for building a containers monitoring system for the open source community.

I would like to request the feature of alerting (e.g. email via Gmail) when something happens to each container. Please advise if this is the right place to request such a feature, and whether there are already open source systems that alert users of containers' health which is usable on CoreOS

[2015-04-01 15:44] vmarmol commented on #621
Hi @joelchen,

cAdvisor may be a bit too low level on the stack for alerting and the like. What we've seen others do is have cAdvisor export data to monitoring systems that can graph, visualize, and alert on that data. It brings more flexibility and scales better for clusters. One that I've heard use a lot recently is [Prometheus](http://prometheus.io/) You should be able to get that setup in Core

[2015-04-01 18:57] imrangit commented on #499
What is the best way to plot cpu_cumulative_usage in grafana?

I am using this query:

select  derivative(cpu_cumulative_usage) from "stats" where $timeFilter and container_name='$Containers' group by time($interval)

And which format should I keep in Left Y axis?
Please advise.

[2015-04-03 14:58] jdef opened #628 "data race in v0.10.1"
running with kubernetes kubelet integration. FWIW from my (very brief) review of the v0.11 code I think it's likely that the problem exists there too.

[code]

[2015-04-03 14:59] jdef commented on #628
xref https://github.com/mesosphere/kubernetes-mesos/issues/197

[2015-04-03 16:23] vmarmol commented on #628
Looking at the referenced files:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/Godeps/_workspace/src/github.com/google/cadvisor/manager/manager.go#L585
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/Godeps/_workspace/src/github.com/google/cadvisor/storage/memory/memory.go#L41

We don't make a copy of the returned stats which triggers the race detector (I think). The

[2015-04-04 12:27] jdef commented on #628
Pretty sure it's because memory.StatsBuffer is returning addresses that point to locations of it's internal circular buffer that are later overwritten. The writes are guarded by a lock, but since the pointers to the internal buffer locations are exposed externally they are not guarded appropriately.

I have a patch that (I think) resolves this. Will file a PR.

[2015-04-04 15:37] #628 closed

[2015-04-05 05:03] knodir opened #631 "cadvisor/client does not work on CoreOS"
Hi,

I'm using `github.com/google/cadvisor/client` to monitor Dockers running on CoreOS machine. My code works on Ubuntu but fails with:
`Could not get container info [...] failed to get container [...] unknown container [...]`
error on CoreOS. Here is my monitoring application code:

[code]

Which gives me following error message:

[code]

Is this known problem? Looking through previous issues, I

[2015-04-05 06:01] rjnagal commented on #631
The `container` endpoint looks for containers under the specified cgroup path - in your case /docker/2da.... This is the right path under ubuntu and other non-systemd systems, but not for systemd machines like CoreOS.

You are better off using the `docker` endpoint which will work for both type of machines. The following snippet works on both machines:

[code]

[2015-04-05 06:46] knodir commented on #631
This worked, thanks @rjnagal!

[2015-04-05 06:46] #631 closed

[2015-04-06 05:48] rjnagal commented on #607
fixed

[2015-04-06 05:48] #607 closed

[2015-04-06 05:50] rjnagal commented on #480
We can call this done with the v0.11.0

[2015-04-06 05:50] #480 closed

[2015-04-07 00:57] vmarmol opened #633 "cAdvisor does not support Docker 1.6"
Working on rebasing to the new libcontainer and fix this (will also make sure to be backwards compatible.)

[2015-04-07 08:20] catrixs opened #634 "Feature Request: Support ELK"
ELK stack is heavily used, but cAdvisor only support influxdb. So we want to implement a log stash forward drive base on Lumberjack Protocol.

Is it a good idea?

[2015-04-07 18:34] vishh commented on #634
Is ELK built to handle metrics data?

On Tue, Apr 7, 2015 at 1:20 AM, 陈飞 <notifications@github.com> wrote:

[2015-04-08 01:50] feiyang21687 commented on #634
@vishh Yah. We use ELK to collect container metrics data in production environment.

ELK represents ```ElasticSearch + LogStash + Kibana```. We think cAdvisor could be able to forward metrics data to LogStash, and then we could use ElasticSearch and Kibana to create dashboard, and like this one:

![2015-03-28 12 00 27](https://cloud.githubusercontent.com/assets/1303976/7037378/78bb1898-ddd4-11e4-8

[2015-04-08 03:38] wangjingbomail commented on #634
It is a good idea

[2015-04-08 16:34] chenjunsheng commented on #631
haodi

[2015-04-08 16:35] chenjunsheng commented on #480
ok

[2015-04-08 16:37] chenjunsheng commented on #607
haoda

[2015-04-08 16:38] chenjunsheng commented on #628
haoda

[2015-04-08 18:13] vishh commented on #634
Ok! Interesting! Are you interested in posting a PR to add elasticsearch as
a backend?

On Tue, Apr 7, 2015 at 8:38 PM, wangjingbomail <notifications@github.com>
wrote:

[2015-04-08 18:32] thaJeztah commented on #634
Nice looking screenshot! Definitely interesting

[2015-04-08 20:44] cowboy-cod3r opened #638 "cadvisor memory legend"
When looking at the total memory usage of a running container, the legend shows "hot" and "total".  Is there any documentation that explains the definition "hot" and "total" and how that is calculated?

[2015-04-08 22:17] vishh commented on #638
"hot" refers to the *working set*, which is held in RAM, and "total" refers
to all the memory used by a process, a part of which may reside on a swap
device.

+1 to your suggestion of documenting it. AFAIK this isn't documented
anywhere.

On Wed, Apr 8, 2015 at 1:45 PM, Sean Humbarger <notifications@github.com>
wrote:

[2015-04-09 00:17] rjnagal commented on #638
Hot is the working set - pages that has been recently touched as calculated
by the kernel.
Total includes hot + cold memory - where cold are the pages that have not
been touched in a while and can be reclaimed if there was global memory
pressure.

I don't think the total on cadvisor page includes swap, but we should
probably report that too.

On Wed, Apr 8, 2015 at 3:17 PM, Vish Kannan <notificati

[2015-04-09 00:19] vmarmol commented on #452
Closing, reopen if it resurfaces.

[2015-04-09 00:19] #452 closed

[2015-04-09 00:20] vmarmol commented on #638
We used to have a bug open for this, but we closed it with some API comments. We should document this in the UI as well.

[2015-04-09 00:21] rjnagal commented on #452
@kateknister This is the bug I was referring to. Please check if you can repro it when you re-enable cpu load.

[2015-04-09 02:26] feiyang21687 commented on #634
@vishh I'm working on it.

[2015-04-09 03:55] vishh commented on #634
Great!

On Wed, Apr 8, 2015 at 7:26 PM, 陈飞 <notifications@github.com> wrote:

[2015-04-10 21:56] #633 closed

[2015-04-13 06:56] rjnagal opened #643 "Networking stats are reversed"
I was trying to debug networking integration test flakiness, and it seems like the cause is that sometimes the ping container is reporting no Tx packets but multiple Rx packets. I think this means that the numbers are somehow reversed after we started using libcontainer stats. Looking into it.

[2015-04-13 18:00] rjnagal commented on #643
Fixed by #644

[2015-04-13 18:00] #643 closed

[2015-04-13 21:44] pbhavsar211 opened #645 "Journalctl should be runnable from inside the Docker container"
Trying to run cadvisor on mac using boot2docker. mentioned issues is found while identifying docker logs cadvisor

[2015-04-13 21:45] vmarmol commented on #645
Does cAdvisor exit? That should be a recoverable error and should only degrade what information we provide.

Is the system a systemd system btw?

[2015-04-13 21:46] pbhavsar211 commented on #645
no cAdvisor is still running. can you please explain "Is the system a systemd system?"

[2015-04-13 21:49] vmarmol commented on #645
I guess I'm asking if you're running Systemd as your init system (I am not super familiar with what boot2docker runs). The error is benign, although we should try to get to the bottom of it and get OOM support on your specified platform.

[2015-04-14 08:03] mdshuai commented on #333
If don't turn off the selinux, I also have the same issue.My os is rhel7.

[2015-04-14 16:38] vmarmol commented on #333
@mdshuai can you provide the cAdvisor log as well as the output of /validate on cAdvisor please?

[2015-04-15 03:08] mdshuai commented on #333
@vmarmol Just refer this info: http://fpaste.org/211068/67273142/

[2015-04-15 03:44] pmorie commented on #379
@vmarmol Can you clarify the exact scenario here?  Is cAdvisor running in a container or running on the host and trying to connect to a docker daemon running in dind?

[2015-04-15 14:26] vmarmol commented on #379
@pmorie this is when cAdvisor runs inside a Docker container. Maybe SELinux something?

[2015-04-15 18:34] pmorie commented on #379
Cool, @vmarmol.  @derekwaynecarr and I were talking about the case where
cAdvisor runs in a container since that's necessary for the kubernetes
Kubelet to run in a container.

On Wed, Apr 15, 2015 at 10:26 AM, Victor Marmol <notifications@github.com>
wrote:

[2015-04-15 18:42] vmarmol commented on #379
Kubelet would run into the same problem talking to Docker I imagine. They use the same library.

[2015-04-15 21:00] vmarmol commented on #333
@mdshuai thanks! Can you run it with `--logtostderr --v=2` and show the logs? It does seem like SELinux is not letting us watch the cgroups which won't let us see new containers quickly. We do manually search for new containers every minute. Can you check if after a few minutes the containers do show up?

[2015-04-16 01:41] mdshuai commented on #333
@vmarmol  More logs: http://fpaste.org/211498/91484841/

[2015-04-16 06:26] allencloud opened #654 "Is there some need to make cadvisor metrics reporting configurable?"
Hi

I think making reporting metrics configurable can be reasonable.

If a user wants to collect some specific metric, let him configure. If he does not need some metrics, just abandon them not reporting to the storage, such as influxdb. As a result, it can save more space in influxdb when doing this.

[2015-04-16 06:30] vmarmol commented on #654
@allencloud, do you mean to configure which of the existing metrics to export or to allow cAdvisor to collect custom user metrics we don't today?

[2015-04-16 06:53] allencloud commented on #654
configure which of the existing metrics to export @vmarmol

[2015-04-16 16:52] vishh commented on #654
We can add a regex whitelist to control the metrics being pushed by
individual storage backends. Is this something you are interested in
working on? We are happy to take a PR for this!

On Wed, Apr 15, 2015 at 11:53 PM, Allen Sun <notifications@github.com>
wrote:

[2015-04-16 17:40] allencloud commented on #654
Yes, it is what I am interested in. And I can prepare PR for it. @vishh

[2015-04-17 20:34] vishh commented on #333
Can you confirm that you have indeed turned off Selinux?

On Wed, Apr 15, 2015 at 6:41 PM, DeShuai Ma <notifications@github.com>
wrote:

[2015-04-20 23:14] vmarmol commented on #333
@vishh without selinux everything works. Trying to narrow down the failure with selinux on.

@mdshuai looking at the log its clear that we are detecting the containers every 60s as the expected fallback. We get an error when we try to delete any of our inotify watches, but I'm not sure if it is a problem with the watches in general or just the deletes (it is not clear to me that the creates are be

[2015-04-20 23:41] vmarmol commented on #654
A regex is probably not a good way to handle this since metrics today are exported as structures JSON objects and any regex against a string ID will be specific to the storage driver it is created.

Alternatives I can think of are:
- Define each of the metrics today globally with some string ID instead of the objects we define today
- Parallel JSON structure that defines whether that metric is exp

[2015-04-21 00:36] vmarmol commented on #620
We're using numCores in this amount. If you're still around for debugging :) Are we logging all the info messages (`--logtostderr --v=2`)? This failure is in the UI handling which should only come up after initialization and we're not seeing the log message that prints out MachineInfo.

[2015-04-21 00:38] vmarmol commented on #616
Sorry for the long delay @roldancer! This looks like a similar problem to #333. We either have a bug in the delete path or SELinux is unhappy (since both see this with SELinux). If you disable SELinux, so you see those log lines?

[2015-04-21 02:06] liuyunsh commented on #333
@vmarmol , Could you please help to give a detail  setup steps with selinux enabled?
I think this would help us a lot. thanks a lot.

[2015-04-21 02:23] vmarmol commented on #333
@liuyunsh I'd be happy to, but I'm not sure how the setup is different from the non selinux setup :-\ I'd like to try and see if I can reproduce this problem tomorrow. Is this just a vanilla RHEL7 machine or is there any customization I also need to do?

If you could answer some of the questions above it would also really help my debugging :)

[2015-04-21 02:44] mdshuai commented on #333
@vmarmol
1) kernel version: 3.10.0-229.el7.x86_64
2) Cadvisor version: 0.11.0;
3) selinux version
libselinux-python-2.2.2-6.el7.x86_64
selinux-policy-3.13.1-23.el7.noarch
libselinux-2.2.2-6.el7.x86_64
libselinux-utils-2.2.2-6.el7.x86_64
selinux-policy-targeted-3.13.1-23.el7.noarch
4) docker version:
# docker --version
Docker version 1.4.1-dev, build d26b358/1.4.1
5) when enable the selinux, run th

[2015-04-21 02:53] liuyunsh commented on #333
@vmarmol ,thanks for your kindly reply. I just use centos7, I think RHEL7  also will be ok. thanks.

[2015-04-21 06:17] humbargs commented on #638
Thanks for the info!

[2015-04-21 17:00] vmarmol opened #660 "Limit storage of events"
Limit the number of events stored, today we store all of them.

[2015-04-22 05:05] jchauncey commented on #500
any movement on this? @vmarmol

[2015-04-22 16:54] vmarmol commented on #500
@jchauncey we re-based libcontainer to support the new Docker. We haven't prioritized moving to the stats API since we'd need to support the current approach for older versions of Docker, extra information Docker doesn't expose, and non-Docker containers.

The main driving factor is not wanting to mount the cgroup hierarchy? We do get other stats from other parts of the FS so that would still be u

[2015-04-22 16:59] jchauncey commented on #500
Well the stats endpoint is pretty expressive in the information it gives
back and it seems to be more detailed than the cgroups information. So
that's why I was asking.

On Wed, Apr 22, 2015 at 10:54 AM, Victor Marmol <notifications@github.com>
wrote:

[2015-04-22 17:03] vmarmol commented on #500
They should be the same :) both use libcontianer to read cgroups under the covers. cAdvisor also does FS stats for root and for some container types. We'd love to have Docker do those too, but it's tricky with the union filesystems.

[2015-04-23 21:25] ternel commented on #634
Would be great :)

[2015-04-26 17:25] paulczar opened #666 "errors out running on ubuntu 15.04 machine"
[code]

[2015-04-27 08:26] wololock opened #667 "cAdvisor + nginx in different then "/" context"
Hello,

I'm trying to run cAdvisor docker image with nginx proxy. The problem is that I need to set up a proxy from different then root context - my goal is to have cAdvisor running behind e.g. `http://localhost/cadvisor/` Here is my exemplary nginx config:

    server {
      listen 82;
      server_name ${HOSTNAME};

      set $cadvisor cadvisor.docker;

      location ~ ^/cadvisor/(.*)$ {

[2015-04-27 15:11] vmarmol commented on #667
Hi @wololock, yeah this is a pain point we've been seeing a lot lately. I think it is time we tackle it. The suggestion so far has been to make links relative to allow for reverse proxying. This should work in your case too I believe.

I am closing this as a dup of #596, but I will try to find some time to tackle it this week. Or if you're up for it feel free to send a PR :) it should be a relativ

[2015-04-27 15:17] vmarmol commented on #666
Hi @paulczar I'm guessing this happens consistently? Could you run cAdvisor with the flags: `--logtostderr --v=4` and provide the logs once more?

It seems that the crash is on a dbus call which we only do to check systemd. I may try to get my hands on a 15.04 VM as well.

[2015-04-28 15:19] frioux commented on #666
I can repro it as well; here's what I get:

[code]

Not to sound like I'm stating the obvious here, but I'd guess it's a kernel setting; /sys/class/dmi/id/product_uuid doesn't exist on my system.

[2015-04-28 15:22] vmarmol commented on #666
Thanks @frioux! That error is [not fatal](https://github.com/google/cadvisor/blob/master/manager/machine.go#L267). The panic is in the dbus library we're using. I think this is the first version of Ubuntu to come with a systemd? Maybe something is a-typical about it (or we just need to update our dbus library).

Will dig more into this. Thanks for reporting!

[2015-04-28 15:26] frioux commented on #666
Yep, it is the very beginning of systemd support for ubuntu.  Might be interesting to see if Debian jessie has the same problem, as they just added systemd too (and it's likely the same.)

[2015-04-29 07:26] bastnic commented on #634
:+1:

[2015-04-30 06:20] nashasha1 opened #668 "fatal: reference is not a tree: 4ea9039ff269fc8675409df7f1a192c94eab2f52"
src/github.com/docker/libcontainer; git checkout 4ea9039ff269fc8675409df7f1a192c94eab2f52
fatal: reference is not a tree: 4ea9039ff269fc8675409df7f1a192c94eab2f52
godep: restore: exit status 128

when run godep restore got this error.
anyone got same error?

[2015-05-01 23:19] remoteur opened #674 "System error: operation not permitted"
Hello,

I'm trying to run cadvisor on a Fedora 21 system and I'm getting the following error:

FATA[0040] Error response from daemon: Cannot start container 2fc2fb26c818c4d3161a7a7e3fe49cfb5c336397714b44557ca4def89c9f0f35: [8] System error: operation not permitted

I use the command below for running the container:
sudo docker run   --volume=/:/rootfs:ro   --volume=/var/run:/var/run:rw   --volume=

[2015-05-02 03:41] huikang commented on #499
@vmarmol
This is the CPU plot of a container from influxDB. I found the graph looks different than cAdvisor's UI. I understand the graph is accumulative CPU time. Do you know how can get the data as in cadvisor's UI in influxDB? Thanks.

![test](https://cloud.githubusercontent.com/assets/463631/7439818/f7248c9e-f05a-11e4-870d-0572e5df881a.PNG)

[2015-05-03 03:15] jamshid commented on #501
Every time I try cadvisor, after a while I have to disable it because of high cpu usage (eg, see below). Likely the same `du` issue, saw du's in `top` briefly. I did a fresh docker pull today of google/cadvisor.
[code]

[2015-05-04 15:50] mboussaa opened #675 "cadvisor and influxdb integration"
I want to access to the gathered data from cadvisor through influxdb here my docker configurations:
[code]
So once I start both containers, I go to the influxDB to explore the data (by making a simple query). An error appears saying that there is no data

[2015-05-04 17:27] vmarmol commented on #675
Can you run cAdvisor with `--logtostderr --v=2` and provide the outputs?

[2015-05-04 18:39] mboussaa commented on #675
![untitled](https://cloud.githubusercontent.com/assets/5878565/7459503/c286c38c-f29c-11e4-90aa-c5851d9cc9d0.png)

Yes I did that and as you can see, cAdvisor is working very well however, it does not dump data to the specified db in influxdb.

If I run something like "select count(*) from stats" in influxdb Web UI it shows " ERROR : can't find series : stats"

I don't know if the problem is more c

[2015-05-04 18:44] vmarmol commented on #675
Sorry, maybe I wasn't clear :) I wanted to take a look at the cAdvisor logs to see if there were any errors in sending the data.

Can you also do a `list series` in InfluxDB?

[2015-05-04 19:08] mboussaa commented on #675
Thank you for the clarification.
When trying to get logs :
![33](https://cloud.githubusercontent.com/assets/5878565/7460139/412394b4-f2a1-11e4-9367-8b854810d625.png)
For influx DB :
![22](https://cloud.githubusercontent.com/assets/5878565/7460140/44610274-f2a1-11e4-9bb0-3c2a11679daf.png)

NB: I am using a VirtualBoxVM with Ubunto as a virtual machine. That may help to understand the problem.

[2015-05-04 19:16] mboussaa commented on #675
I0504 17:59:04.438751 00001 storagedriver.go:90] Using backend storage type "influxdb"
I0504 17:59:04.442380 00001 storagedriver.go:94] Caching 60 stats in memory
I0504 17:59:04.442776 00001 manager.go:106] cAdvisor running in container: "/docker/91e3c58b9a69174c65244a774a0ee01f32820e3bcf162561922a8350d9484be4"
I0504 17:59:04.445607 00001 fs.go:87] Filesystem partitions: map[/dev/mapper/ubuntu--vg

[2015-05-04 20:01] vmarmol commented on #675
It looks like we're not able to connect to InfluxDB. The issue is that you're pointing to localhost for InfluxDB, that resolves to the container itself which is not running InfluxDB. You'll need to give it the IP of the host itself.

[2015-05-04 21:29] mboussaa commented on #675
+1. In fact, yes that's true. I should write the Host IP. It works right now :) That's great. I am planning to link these data to grafana in order to display the graphs of each query.
Is there any documentation of the data structure? such as columns names, definition...

[2015-05-05 13:33] tbleiker commented on #513
+1 for this feature :smile:

[2015-05-05 14:39] huikang opened #679 "Cadvisor and influxdb,What is the correct way to plot the CPU utilization per container?"
On a Docker host, I have 4 containers running including cadvisor and the stats are imported to influxdb.

(Result 1: cpu utilization of all the containers) The query of "select cpu_cumulative_usage from stats limit 600" yields

![cpu_all](https://cloud.githubusercontent.com/assets/463631/7474941/a93afc38-f312-11e4-99c8-45ddeac67d37.png)

(Result 2: cpu utilization of one container) The query of
"s

[2015-05-05 20:39] vmarmol commented on #502
Given that #545 was merged I believe the work here is complete :)

Feel free to open other issues if there is anything missing.

[2015-05-05 20:39] #502 closed

[2015-05-05 20:40] #305 closed, assigned to nobody

[2015-05-05 20:40] vmarmol commented on #226
This is obsolete.

[2015-05-05 20:40] #226 closed

[2015-05-05 20:41] vmarmol commented on #152
@rjnagal we merged `--dockeronly` should we close this?

[2015-05-05 20:51] vmarmol commented on #660
Fixed

[2015-05-05 20:51] #660 closed

[2015-05-05 20:53] vmarmol opened #681 "Document output format of storage backends"

[2015-05-05 20:54] vmarmol commented on #675
Sadly the best we have is the [code](https://github.com/google/cadvisor/blob/master/storage/influxdb/influxdb.go#L38) for now. Just filed #681 to add that.

Closing this issue, but feel free to open a new issue if you run into any problems :)

[2015-05-05 20:54] #675 closed

[2015-05-05 20:56] vmarmol commented on #668
@nashasha1 I run the same thing and I get the expected result:

[code]

Do you have the latest version of libcontainer?

[2015-05-05 20:57] vmarmol commented on #668
Actually, now that I look around I see that this is a non-existing commit that I have :) Letme rebase cAdvisor and re-do the godeps. Thanks for reporting!

[2015-05-05 21:12] rjnagal commented on #152
--docker_only solves part of the problem. I am not going to look at the regex part anytime soon.

So we can close for now.

[2015-05-05 21:12] #152 closed

[2015-05-05 21:37] #513 closed

[2015-05-05 21:37] #566 closed

[2015-05-05 21:37] #596 closed

[2015-05-05 21:37] #667 closed

[2015-05-05 21:44] vmarmol commented on #679
Hi @huikang I believe you want to do:

[code]

[2015-05-05 21:45] beorn7 commented on #502
\o/ And there was much rejoice...

[2015-05-05 21:49] vmarmol commented on #674
Can you try to remove mounts until it runs? Just trying to figure out what is failing :)

I imagine it is related to SELinux?

[2015-05-05 21:49] #668 closed

[2015-05-06 01:41] remoteur commented on #674
I tried that with SELinux set to permissive. Looks like I had to remove all the mounts for it to start :)  When I switched it to disabled it worked. I'll look further into what's SELinux blocking.

Thanks

[2015-05-06 02:48] vmarmol commented on #674
Awesome @remoteur! Let us know what you find out, good to know for future issues.

[2015-05-06 10:34] tifayuki opened #684 "Node Network metrics is empty"
I tried to download something into the node, but the network chart is alway zero. The api(1.3) also returns 0.

[code]
![network](https://cloud.githubusercontent.com/assets/5781551/7491701/22840326-f3ec-11e4-8c4a-1a7ca29651ac.png)

[2015-05-06 11:10] discordianfish commented on #502
@vmarmol I still think having the container name as label would be useful, probably also https://docs.docker.com/userguide/labels-custom-metadata/
If you think this makes sense, I can open an issue and maybe start work on this if time permits.

[2015-05-06 13:38] pchico83 opened #685 "Node memory is returning 9223372036854775807"
9223372036854775807 is the largest int64

[2015-05-06 14:11] huikang commented on #679
@vmarmol Thanks for your comment. The results look better and closer to the output of cadvisor UI.
![influx-db-output](https://cloud.githubusercontent.com/assets/463631/7494750/931a09d8-f3d7-11e4-9029-3782674e55ba.png)

However, the Y-axis is not in percentage. Instead, is it in CPU cycles? Do you have any idea about how to get the output graph with the Y axis as in % unit as in cadvisor UI? Thank

[2015-05-06 15:54] vmarmol commented on #679
cAdvisor also outputs in number of cores. The raw data is in billionths of a core so you'll want to divide by 1,000,000,000 to get the result in whole cores. For percentage you'll want to divide over the number of cores on the machine (or do percentage of a core, which is what cAdvisor does.)

[2015-05-06 15:56] vmarmol commented on #685
@pchico83 is this being returned as the limit for a container or as available memory on a machine?

[2015-05-06 15:58] vmarmol commented on #685
If for machine, can you please provide the output of these two commands to help debugging:

[code]

[2015-05-06 16:01] vmarmol commented on #684
It looks like you have multiple network interfaces and we're picking up the wrong one. I'm guessing we're attaching to `eth0` and you're downloading using `weave`?

We have an outstanding issue to support multiple network interfaces.

[2015-05-06 16:03] vmarmol commented on #502
@discordianfish that SGTM. My only concern is how Prometheus is affected by the explosion of labels. I was under the impression that label values had to be a small set.

[2015-05-06 16:08] tifayuki commented on #684
I have a weave interface in my vm, but I think the downloading is through eth0 not the weave
 one
[code]

[2015-05-06 16:08] rjnagal opened #686 "Support multiple network interfaces"
Update the API and UI to support and show data from multiple network interfaces.

I think we had an issue for it, but couldn't find one.

v2.0 API supports multiple interfaces, but doesn't yet fill in the data. Taking this up, as I started on it earlier.

[2015-05-06 16:09] rjnagal commented on #684
We only return the first network interface's data right now.Filed issue #686

[2015-05-06 16:16] juliusv commented on #502
@vmarmol AFAIU the container name wouldn't actually add extra dimensionality, just an extra label to every time series? Because there is always only one container name per container ID?

[2015-05-06 16:19] juliusv commented on #502
And to give an impression of dimensionality thresholds in practice: once a single metric has more than tens of thousands of time series, it becomes unwieldly to work with :) But otherwise, we have Prometheus servers with millions of time series that are working fine. The limit always depends on how many instances you monitor, how many time series per instance, and how big your server is.

[2015-05-06 16:20] vmarmol commented on #502
This is true, and glad to hear it shouldn't affect Prometheus from someone who knows :) thanks for the explanation!

[2015-05-06 16:29] huikang commented on #679
@vmarmol
Here is some raw output from "select derivative(cpu_cumulative_usage) from stats
where time > 1430846420s and time < 1430846488s and container_name='mysql' group by time(5s)"

1430846485000	1007085805.3288821
1430846480000	1379218024.677719
1430846475000	1437682783.6420352
1430846470000	1497197523.5402424

My machine has 32 cores.
For the first point "1430846485000	1007085805.3288821", th

[2015-05-06 16:33] vmarmol commented on #679
This seems to be mostly correct (the second value is the derivative I believe). This will be the percentage used over that 5s interval.

[2015-05-06 16:36] huikang commented on #679
@vmarmol
Yes, you are right; the second value is derivative. Thanks for your clarification.

[2015-05-06 16:39] vmarmol commented on #679
Great! Will close this @huikang but feel free to open another issue if you run into any trouble.

[2015-05-06 16:39] #679 closed

[2015-05-06 16:39] tifayuki commented on #684
In one of my VMs:
[code]
the first interface is docker0
so cadvisor returns the statistics on docker0, right?

[2015-05-06 16:40] vmarmol commented on #293
Closing this issue, feel free to file another issue if you run into trouble.

[2015-05-06 16:40] #293 closed

[2015-05-06 16:43] rjnagal commented on #684
We skip docker0,lo,  and all veth for the root. So it will be one of eth0,
eth1, dummy0, or weave : likely dummy0

On Wed, May 6, 2015 at 9:39 AM, Feng Honglin <notifications@github.com>
wrote:

[2015-05-06 16:44] pchico83 commented on #685
The wrong value was for the total machine memory `["NodeInfo"]["Stats"][0]["memory"]["working_set"]`:

These is the output of the commands:

[code]

[2015-05-06 16:48] tifayuki commented on #684
Got it.
Thank you

[2015-05-06 16:52] discordianfish opened #688 "Set docker container name and meta data as prometheus labels"
cadvisor supports exposing metrics for prometheus consumption. Right now it only sets the container ID as a label but it would be useful to also set the container name and potential meta data[1] as labels.

1) https://docs.docker.com/userguide/labels-custom-metadata/

[2015-05-06 16:53] discordianfish commented on #502
Opened #688

[2015-05-06 17:22] vmarmol commented on #685
Ah, so this is the usage of the root `/` container correct? If so, can you provide the output of:

[code]

[2015-05-07 05:45] feiyang21687 commented on #634
https://github.com/google/cadvisor/pull/693

We just submit a pull request which is very simple. Just implements a redis driver which use ```lpush``` to push metrics json to redis, then logstash could forward them to ElasticSearch.

Next step, we want implement a native ElasticSearch driver.

[2015-05-07 05:48] rjnagal commented on #634
awesome! thanks :+1:

[2015-05-07 13:23] mboussaa commented on #675
Yes, I think it is very important to document the data structure that does store cAdvisor. In the testing community, these values are very useful for evaluating test suites. Any way, I making some experiments using cAdvisor. For sure, I will open many new issues :)

[2015-05-07 14:52] furlongm commented on #379
Running cadvisor on Centos 7 in a docker container, and no other docker containers show up. There are at least 7 others running. I can see that stats for the cadvisor subcontainer though.

Maybe a red herring, but I noticed Centos has no /var/run/docker directory. Would that make a difference?

[2015-05-07 14:56] furlongm commented on #645
Also getting this issue on Centos 7 (with systemd on the main system, and journalctl available on the main system).

The error message is from within the cadvisor docker container and it is the only message returned by docker logs cadvisor.

Should journalctl be installed in the docker container?

[2015-05-07 15:08] vmarmol commented on #675
Great! We're happy to see what's missing and what's harder than it should be :)

[2015-05-07 15:32] furlongm commented on #379
Docker output on the host machine: http://pastebin.com/raw.php?i=xfABJTfK

None of the other containers seem to figure at all.

[2015-05-07 16:11] vmarmol commented on #645
Yes, although we'll need to test how systemd access works within a container. Will change the issue's title to reflect that.

[2015-05-07 16:19] vmarmol commented on #379
@furlongm I was able to reproduce the issue in a Docker container with CentOS 7. I was able to fix it by running with `--privilege`. I suspect the issue is related to SELinux. I will document that on RHEL7 and CentOS 7 users should use `--privilege`.

Let me know if this doesn't work for you.

[2015-05-07 16:22] vmarmol commented on #379
Verified that this fixes RHEL 7.

[2015-05-07 16:29] vmarmol commented on #528
This is fixed at HEAD

[2015-05-07 16:29] #528 closed

[2015-05-07 16:35] #379 closed

[2015-05-07 20:44] rjnagal opened #697 "Fall back to /proc/cpuinfo if locality information is not available under /sys"
Forked from kube issue https://github.com/GoogleCloudPlatform/kubernetes/issues/7906

[2015-05-07 21:46] rjnagal commented on #697
Fixed

[2015-05-07 21:46] #697 closed

[2015-05-08 01:27] furlongm commented on #379
SELinux is disabled for me, so I don't think that is the issue.

--privilege was not accepted as a command line argument:

[code]

[2015-05-08 01:37] furlongm commented on #379
@vmarmol actually even with SELinux disabled, cgroups mounted correctly, and `--privileged=true`, this still does not work for me. Still only seeing the cadvisor container. Can we re-open this issue? Happy to debug further.

[2015-05-08 05:12] timechanter opened #701 "cadvisor fails to run with docker 1.6.1"
With the upstream change in libcontainer to stop mounting of /sys the cadvisor images fail with

Message: "/var/lib/docker/overlay/039ada59885bfb9c5c8521a6670f18c043d7ebad98cc5383145bd311b5bec53c/merged/sys" cannot be mounted because it is located inside "/sys"

see https://github.com/docker/libcontainer/commit/3c25c9b9cfc97ac342b4eba74248ef48a7e51743

[2015-05-08 15:21] vmarmol commented on #701
Hmmm two things to try if you have the time :)
- Don't mount `/sys` (but leave `/`)
- Run with `--privileged`

[2015-05-08 15:25] vmarmol commented on #379
@furlongm I suspect you're having a different issue. Can you open up another issue and provide the cAdvisor log (`--v=2` if you can) and the output of `/validate` on the cAdvisor UI?

[2015-05-08 19:28] shahriarb commented on #701
I'm experiencing this issue as well .
@vmarmol I've tested your suggestion :

- Don't mount /sys (but leave /)  :  It will raise this error
docker: Invalid bind mount: destination can't be '/'

- Run with --privileged   : It will raise this error :
System error: "/var/lib/docker/aufs/mnt/89d25450b19ef9abfaa56ee9bb5389b9a2bdfccee2ebb4d6fdc68505f78d659c/sys" cannot be mounted because it is located i

[2015-05-08 21:02] vmarmol commented on #701
This appears to be a bug in Docker 1.6.1. Talking with them to see if there will be a 1.6.2 that fixes it. Libcontainer was already patched.

[2015-05-08 21:02] vmarmol commented on #701
For now, you can remove the `/sys` mount (but leave the `/`) and it should work for most stats. A few (like network) will be missing.

[2015-05-09 17:07] huikang opened #702 "Show blkio stats in cAdvisor UI"
Hi,
In the cadvisor UI, I can only see CPU, memory, and network tr/tx per container. But there is not blkio stats.

In the influxdb, I see the following metrics,
time    sequence_number fs_usage    cpu_cumulative_usage    tx_bytes    fs_limit    tx_errors   memory_working_set  rx_bytes    machine rx_errors   memory_usage    fs_device   container_name

How can I enable blkio stats for the container

[2015-05-10 12:39] prologic commented on #701
Same issue here:

[code]

[2015-05-10 12:40] prologic commented on #701
Is there an upstream Docker issue we can cross-link to for reference?

[2015-05-10 14:52] jumanjiman commented on #701
https://github.com/docker/docker/issues/13097

[2015-05-10 20:42] prologic commented on #701
Beautiful :)

[2015-05-11 06:59] lukasmartinelli opened #703 "Memory leak when alot of errors happen"
This is the memory of a cadvisor container logging to influxdb over two days.

![memory_leak](https://cloud.githubusercontent.com/assets/1288339/7559773/eed6948e-f7bb-11e4-9c35-9ba588cdd8e4.png)

I get alot of errors which might be the cause for the memory leak.
What's kind a cool is that I used cadvisor to detect the memory leak in cadvisor :+1:

[code]

[2015-05-11 09:07] pchico83 commented on #685
Yes, it is the root container, the out put is:

[code]

[2015-05-11 15:23] vmarmol commented on #703
@lukasmartinelli thanks! We've been tracking two memory related issues and this is one of them. The reproduction will really help narrow it down.

Will take a look.

[2015-05-11 16:03] vmarmol commented on #702
We don't show blkio in the UI. Arguably we should. We'll use this bug to track adding that to the UI.

Thanks for reporting! It's useful for us to know what features people want.

[2015-05-11 16:36] vmarmol commented on #685
To calculate working set we do:

[code]

That probably gets overflowed to intmax somewhere. I will send a PR to cap that at 0, but we also need to look into our logic here. We're probably double-counting some memory.

[2015-05-11 16:41] rjnagal commented on #685
shouldn't that be total_inactive_file?

On Mon, May 11, 2015 at 9:37 AM, Victor Marmol <notifications@github.com>
wrote:

[2015-05-11 16:44] vmarmol commented on #685
@rjnagal it should (which is another bug)

[2015-05-11 17:13] rjnagal commented on #685
It still looks like an issue, even if we account for atomicity between reading usage and detailed stat. We would still expect (total_cache + total_rss) > (total_inactive_anon + total_inactive_file).

[2015-05-11 17:51] #685 closed

[2015-05-12 00:15] vmarmol commented on #701
Update: docker/docker#13133

[2015-05-12 00:18] prologic commented on #701
Sweet :) Can't wait!

[2015-05-12 05:19] rjnagal commented on #701
Verified with 1.6.2-rc1 :+1:

[2015-05-12 05:24] prologic commented on #701
:+1:

[2015-05-13 08:37] ArtworkAD commented on #638
What I find confusing when using cAdvisor the first time is that it says 16Gib of a total of 24 Gib memory is used.

Via ```free -m```I found out that I actually have 22 Gib free memory and that 14 Gib are just cached by linux.

[2015-05-13 13:00] mboussaa commented on #499
what does express exactly Derivative of cpu_cumulative_usage? Why use derivate and not mean?

[2015-05-13 15:41] vmarmol commented on #499
@mboussaa CPU usage is a cumulative metric so it is an ever-increasing integer. The mean of it won't be very interesting. A derivative allows us to show the difference between data points and thus see how much CPU was used in that time period. May be of interest: #679

[2015-05-13 15:43] mboussaa commented on #499
Thank you. For the memory usage should I use the same behavior ?

[2015-05-13 15:46] vmarmol commented on #499
@mboussaa no, memory is an instantaneous metric. It's value will be useful without a derivative.

[2015-05-13 15:50] mboussaa commented on #499
In that case, "select mean(memory_usage) from stats where container_name='foo' group by time(2s)"
is it correct ?

[2015-05-13 15:52] vmarmol commented on #499
@mboussaa that looks correct.

[2015-05-13 16:09] vmarmol commented on #638
Memory accounting is interesting because different parts of the kernel do it differently. I am not sure what `free -m` uses. I'm curious what the hot vs. cold memory we were reporting in that case

[2015-05-18 13:56] jzy1688 opened #714 "How to enable load stats"
When I get docker container stats form API 2.0, the "has_load" label is set to false. How can I enable the load stats?

[2015-05-18 16:11] vmarmol commented on #714
You'll need to set `--enable_load_reader=true` when you run cAdvisor. Be warned though, this may cause instability in cAdvisor which is why we don't have it on by default. We've observed periodic crashes when it is enabled and have been looking into them.

[2015-05-18 16:46] jzy1688 commented on #714
Thanks

[2015-05-18 16:52] vmarmol commented on #714
Closing, feel free to open an issue if you run into any trouble.

[2015-05-18 16:52] #714 closed

[2015-05-19 17:32] vmarmol opened #717 "Use kernel time for OOM times"
The OOM log has time since the kernel started. Use this time for OOM events since it should be more accurate.

[2015-05-19 20:38] bdanofsky opened #718 "manager Exists() function does not set namespace"
the manager.go file implements an Exists() function for the manager.
For Docker name spaced containers (or any other namespace) the name space is not set when the search is done.
This same issue seems to apply to:
getContainer()
getContainerData()
createContainer()
destroyContainer()
getContainersDiff()
et al.

[2015-05-20 03:26] rjnagal commented on #718
The comments don't make it clear, but all the mentioned interfaces are meant for raw namespace (full path). Since that is the default namespace, whenever a method takes in a container name as a string, it is assumed to be in default namespace and we trivially convert it to a namespaced name by not filling in the namespace.

I'll add comments around the code to reflect that.

[2015-05-20 10:36] mnuessler commented on #666
Having the same problem (also using Ubuntu 15.04). Container exits. Any updates on this, by any chance?

[2015-05-20 17:22] vmarmol commented on #718
@bdanofsky I'm curious, are you consuming the cAdvisor manager as an API instead of using the remote one? In the remote one we are starting to have the concept of "Docker" container, the internal interfaces are all raw containers pretty much. We could do a better job in that interface as @rjnagal mentioned. No one has used that API till now so it wasn't prioritized, which is why I ask :)

[2015-05-20 17:32] vmarmol commented on #666
Sorry, haven't had time to spin up a VM with the new Ubuntu since I mainly use public clouds...Will try to get to this soon.

[2015-05-20 17:41] vmarmol commented on #701
Docker 1.6.2 has been released! Closing this issue. Thanks everyone for reporting!

[2015-05-20 17:41] #701 closed

[2015-05-20 17:42] vmarmol commented on #684
Closing as a dup of #686.

[2015-05-20 17:42] #684 closed

[2015-05-21 01:06] rosskukulinski opened #724 "Statsd/Graphite Support"
After @rjnagal pinged me [on twitter](https://twitter.com/jnagal/status/600861874188525569), I figured I should open an issue here.

We're looking for a statsd (or pure graphite) metrics output like you've done with influxdb.  While we love the direction influxdb is headed, we couldn't get it to scale as well as we have with statsd & graphite.

We _would_ take a crack at implementing this, but we'

[2015-05-21 10:38] bpradipt opened #725 "cadvisor support for Power (ppc64) platforms"
Currently cadvisor fails to run on Power servers due to differences w.r.to /proc/cpuinfo output and location of system UUID data.
I have two small fixes to get cadvisor running on Power servers. I was wondering whether to send one PR with fix for both the issues or different PRs ? Would really like to get the community's thoughts on the same.
For reference, here are the two commits in my private t

[2015-05-21 13:02] rjnagal commented on #725
Smaller PRs are always better. I'd go with 2.

And thanks for adding the Power support!
On May 21, 2015 4:38 AM, "Pradipta Banerjee" <notifications@github.com>
wrote:

[2015-05-21 14:44] tweakmy opened #727 "unable to find data for container"
Some how there is nothing on /var/lib/docker/execdriver but instead my machine is mapped to /var/run/docker/execdriver

[code]

[2015-05-21 14:45] tweakmy commented on #727
[code]

[2015-05-21 14:46] vmarmol commented on #727
@tweakmy I'm guessing you recently updated to Docker 1.6+? Docker changed how they handle containers with 1.6. You'll need a more recent version of cAdvisor (0.12+) that knows how to handle the new format.

[2015-05-21 14:48] tweakmy commented on #727
funny, I am using :latest

[2015-05-21 14:50] vmarmol commented on #727
It may be using a locally cached version of it, try a `docker pull`

[2015-05-21 15:02] tweakmy commented on #727
Sorry false alarm. The Kubernetes cadvisor port is clashing with the cadvisor container I just ran hence all the wrong indication. Sorry for the confusion.

[2015-05-21 15:05] vmarmol commented on #727
No worries! Closing, feel free to open another issue if you run into any problems.

[2015-05-21 15:05] #727 closed

[2015-05-21 15:45] #703 closed

[2015-05-21 15:50] bdanofsky commented on #718
Victor:
I was using the manager code to access container stats directly.  What caught me off guard was I called exists() on a docker container and got back false.  After investigating I say the name space was not set.  I should have noted all the docker Api calls have docker in the name, I should have caught that faster.
Regards

Brad

[2015-05-21 16:20] wololock commented on #666
I have the same issue on the Ubuntu 15.04 server. Here are the details:

    docker-compose run cadvisor

The output:

	panic: close of closed channel

	goroutine 13 [running]:
	github.com/godbus/dbus.(*Conn).Close(0x4c2080cd7a0, 0x0, 0x0)
		/usr/local/google/home/vmarmol/go/src/github.com/google/cadvisor/Godeps/_workspace/src/github.com/godbus/dbus/conn.go:178 +0x62
	github.com/godbus/dbus.(*Conn

[2015-05-21 16:32] rjnagal commented on #724
Thanks for filing the issue, @rosskukulinski

Do you collect any container data in statsd today? What's the preferred metric format for statsd

cadvisor.<container-name>.<metric> ( we can remove cadvisor from the name if that's not useful).

We don't know much about statsd. Are there any restrictions on character sets that can go in the metric name? Is "cadvisor./.cpu_usage" a valid name?

[2015-05-21 16:32] bpradipt commented on #725
Thanks @rjnagal. I have created two PRs #730 and #731. Please review and provide your comments

[2015-05-21 17:30] rosskukulinski commented on #724
We aren't sending any container data to statsd currently.  We briefly played with some collectd plugins that supposedly get cgroup data and pipe it to graphite directly -- but were not successful in a quick test.

Some background on statsd:

[Statsd](https://github.com/etsy/statsd) is actually a pretty simple nodejs metric aggregation daemon.  It listens for udp or tcp messages of the format: ```m

[2015-05-22 13:55] teon opened #735 "Heavy CPU load"
I'm running the latest cadvisor version and when launched it immediately  takes 100% of my CPU (16 cores). I've started the container with --cpu-shares=8 (really small) and it still takes 30% of my CPU's.

[2015-05-22 14:38] vmarmol commented on #735
Could you get a CPU profile of cAdvisor for us to debug:

[code]

It would also be know how about how many containers you're tracking. 0.14.0 *just* missed some extra information we added to `/validate` for that :)

[2015-05-22 19:37] amos6224 commented on #645
Also getting this issue on boot2docker even after i upgrade.

[2015-05-25 12:50] Shinzu commented on #714
even if i set `--enable_load_reader=true` the 'has_load' label is still set to false:

[code]

[2015-05-26 09:02] XiaokunHou opened #738 "Add support for cluster."
Can cadvisor show containers' information for multiple machines? Currently, it only support local machine.

[2015-05-26 15:13] rjnagal commented on #738
cAdvisor is designed to run on a single machine. We have another tool that collects container data from multiple cAdvisors on different machines. Check out heapster: https://github.com/GoogleCloudPlatform/heapster

[2015-05-26 15:13] #738 closed

[2015-05-27 13:57] mboussaa commented on #679
@vmarmol How can we get CPU% per core ?

[2015-05-27 15:25] mboussaa commented on #679
@vmarmol Another question : how can we get the Memory% per container ?

[2015-05-27 16:47] rjnagal commented on #717
@anushree-n this might be a good first change to work on. Victor and I can give you more details once you are done with the docker prep. Thanks!

[2015-05-27 16:50] rjnagal commented on #702
@anushree-n this is another good issue to work on for learning the UI setup.

[2015-05-27 18:48] rjnagal commented on #718
closing this one for now.

[2015-05-27 18:48] #718 closed

[2015-05-27 23:57] MrMMorris commented on #688
yes please! I need to be able to differentiate containers as I don't name them and docker labels seems ot be the best way to do it :smile:

[2015-05-28 01:55] matschaffer commented on #681
For anyone who comes looking in the short term here's a dump from the initial "kick-the-tires" attempt I just did: https://gist.github.com/matschaffer/328e891e0ebc1eeb9705

Also I thought it was worth mention that the current design could have some issues [the influx 0.8](http://influxdb.com/docs/v0.8/advanced_topics/schema_design.html) docs recommend encoding most of the metadata into the series

[2015-05-28 11:24] mboussaa opened #740 "Export ContainerSpec to StorageDrivers"
How can we calculate the CPU% per core ? and Memory%?

NB: I am using influxdb web ui to execute queries

Example:
my request on InfluxDB is like that (to get the %cpu)
select container_name, (derivative(cpu_cumulative_usage)/1000000000)/4 from stats where container_name='containero0' and time>now()-15m group by time(2s)

ERROR: Value cannot be evaluated for type &{derivative 10 [0xc208082a00] <ni

[2015-05-28 15:28] vmarmol commented on #681
The current output schema could use some love. Recommendations are welcomed :)

[2015-05-28 15:35] vmarmol commented on #740
To get a graph of cores used we usually do something like this:

[code]

Which (outside of the `/4`) looks like yours. Not quite sure what the error is about...Is it unhappy about selecting a derivative and something else, or doing the math on top of the derivative?

[2015-05-28 16:27] vmarmol commented on #740
As far as percentages. We don't expose either limit today so it is hard to determine percentages :(

[2015-05-28 16:43] mboussaa commented on #740
I divided by the total number of cores in my machine which is 4. I followed the discussion here https://github.com/google/cadvisor/issues/679 .
And to answer your question, doing the math on top of the derivative causes the error

[2015-05-28 16:45] vmarmol commented on #740
Thanks @mboussaa! I will re-purpose this issue to add the spec to InfluxDB.

[2015-05-28 16:49] mboussaa commented on #740
So far, cAdvisor can only report raw data is in billionths of a core is it right?

[2015-05-28 16:50] vmarmol commented on #740
Yes, the data is exported in nanoseconds used.

[2015-05-28 16:51] mboussaa commented on #740
for the memory, it is the same thing?

[2015-05-28 17:00] #725 closed

[2015-05-28 17:00] bpradipt commented on #725
Thanks @rjnagal for the review. I'm closing the issue now since the patches have been merged.

[2015-05-28 17:29] vmarmol commented on #740
Memory is exported in bytes, we also don't push the spec today.

[2015-05-28 18:34] rjnagal opened #742 "e2e fails regularly due to flaky streaming event test"
Seen this failure a few times now.

F0528 18:29:33.270429 27713 runner.go:190] Error 0: command "godep" ["go" "test" "github.com/google/cadvisor/integration/tests/..." "--host" "cadvisor-ubuntu-precise" "--port" "8080"] failed with error: exit status 1 and output: "--- FAIL: TestStreamingEventInformationIsReturned (37.08s)\n\tevent_test.go:54: timeout happened before destruction event was detected

[2015-05-29 19:15] kangman commented on #634
:+1:

[2015-05-31 03:42] benfb opened #743 "InfluxDB v0.9 support"
Are there any plans to support the new InfluxDB version? 0.9 isn't officially out yet, but it seems like it should be done soon, and will be the first stable production release. Unfortunately the API that cadvisor uses to connect  has changed drastically since the last supported version, 0.8.

[2015-05-31 06:15] rjnagal commented on #743
We just started looking into it. Thanks for reporting the issue.

@anushree-n we will probably need to consider both new and old influxdb API while updating the metrics  schema.

[2015-05-31 22:49] mnuessler commented on #743
@rjnagal I'm very interested in support for InfluxDB 0.9 too, so I gave it a try last week and implemented a prototype that can already write stats to InfluxDB 0.9. It is not ready to be merged yet, so I did not open a PR yet. (I still have to fix the *RecentStats()* function and the tests.)

I think I could finish this up during the next few days. In case you would like to have a look at the code

[2015-06-01 16:12] vmarmol commented on #666
Just got a system up and running and verified the issue. Will look into fixing it. Interestingly, it only happens inside a container.

[2015-06-01 16:20] rjnagal commented on #743
Thanks @mnuessler for taking it up! It can wait a few days.

We are in process of removing RecentStats() as we don't use it anymore. I'll send a PR for removing it today.

[2015-06-01 18:27] neonstalwart commented on #743
fyi - InfluxDB 0.9 is still experiencing some API churn.  be sure to target the [alpha1](https://github.com/influxdb/influxdb/tree/alpha1) branch (if it has not been merged to master).  that merge is anticipated to happen some time later this week.

[2015-06-02 12:53] mnuessler commented on #743
Thanks for the info! With RecentStats() removed there is less work left to do for me.

So far I have tested against the API of 0.9.0-rc31, but I will make sure to test against the alpha1 branch also. Good point!

[2015-06-02 23:00] #666 closed

[2015-06-03 18:31] pnovotnak opened #748 "the load_average number in the CPU section of each stats item seems not to do anything"
Would be super useful but seems to putz about at 0

[2015-06-03 18:33] vmarmol commented on #748
The feature is currently disabled as we work to improve it. We've had some issues with the reliability of the data so have chosen not to expose it just yet.

[2015-06-03 18:53] pnovotnak commented on #735
Can confirm this issue on a MBP running atop boot2docker, though now that I'm ready to profile it's slunk back into the abyss.

[2015-06-03 20:07] teon commented on #735
No, this is on Docker 1.6.2 - Debian Jessie (as docker host).

[2015-06-03 20:08] teon commented on #735
Also, I've installed lately Rancher (https://github.com/rancherio/rancher) a service for managing Docker containers which also uses cadvisor - same issue here, had to remove rancher since cadvisor took 50% of my 16 CPUs...

[2015-06-03 20:20] vmarmol commented on #735
@teon could you grab a trace to help us debug?

[code]

We *definitely* wanna get this fixed ASAP, but have been unable to reproduce it.

[2015-06-03 20:59] teon commented on #735
@vmarmol whar do you mean by kocalhost, should I run the command from docker container or host?

[2015-06-03 21:37] vmarmol commented on #735
@teon sorry, you just need to hit the cAdvisor port so if you expose the port on the host then it is that host's hostname and port. You probably don't want to run it inside the cAdvisor container since it doesn't have Go installed.

[2015-06-03 22:15] teon commented on #735
[code]

[2015-06-03 22:18] teon commented on #735
[code]

[2015-06-03 22:18] teon commented on #735
go version go1.3.3 linux/amd64

[2015-06-03 22:33] vmarmol commented on #735
@teon you can ship us the `/tmp/qtt6Z8he7k` since that has the raw profile. Otherwise check `help` in pprof to see how you can output it and share it with us. The profile should be sufficient for us.

Thanks! :)

[2015-06-03 22:37] teon commented on #735
![go profiling not really a](https://cloud.githubusercontent.com/assets/139682/7973050/dfc93052-0a51-11e5-81ac-fabbf39bf048.png)

[2015-06-03 23:01] vmarmol commented on #735
Argh, that isn't working as nicely as I'd like :( @teon if you have some time can you ping me on IRC so we can try some more live debugging? I am vmarmol on Freenode, I'm in `#google_containers`.

[2015-06-03 23:15] vmarmol commented on #735
Thanks for the patience, this is the first time I try remote pprof profiling via GitHub :) I think I figured out the command line:

[code]

Alternatives to `png` (if that's not available): `svg`, `gif`, `pdf`, and`ps`

[2015-06-04 01:29] vmarmol opened #749 "Recognize --net=host"
When a Docker container runs with `--net=host` cAdvisor still shows network stats for the container (which are empty so we show 0).

[2015-06-05 07:05] Yashu5 opened #752 "unable to start cadvisor in fedora 20 as well as RHEL 7"
Hi , few days back I was able to start cadvisor on Fedora 20 , which was working perfectly fine. But suddenly I am getting below in logs, have testest in RHEL 7 also but the same issue. Is it a bug or do i need to make extra configuration, dont know what is going wrong now......

I0605 06:52:19.615061 00001 storagedriver.go:100] No backend storage selected
I0605 06:52:19.615921 00001 storagedriver

[2015-06-05 07:19] vmarmol commented on #752
@Priyanka5 it looks like cAdvisor started fine from the log, but does not have Docker support. Is that the problem you're observing?

[2015-06-05 09:09] Priyanka5 commented on #752
@vmarmol yeah but docker is running fine, i am able to run other containers on the same machine.

[2015-06-05 15:12] vmarmol commented on #752
@Yashu5 can you try running the container with `--privileged=true`? We've seen some instances of Fedore/RHEL needing that due to SELinux.

[2015-06-05 17:41] vmarmol commented on #749
@ananyakumar this is a good one to start with. It should touch a bunch of cAdvisor and all in Go :)

[2015-06-05 18:36] rjnagal opened #754 "Consider adding network capacity"
Typically network capacity can be read from:
$ cat /sys/class/net/eth0/speed
1000

or ethtool through ioctls:
$ ethtool eth0
Settings for eth0:
    Supported ports: [ TP ]
    ...
    Speed: 1000Mb/s

This won't work for virtual interfaces as the real speed doesn't make sense.

For cloud providers, we can get use throttle limits as capacity.

eg. on GCE, the egress cap is 2 Gbits/second per core t

[2015-06-08 14:30] radcheb commented on #645
+1

[2015-06-08 17:29] #686 closed

[2015-06-08 19:16] AnanyaKumar commented on #749
A clarification: do we want to remove the network stats panel from the cAdvisor GUI when Docker containers are run with --net=host? Or do we want to find a way to profile the container's network throughput even when it's run with --net=host?

[2015-06-08 20:12] vmarmol commented on #749
We'd just like to remove the data from showing up. In the UI and the API.
On Jun 8, 2015 12:16 PM, "Ananya Kumar" <notifications@github.com> wrote:

[2015-06-09 01:13] vmarmol opened #760 "Detect if running in a cloud provider and get instance type"
We'd like this as a library (others will consume this too we imagine) and as part of the `MachineSpec` in cAdvisor. We should be able to provide
- What cloud provider we're running in (if at all)
- What instance type we're running on

At least initially we can do this with GCE. It looks like we just need to ask the Metadata service. So within a GCE instance:

[code]

It'd be nice to be able to do

[2015-06-09 01:13] vmarmol commented on #754
We can probably piggyback off of work on #760.

/cc @AnanyaKumar

[2015-06-09 06:57] AnanyaKumar opened #761 "Installation Requirements (Go)"
I just installed cAdvisor on my personal Ubuntu (Trusty) machine, and came across a few issues. In particular, cAdvisor did not compile with the gccgo compiler that was installed on my machine. I used "sudo apt-get install golang", however this installed an older version of Go (1.2). Some of cAdvisor's dependencies require newer versions of the golang compiler.

The error messages were somewhat cr

[2015-06-09 08:53] jason2055141 commented on #634
Hi @feiyang21687 How did you get that? What plugin are you using to collect data's or logs in containers? Can you please advice? Thanks.

[2015-06-09 10:20] Yashu5 commented on #752
its working now thanks

[2015-06-09 14:02] cgswong commented on #645
I'm on CoreOS 647.2.0 and getting the error below when running cAdvisor (Google Docker image) in a fleet/systemd unit:

[code]

cAdvisor remains up and running.

[2015-06-09 15:38] vmarmol commented on #761
Yes, we should add the suggestions you mentioned. We tend to work from the latest stable, so Go 1.4 as of now. Not sure about 1.3, but 1.2 is definitely "too old".

[2015-06-09 15:45] vmarmol commented on #761
@AnanyaKumar would you like to document the requirements in the building docs page? :)

[2015-06-09 15:45] vmarmol commented on #752
Awesome! I added a note to the docs. Will close this issue, feel free to open another if you run into any problems.

[2015-06-09 15:45] #752 closed

[2015-06-09 15:46] vmarmol commented on #645
cAdvisor degrades its OOM support in these cases (it does not record OOMs), but should otherwise function as expected.

Not sure what the right answer is here, we probably don't want to include our own journalctl in the Docker image. We may end up mounting it from the host.

[2015-06-09 16:22] trinitronx commented on #645
Just a hint:  It's probably good to gracefully degrade here, and not require `journalctl` because older distro versions (e.g.: CentOS / RHEL 6) do not have `systemd` or `journalctl`.

[2015-06-09 16:25] vmarmol commented on #645
We do today, although we always assume that if systemd is present so will
journalctl. Let us know if that's not the case :)
On Jun 9, 2015 9:22 AM, "James Cuzella" <notifications@github.com> wrote:

[2015-06-09 16:31] trinitronx commented on #645
@vmarmol:  To answer [your question earlier in the thread][4]. boot2docker does not have `systemd` or `journalctl` installed.  boot2docker is based on [Tiny Core Linux][1].  A [quick look at this wiki page][2] tells me that it's using the tried and true `inittab` / `/etc/init.d` / [SysV-style init][3] process.  So no systemd there.

[1]: http://distro.ibiblio.org/tinycorelinux/
[2]: http://wiki.ti

[2015-06-09 16:35] trinitronx commented on #645
My thoughts are that this is "not a bug"...    It appears that @pbhavsar211 just may have not understood that `boot2docker` is not using `systemd` as it's init system.  It also is good to know that the message:

Is really just a warning and that `cAdvisor` gracefully degrades.

Perhaps really there is a hidden desire for a feature request here to add OOM-watcher support for old SysV-style init sys

[2015-06-09 16:39] rjnagal commented on #761
+1 send a PR :)

On Tue, Jun 9, 2015 at 8:45 AM, Victor Marmol <notifications@github.com>
wrote:

[2015-06-09 16:41] rjnagal commented on #645
I think the message should not say "Failed to..."  and not be an error :)

The message should make clear that we are degraded gracefully. I'll add a
fix.

On Tue, Jun 9, 2015 at 9:35 AM, James Cuzella <notifications@github.com>
wrote:

[2015-06-09 16:46] trinitronx commented on #645
Seems that some folks are running into this on CentOS 7 and CoreOS... but my intuition tells me that they're probably not running the container in a way that makes the host's `journalctl` available inside the container.

[2015-06-09 17:54] vmarmol opened #763 "CSS Broken in Newest Chrome"
I *think* that we're not sending the CSS files with the proper MIME type and the newest Chrome is being more strict.

![screenshot 2015-06-09 at 10 53 29 am](https://cloud.githubusercontent.com/assets/985208/8065348/c9c89534-0e95-11e5-9d33-9f8869b7078c.png)

[2015-06-09 18:18] AnanyaKumar commented on #761
Sure, I'll send a PR after I'm done with the net=host issue!

[2015-06-09 18:27] cgswong commented on #645
How should the image be run such that `journalctl` from the CoreOS host is made available to the container please? Below is my Docker run statement:

`
docker run --volume=/:/rootfs:ro --volume=/var/run:/var/run:rw --volume=/sys:/sys:ro --volume=/var/lib/docker:/var/lib/docker:ro --publish=8080:8080 --name=%p google/cadvisor:latest --logtostderr -storage_driver=influxdb -storage_driver_host=stluen

[2015-06-10 00:13] trinitronx commented on #645
After investigating a bit, I found that it appears the [`oomparser` already tries to look at `/var/log/messages` and `/var/log/syslog` files first, then falls back to trying `systemd`][1].   Seems that there is no bug here.

However, when I attempted to start the cadvisor container with `-v /var/log/messages:/var/log/messages:ro`, or with `-v /var/log:/var/log:ro`, the `/var/log/messages` file was

[2015-06-10 02:41] #763 closed

[2015-06-10 07:13] feiyang21687 commented on #634
Hi @jason2055141 We use `cAdvisor` to collect stats data of container, use `scribe` to collect logs of container, use --volume to store the logs of container on local host, use ELK and Graphite to visualize the data.

[2015-06-10 08:09] fanfuxiaoran opened #766 "volume can not be mounted"
Run as run.md in ubuntu 14.04 and docker 1.19,the result is:

Cannot start container fcc434fdb28a699edb9c96b574a331c07717d845530689ca0f07489b5c73d78a:  System error: "/var/lib/docker/aufs/mnt/fcc434fdb28a699edb9c96b574a331c07717d845530689ca0f07489b5c73d78a/sys" cannot be mounted because it is located inside "/sys"

[2015-06-10 13:08] vmarmol commented on #766
Are you running Docker `1.6.1`? This sounds like it is the case. This version had a bug where this mounting was not allowed. Unfortunately the only fix is to upgrade to `1.6.2+` :-\

[2015-06-10 15:46] rjnagal commented on #717
kernel uptime seems to start earlier than the one reported in uptime. We also might have a drift due to suspend events. So, the kernel time is still more accurate but its hard to convert back to walltime. The current solution is much simpler. We should just stick to that.

Thanks for running the experiments, @anushree-n !

[2015-06-10 15:46] #717 closed

[2015-06-10 20:49] AnanyaKumar commented on #760
Thanks for identifying a great issue for me to get some experience in Go and the cAdvisor dev workflow! I have a (short) outline of what I plan to do, and a couple of clarifications on what we expect out of this feature.

What we want:
Module that detects what cloud provider we're on (for now, GCE and AWS)
Machine info data structures should contain cloud provider info
http://localhost:8080/api/v1

[2015-06-10 21:42] rjnagal commented on #760
@AnanyaKumar that sounds mostly right.

- we can do all of it in v2.0 api. We don't need to duplicate it in two places.
- we'll also need cloudprovider.BAREMETAL. We can look up some h/w info to check if we are on bare-metal.
- Don't worry about the GUI, just add it to the API. Some day, we'll do a "machine" page for cAdvisor. This info can show up there.

Let me know if you have other questions.

[2015-06-10 22:14] AnanyaKumar commented on #760
Cool, thanks @rjnagal !

[2015-06-11 01:35] fanfuxiaoran commented on #766
My Docker is 1.7.0-dev

[2015-06-11 17:46] benfb commented on #743
InfluxDB v0.9 is officially released now, see here: http://influxdb.com/blog/2015/06/11/InfluxDB-v0_9_0-released-with-developer-and-production-support.html

The release notes claim "going forward in the 0.9.x series of releases we will not make breaking API changes or breaking changes to the underlying data storage."

[2015-06-11 18:46] mnuessler commented on #743
@benfb That's great news! I will test against the 0.9.0 release version.

[2015-06-11 21:29] smarterclayton opened #770 "cAdvisor can't find docker when running inside a container"
Testing containerized Kubelet and seeing:

[code]

This is normal because Docker isn't in the pid namespace of the kubelet - but either cAdvisor needs to use the same pid namespace escape tricks that the kubelet uses for mounts, or we need to run the kubelet outside of a pid namespace, which makes other things regarding the container much harder.

[2015-06-11 21:37] smarterclayton commented on #770
Nm, I wasn't mounting in the right things.

[2015-06-11 21:46] smarterclayton commented on #770
Nm, still happening :)

[2015-06-11 21:58] rjnagal commented on #770
This bit of code is in kubelet. It creates a new cgroup and tries to move docker processes there.

I think the problem is that kubelet is execing `pidof docker` to find docker processes. In cadvisor, we mount system root at /rootfs and use that to proxy process listing.

kubelet can do the same with `chroot /rootfs pidof docker`

Three lines of change, but needs to go in kubelet :)

Are the namesp

[2015-06-11 22:00] smarterclayton commented on #770
Ah, sorry.  Jumped the gun.  It's not in Kube but we're enabling it in OpenShift and testing it.  Not a high priority fix.

[2015-06-11 22:00] smarterclayton commented on #770
Will move this to Kube

[2015-06-11 22:02] smarterclayton commented on #770
Moved to Kube

[2015-06-11 22:02] #770 closed

[2015-06-12 15:36] cornelius-keller opened #771 "cadvisor prevents docker from removing monitored containers on centos7"
Hi all, I have a problem using cadvisor on centos 7. When cadvisor is running, docker failes to remove other containers saying that the containers filesystem is busy. After stopping cadvisor is stopped container removal is working again.

I demostrated that in this gist: https://gist.github.com/cornelius-keller/0fd2d23b68ccd88c9328

I also included os version and docker info in the gist.

[2015-06-12 16:31] rjnagal commented on #771
Thanks for reporting, @cornelius-keller

what cadvisor version are you running? Can you get host:port/validate for cadvisor?
Is this  a temporary situation, or does the container fs stays busy till you delete cadvisor?

[2015-06-12 16:54] cornelius-keller commented on #771
@rjnagal
Cadvisor version is:

<pre>
[root@583274-app35 ~]# docker images
REPOSITORY                                      TAG                 IMAGE ID            CREATED             VIRTUAL SIZE
docker.io/google/cadvisor                       latest              399ae3c46a0e        47 hours ago        19.89 MB
[root@583274-app35 ~]#
</pre>

This is a permanent situation. The container fs stays bus

[2015-06-12 17:10] rjnagal commented on #771
Yeah, I just need the ouput from /validate endpoint on cadvisor UI. You can
scrub any data that's private in there. Thanks

On Fri, Jun 12, 2015 at 9:54 AM, Cornelius Keller <notifications@github.com>
wrote:

[2015-06-12 17:58] cornelius-keller commented on #771
Sorry was a long day, did not get that this was an endpoint. I added the output to the gist.

[2015-06-15 07:13] jason2055141 commented on #634
@feiyang21687
Thanks men. I will try that scribe to collects logs from container. Thanks again.

[2015-06-18 14:53] sjkeerthi opened #773 "Fail to Deploy via Rancher"
Hi I am trying to deploy the cAdvisor via Rancher.

My Docker sits on CentOS 7.x with Docker 1.6.0.

I passed cAdvisor via Rancher using below options still container didn't start I could not see any error regarding the failures.

 docker run
  --volume=/:/:ro (Since CentOs 7.x) I tried both the way /:/ & /:/rootfs:ro
  --volume=/var/run:/var/run:rw
  --volume=/sys:/sys:ro
  --volume=/var/lib/dock

[2015-06-18 16:44] timpoultney commented on #688
+1 here.

[2015-06-18 16:45] timpoultney commented on #502
This is a cool feature, and I will admit to being n00b, but how do I view cpu in prometheus as a percentage based on metrics sent by cAdvisor?

[2015-06-18 16:50] rjnagal commented on #773
I think you are missing "--volume=/cgroup:/cgroup:ro"

From https://github.com/google/cadvisor/blob/master/docs/running.md (for CentOS):

You may need to run the container with --privileged=true and --volume=/cgroup:/cgroup:ro \ in order for cAdvisor to monitor Docker containers.

Let us know if that works.

[2015-06-18 17:19] beorn7 commented on #502
@timpoultney CPU seconds are counted by `container_cpu_user_seconds_total`. if you take the rate of that over the desired time window, let's say 5min, you get relative CPU usage. That times 100 is percentage:

`rate(container_cpu_user_seconds_total[5m]) * 100`

[2015-06-18 17:44] timpoultney commented on #502
Extremely helpful, thank you.

[2015-06-19 04:45] sjkeerthi commented on #773
In that case my cgroup is not under the /cgroup since its CentOS 7.x its under /sys/fs/cgroup even in that case do you want me to still point volume=/cgroup:/cgroup:ro

[2015-06-22 22:16] vmarmol commented on #645
@trinitronx was the file available on the machine? The volume mounting of `/var/log` should work.

[2015-06-23 13:46] ynnt opened #779 "Cadvisor and systemd"
Hello,

I'm using cadvisor to monitor docker containers on debian 8 which use systemd as init system
Also I see system services such as sshd or mdadm.
Example:
`
container_memory_working_set_bytes{id="/system.slice/docker-3f7eba3c3b2a63c8bbba4f679ca2d2ba704b501890c112218dbdfaa66e2a8041.scope",name="admiring_newton"} 0

container_memory_working_set_bytes{id="/system.slice/docker-576a59ee026bf956a55

[2015-06-23 15:01] vmarmol commented on #779
Hi @a-pastushenko, do you mean that you now see those services (as containers) or that you no longer do? Systemd runs everything inside containers so you should expect to see the different services reported by cAdvisor.

[2015-06-23 15:48] a-pastushenko commented on #779
I see other services now but it's ok

Oh, sorry, I figured out that I didn't fill issue text.

My primary question is why do I see null values about docker containers.

[2015-06-23 19:16] vmarmol commented on #779
@a-pastushenko where do you see these null values?

[2015-06-23 19:41] a-pastushenko commented on #779
127.0.0.1:8080/metrics
On Jun 23, 2015 10:16 PM, "Victor Marmol" <notifications@github.com> wrote:

[2015-06-23 19:42] a-pastushenko commented on #779
Also in the cAdvisor web page there are 0 values for RAM usage
On Jun 23, 2015 10:16 PM, "Victor Marmol" <notifications@github.com> wrote:

[2015-06-23 22:25] vmarmol commented on #779
Hmmm can you post screenshots or example text dumps? Unsure what exactly us returning null values.

[2015-06-23 22:42] vmarmol commented on #773
In that case just do: `--volume=/sys/fs/cgroup:/sys/fs/cgroup:ro` although that should be done with `/sys`... Can you run cAdvisor with: `--logtostderr --v=4` and provide the stdout?

[2015-06-23 23:43] gianlucaborello commented on #771
I am facing this same issue. Essentially, running cadvisor with `--volume=/:/rootfs:ro` causes other containers' devicemapper mounts to be mounted inside the cadvisor container, so they can't be properly destroyed when issuing `docker rm` on the target container as they will appear in use.

How can this be solved?

[2015-06-24 07:30] a-pastushenko commented on #779
http://pastebin.com/raw.php?i=TGjFCX5a

[2015-06-24 09:49] martensson commented on #546
Going to join the thread, having the same issue when trying to use cadvisor in combination with Marathon and Mesos.

[2015-06-24 10:14] discostur opened #781 "Problem viewing LXC machine.slices"
Hi,

i'm running CentOS 7 as a KVM-Guest. Inside this VM, i'm running multiple LXC-Containers via the Libvirt-LXC-Driver. SElinux is in enforcing mode.

If i browse cAdvisor i can see three subcontainers:

- machine.slice
- system.slice
- user.slice

If i select machine.slice i can see my LXC containers:

- /machine.slice/machine-lxc%5cx2dContainer1.scope
- /machine.slice/machine-lxc%5cx2dContaine

[2015-06-24 17:07] vmarmol commented on #781
If you're running the latest cAdvisor can you get the output of the `/validate` HTTP endpoint? I think it is working as implemented, but maybe not as you'd expect :) Let's try to see the setup and see where we can improve.

For the filesystem usage, we have no support for getting that explicitly for LXC containers today.

[2015-06-25 10:39] SlashmanX commented on #743
Has there been any movement on this?

[2015-06-25 12:30] kenzodeluxe opened #782 "Network metrics (e.g. rx_bytes, tx_bytes) for docker containers are equal"
When using the /api/v1.2/containers/ endpoint, all is fine (for the host system).
Using /api/v1.2/docker/, for all of the containers the metrics stay the same, e.g.

(iterating over all containers)
[code]

Can easily be seen in the web frontend, too.

[2015-06-25 15:19] discostur commented on #781
Yes, running the latest version, here is the output of /validate:

cAdvisor version: 0.15.1

OS version: CentOS Linux 7 (Core)

Kernel version: [Supported and recommended]
	Kernel version is 3.10.0-229.4.2.el7.x86_64. Versions >= 2.6 are supported. 3.0+ are recommended.

Cgroup setup: [Supported and recommended]
	Available cgroups: map[memory:1 freezer:1 blkio:1 perf_event:1 cpuset:1 cpu:1 cpuacct

[2015-06-25 18:02] vmarmol commented on #781
Hmmm the validate output indicates that we do see the resources being isolation. This makes me think it may be a UI issue. Can you do two things please:
- Check for errors in the JavaScript console
- Get the output of `/api/v1.3/containers/machine.slice/machine-lxc-<LXC container name>`

[2015-06-25 18:17] vmarmol commented on #782
Thanks for reporting @kenzodeluxe! Just verified the behavior and will look into a fix.

[2015-06-25 22:09] vmarmol commented on #782
Fixed by #783

[2015-06-25 22:09] #782 closed

[2015-06-26 03:00] pacuna opened #784 "basic auth when running inside of a container"
can someone explain me how should I use the basic auth feature for the web-ui when running cadvisor inside of a container?

Thanks in advance.

[2015-06-26 06:27] vmarmol opened #785 "Provide load average for the entire machine"
We have issues with the per-container load average, however we should be able to present one for the machine in the meantime.

[2015-06-26 07:31] kenzodeluxe commented on #782
Would it be possible to release a new version including the fix?

[2015-06-26 14:28] discostur commented on #781
In the Javascript-Console i the following error (repeating each second):

[code]

Is there an error within the path? I think it should be "machine-lxc\\x2d..." instead of "machine-lxc/x2d" ...

Here is the output of /api/v1.3...:

[code]

[2015-06-26 15:34] vmarmol commented on #782
Will work on a release today :)

On Fri, Jun 26, 2015 at 12:31 AM, kenzodeluxe <notifications@github.com>
wrote:

[2015-06-26 15:43] vmarmol commented on #784
@pacuna you will need to inject the required files into a Docker image you derive from the cAdvisor one. Something like:

[code]

To generate the file take a look at [this](https://github.com/google/cadvisor/blob/master/docs/web.md) doc which has some pointers.

Let us know if you have any questions or run into trouble.

[2015-06-26 16:49] rjnagal commented on #785
+1. I wanted to get to this one too.

[2015-06-26 16:52] #781 closed

[2015-06-26 18:40] pacuna commented on #784
@vmarmol thanks!!

[2015-06-26 18:40] #784 closed

[2015-06-27 22:20] kenzodeluxe opened #791 "Are disk io specific metrics supposed to work?"
I'm trying to figure out how to get useful data from:
[code]
etc. When looping over the results and running dd inside the container at the same time, the values either don't change at all, or just a little every now and then.
Are those supposed to work on a per container basis?

Thanks!

[2015-06-28 19:36] kenzodeluxe commented on #791
Found https://github.com/docker/libcontainer/issues/165.

[2015-06-28 19:36] #791 closed

[2015-07-01 01:22] hookenz opened #792 "Add support for ipoib devices"
I run my cluster of docker hosts with Infiniband and IPoIB alongside regular gigabit ethernet.  Unfortunately, the only interface showing is the gigabit ethernet.  The majority of traffic is on ib0 which doesn't show for some reason.

I'd like to get this going, but I can't get cadvisor to build for some reason.

[2015-07-01 16:21] mnuessler commented on #743
I think I will be able to open a PR tomorrow. I had to change a lot when upgrading from  0.9.0-rc31 to the 0.9.0 release version.

[2015-07-01 20:22] vmarmol commented on #743
Eager to see that @mnuessler :)

[2015-07-01 22:23] vmarmol commented on #792
The code that does the detection is here if you're interested: https://github.com/google/cadvisor/blob/master/utils/sysinfo/sysinfo.go#L87

What problems are you running into building cAdvisor? Some help is available here: https://github.com/google/cadvisor/blob/master/docs/build.md

Outside of that, what is the output of `ls /sys/class/net` on those machines? That is how we find our about network

[2015-07-02 11:05] mboussaa commented on #791
https://github.com/docker/libcontainer/issues/165 does not work

[2015-07-02 11:11] mboussaa commented on #740
Any progress on this issue ?

[2015-07-02 11:24] mboussaa commented on #679
@vmarmol what the unit of measure for CPU utilization. you said that it "outputs in number of cores". But how can you define this measure ? thanks

[2015-07-02 12:24] vmarmol commented on #679
The raw CPU metric is in total nanoseconds used since creation. For the UI
with typically take the delta over a time period and divide it by the
length of the time period. This gives us instantaneous usage in number of
cores.
On Jul 2, 2015 7:24 AM, "mboussaa" <notifications@github.com> wrote:

[2015-07-02 12:28] vmarmol commented on #791
Must have been the recent move of libcontainer to runc that broke the link.
The issue mentioned that stats only work if you use the cfq io scheduler.
On Jul 2, 2015 7:05 AM, "mboussaa" <notifications@github.com> wrote:

[2015-07-02 12:39] mboussaa commented on #679
Having one core for example, I got 0.6 cores usage of my CPU using cadvisor UI. That means 60% of CPU utilization?
If I would have the same result programmatically in influxDB (instead of getting the total in nanoseconds). I mean the percentage per core or the total percentage of cpu utilization. How can I manage to get the same results as the UI ?

We already discussed this issue here https://git

[2015-07-02 15:06] cdrcnm commented on #735
Same problem here.

Debian 7.8
Docker version 1.7.0, build 0baf609

The graph :
![out2](https://cloud.githubusercontent.com/assets/7171419/8480075/e747be3e-20db-11e5-9196-0c36932ce6e1.png)

The problem seem related with the number of containers running, the problem appears on servers with around 20 containers, but not on server with a couple of containers.

[2015-07-02 18:04] mboussaa opened #794 "Cadvisor fails to write stats to influxDB"
Hi,
Cadvisor fails to write stats into influxDB

Here the logs:
![capture d ecran 2015-07-02 a 19 58 23](https://cloud.githubusercontent.com/assets/5878565/8483984/0d1c49f4-20f5-11e5-881f-5accffa94063.png)

I am starting Cadvisor like this:
docker run      --volume=/:/rootfs:ro      --volume=/var/run:/var/run:rw      --volume=/sys:/sys:ro      --volume=/var/lib/docker/:/var/lib/docker:ro      --pu

[2015-07-02 18:26] jmaitrehenry commented on #794
Hi,

You are using influxdb v0.9 that is not currently supported by cadvisor, see #743.
You can use influxdb 0.8 just by using tutum/influxdb:0.8.8

[2015-07-02 18:38] mboussaa commented on #794
Thank you for your answer. I changed the image however now, when I create a new database on influxDB. I get this message:
![capture d ecran 2015-07-02 a 20 36 22](https://cloud.githubusercontent.com/assets/5878565/8484865/4079952c-20fa-11e5-8c9c-20b766bde598.png)

[2015-07-02 18:58] jmaitrehenry commented on #794
It's really look like you use influxdb 0.9 and not 0.8 because on the 0.8.8 web ui, when you create a database you have Shard Spaces box, but it's more a problem with influxdb than cadvisor IMO.

I juste made a test with by running influxdb with:
    docker run -d --name=influxdb -p 8083:8083 -p 8086:8086 --restart=always -expose 8090 --expose 8099 tutum/influxdb

And with a force refresh (remove

[2015-07-02 18:59] mboussaa commented on #794
Ok so the solution is to clear the web browser cache.
You can close this issue.
Thank you for your help

[2015-07-03 02:59] hookenz commented on #792
Hi @vmarmol ,

The output of ls /sys/class/net is:

[code]
It turns out I had gccgo-go installed instead of golang-go 1.4.

Basically, nothing in the GetNetworkAdapters code looks broken for IB as far as I can tell.  But I'll take a closer look.

[2015-07-03 03:40] hookenz commented on #792
@vmarmol - I figured out the issue.  While the output of /sys/class/net shows the ib0 device, it wasn't appearing in the UI.  This is because it's not seen in the namespace of the docker image that is running cadvisor.

My solution is to start it with --volume=/sys:/sys:ro

[2015-07-03 03:59] hookenz opened #795 "cadvisor within a docker container doesn't want to show any processes"
It seems that cadvisor run inside a container can't get the visibility it needs to fill out the processes list.

I'm sure there will be a way around it, but the recommended fleet file for CoreOS doesn't do it.
Also, as I pointed out in a previous issue, infiniband devices are missing.  In fact, only eth0 would be shown.  I've worked around that by using --net=host.

I can't seem to get process lis

[2015-07-03 04:09] hookenz opened #796 "cadvisor with no swap shows 8.00 EB memory limit /swap limit"
If you don't have a swap file (as is the case on CoreOS by default),
8.00 EB is shown as the memory limit and swap limit.

Clearly that's not right, I wish it was though! :-)

[2015-07-03 14:55] jmaitrehenry commented on #743
@mnuessler if you need some help, I'm in :)

[2015-07-05 02:04] AJNOURI opened #797 "Authentication is required"
Used to run this
[code]
to pull the image from docker hub and run the container

Cannot explain why I am getting ***Authentication is required.***
[code]

[2015-07-05 02:12] AJNOURI commented on #797
OK, got it! I was running it with "sudo".

[2015-07-05 02:12] #797 closed

[2015-07-05 19:17] jmaitrehenry commented on #724
Hi, I just finish a statsd storage for cadvisor, if you wish try it and send me some feedback about how I did it, you can test it by running my docker image jmaitrehenry/cadvisor or by checking the PR #798

This is how I run it:
[code]

With storage_driver_db is use as a prefix for all stats, I use it for prefixing stats with the docker node hostname for example.

This is a sample of gauge receive

[2015-07-06 03:52] rosskukulinski commented on #724
Amazing!  I'll try to find some time and take this for a spin tomorrow

On Sunday, July 5, 2015, Julien Maitrehenry <notifications@github.com>
wrote:

[2015-07-06 08:37] wearyoung opened #799 ""unknown net.Dialer field 'KeepAlive' in struct literal" and " undefined: sync.Pool" when run "godep go build . ""

[2015-07-06 08:38] #799 closed

[2015-07-06 12:56] mnuessler commented on #743
@jmaitrehenry Thanks a lot :) I have just opened the PR, but I'm sure there are still many improvements to make!

[2015-07-06 15:59] vmarmol commented on #792
Did you not get stats with the /sys volume but without --net=host? I would have expected that to work.

[2015-07-06 17:40] vmarmol commented on #796
That's interesting, looks like an issue on the UI, will take a look. Thanks for reporting!

[2015-07-07 03:56] hookenz commented on #792
@vmarmol -hmm, actually I realise the CoreOS instructions are the issue.

I've changed my cadvisor.service file to contain:

docker run \
  --volume=/:/rootfs:ro \
  --volume=/var/run:/var/run:rw \
  --volume=/sys:/sys:ro \
  --volume=/var/lib/docker/:/var/lib/docker:ro \
  --publish=8080:8080 \
  --detach=true \
  --name=cadvisor \
  google/cadvisor:latest

The key being to pass -volume=/:/rootfs

[2015-07-07 03:56] #792 closed

[2015-07-07 03:58] hookenz commented on #795
The cadvisor.service file suggested for CoreOS is missing:

--volume=/:/rootfs:ro

Which fixes all these problems.

[2015-07-07 03:58] #795 closed

[2015-07-07 15:52] #796 closed

[2015-07-07 18:18] vmarmol commented on #792
Thanks @hookenz! That seems like the command on the README, or is there any documentation you think we need to update and make it easier to understand?

[2015-07-07 18:19] vmarmol commented on #795
Is there a ` cadvisor.service` in the repo?

[2015-07-07 20:16] hookenz commented on #795
My mistake!  I was using a config file found under the heapster documentation.  You're all good.
No I don't see a cadvisor.service file in the repo.

[2015-07-07 20:17] hookenz commented on #792
@vmarmol - Looks like I was following the heapster docs which are perhaps outdated in that section.  But ensuring the rootfs mount is present fixes it.

[2015-07-07 20:20] kenzodeluxe commented on #782
Seems this one didn't make it into 0.16.0 - any ETA when this can be expected?
Thanks!

[2015-07-07 21:15] rjnagal commented on #792
Thanks @hookenz We'll update heapster documentation.

[2015-07-08 06:12] vmarmol commented on #782
Huh, this really should have made it to 0.16.0 (at least as far as we know it did). Are you not seeing the fix when you run it?

[2015-07-08 13:29] kgrvamsi opened #805 "Cadvisor without Gui Just to Serve as API"
Hello,

Do cadvisor have a option where it can be used as a api server to fetch the data without any Gui interface?

Thanks,
Vamsi

[2015-07-08 17:33] rjnagal commented on #805
You can just ignore the gui as it should not take up much resources if you don't hit it. Is there a specific problem with the gui for your usecase?

We currently don't have a way to disable it.

[2015-07-08 18:07] kgrvamsi commented on #805
so here are my requirements

1)To gather the server metrics and container metrics and use a centralized dashboard where i can project those from the dashboard we are building .

So inorder not to make use of the gui we would like to use the API way of fetching the metrics.

Thanks