[2015-07-08 18:25] rjnagal commented on #805
oh, you can just use the cadvisor api for that: https://github.com/google/cadvisor/blob/master/docs/api.md

no need to disable gui.

[2015-07-08 19:27] kgrvamsi commented on #805
so there is no possibility  in not running the cadvisor as a web application ?

[2015-07-08 20:08] kenzodeluxe commented on #782
Sorry - I didn't find it in the list of fixed items and hence thought it didn't make it. Tried, metrics aren't mirrored anymore. Looking into some showing up as 0 now :)
Thanks!

[2015-07-08 21:15] kenzodeluxe commented on #782
0 was caused by host mode which makes sense.

[2015-07-08 23:16] vmarmol commented on #805
We don't have a knob for it today, and we're wondering what the usecase is for running the API but not the UI. The UI just hits the API anyways :)

[2015-07-09 08:51] mboussaa opened #806 "error requesting influxdb"
Hi all,
To start here my docker-compose.yml:
![capture d ecran 2015-07-09 a 10 40 44](https://cloud.githubusercontent.com/assets/5878565/8591272/5db62d80-2627-11e5-924f-6d05f74ce78f.png)

When I request influxdb with a sample query, it shows graphs and data table. However in the console I am getting this:
<img width="956" alt="capture d ecran 2015-07-09 a 10 38 14" src="https://cloud.githubusercon

[2015-07-09 12:17] mboussaa opened #807 "Export CPU utilization per core"
Having one core for example, I got 0.6 cores usage of my CPU using cadvisor UI. That means 60% of CPU utilization?

How can I request InfluxDB to show cpu_cumulative_usage of 1 core (0, 1, 2 or 3) ? because I am running a container on CPU 0 (I set ressources constaint with --cpuset=0) and want to access to the cpu utilization for only that core

Thank you

[2015-07-09 13:00] ciuncan opened #808 "Cadvisor cannot resolve host name from docker link"
Hi,

I ran InfluxDB like this:

[code]

And then ran cAdvisor like this:

[code]

But I couldn't see anything coming in InfluxDB. When I look at the logs of cAdvisor, I saw that it couldn't find connect to InfluxDB due to failed host name resolution:

[code]

I actually checked `/etc/hosts` in `cadvisor` container, and it contains an entry for `influxsrv` with correct IP. If I recreate the `cadvis

[2015-07-09 13:24] kerwin opened #809 "support to interactive with ELK"
It will be great to have support of ELK stack, so that cadvisor can push data to logstash or elasticsearch

[2015-07-09 13:29] kerwin commented on #634
+1

[2015-07-09 23:37] vmarmol commented on #807
Unfortunately we don't export the per-core usage to InfluxDB today. Is that the requested feature?

Since you're binding to only 1 core, the total utilization should be equivalent though

[2015-07-09 23:39] vmarmol commented on #806
Hmmm does it ever update? Only way it could be an issue on cAdvisor is if it didn't push the data. Can we find the data in InfluxDB when this happens? We should also check the cAdvisor logs to see if we had any problems pushing the data.

[2015-07-10 06:37] vmarmol commented on #740
Unfortunately no, we're working on refactoring how StorageDrivers are handled before we tackle this.

[2015-07-10 10:13] ciuncan commented on #806
Could this issue be related? https://github.com/google/cadvisor/issues/808

[2015-07-10 12:37] mboussaa commented on #807
Yes. In fact I am running a container with ressources limitation. For instance, my container runs on cpu 0 and 1 (--cpuset=0,1) so the "cpu_cumulative_usage" in influxdb refers to which core ? mean of cpu 0 and 1?
For example, my machine has 4 cores:
%CPU0=90%
%CPU1=100%
%CPU1=0%
%CPU2=0%
How are you calculating cpu_cumulative_usage?

Thanks in advance.

[2015-07-10 13:10] hoeghh commented on #771
When i run it on Fedora 21, it works fine. But when i run it on Ubuntu 14.04.2 LTS I get the same error as described above.

# Error response from daemon: Cannot destroy container xxx_jenkinsMaster_1230: Driver aufs failed to remove root filesystem 13b421d0458e740e42e5fa5ac1cb68f32638f0bc723d9ba16718955214d79b7d: rename /var/lib/docker/aufs/mnt/13b421d0458e740e42e5fa5ac1cb68f32638f0bc723d9ba167189

[2015-07-10 15:24] vmarmol commented on #807
The kernel exports per-CPU usage as well as usage aggregated over all cores. We only export the aggregate CPU usage. We can use this bug to track exporting per-CPU usage as well.

[2015-07-13 12:17] GregoryKutuzov opened #813 "Cadvisor logging. Not enough disk space."
It seems that glog doesn't support log file overwriting. There is no way to set max log size. This may lead to filling the entire free space of a disc when cadvisor runs in debug mode.

So, I see several ways to deal with it:
1) We could start cron job to remove old log files but it need to be documented in cadvisor docs.
2) Implement this feature in cadvisor itself or glog framework

[2015-07-15 04:24] mikedanese commented on #813
I would suggest using logrotate. glog is closed for features and it seems like overkill to include in cadvisor.

http://linux.die.net/man/8/logrotate

[2015-07-16 01:05] #761 closed

[2015-07-19 19:52] jimmidyson opened #822 "Zero stats for Docker containers network/blkio"
On Fedora 22 with docker-1.7.0-6.git74e7a7a.fc22.x86_64, all Docker containers report zero network traffic & blkio. Is there something that needs to be configured on the host to enable this reporting?

[2015-07-20 15:49] vmarmol commented on #822
The network on seems weird, but blockio may be due to the scheduler used. Can you provide the ourpur of /validate on one of these machines? Do we know if they containers are detected as Docker containers by cAdvisor?

[2015-07-20 18:02] jimmidyson commented on #822
@vmarmol The containers are shown under Docker containers so they're definitely being detected as Docker containers. FYI these containers are managed by Kubernetes, well OpenShift 3, so cadvisor is embedded in the Kubernetes/OpenShift binary. I've tried with latest cadvisor release (0.16) separately too & have the same problem so I believe it is related to cadvisor rather than Kubernetes/OpenShift

[2015-07-20 20:37] vmarmol commented on #822
It looks like only `sda` supports the cfq diskio scheduler which is the only thing we can get stats for (not sure how device mapper comes into play, but I suspect no stats for that). Since this is Kubernetes, the network namespace (and devices) are owned by a different container so only that one will show the stats. Is that the issue?

[2015-07-20 20:52] jimmidyson commented on #822
Using `docker stats` I can see disk I/O, I believe via libcontainer. Not sure if this is different to how cadvisor gathers its metrics?

Even the infrastructure container in the pod shows no network traffic either - not sure why that is either.

[2015-07-21 06:50] zenlinTechnofreak opened #824 "New situation, to export data to a native file"
I think it is necessary to porvide the data(cadvisor provide) to a native file in the native host.
People who are familiar with the linux OS should be used to read data in a native file on os.  by the way, it is also a request for my project.
So, I want to do the developing the function , and also, once I have done that ,  wiill new a PR to the cadvisor.
Acturally, I have go throught the source co

[2015-07-21 07:59] zenlinTechnofreak commented on #824
@vmarmol , If I want to realize to export data to the native file on system,  how can I do ,plz do me some favour, thank u very much.

[2015-07-21 12:46] jimmidyson commented on #822
This appears to only be a problem on Fedora 22 - I've tested it with Kubernetes on GKE & OpenShift 3 on RHEL & network stats are correctly reported on the infrastructure containers in pods.

I wonder if there's some change introduced in fedora 22 that means network stats aren't reported in the same way? Could you point me to where I can look on the filesystem to see where cdvisor looks?

[2015-07-21 15:40] vmarmol commented on #824
Are you suggesting to export the stats to something like a CSV file? That's certainly possible, you can add a new StorageDriver that does so. You can look at other drivers for examples: https://github.com/google/cadvisor/blob/master/storage/

[2015-07-22 01:39] zenlinTechnofreak commented on #824
@vmarmol , we want to get the final resut(such as the output of the /metrics on localhost:8080/metrics), but not only the stats, but the caculate result of the stats. is the StorageDrivers support the final result, or just the stats?

[2015-07-22 02:03] vmarmol commented on #824
What calculated result are you looking for? `/metrics` just exports the raw metrics.

[2015-07-22 02:23] zenlinTechnofreak commented on #824
OK, I am going to have go through it. @vmarmol  thx.

[2015-07-23 01:31] zenlinTechnofreak commented on #824
@vmarmol , Just as you say, the /metrics just exports the raw metrics, I want the final result like the web localhost:8080/containers show, have final total usage of cpu, fingure out the occupy usage of the containers to  the whole system.
and I just trying to find out where to do the caculation via the raw metrics for the final result, if u can help me?

[2015-07-23 04:33] vmarmol commented on #824
Sadly we don't export those stats today. We compute them in JavaScript today here:

https://github.com/google/cadvisor/blob/master/pages/static/containers_js.go

We could maybe expose them, but different people will want different things so we've gone with letting the users compute it today.

[2015-07-23 08:43] emijoon opened #832 "Remote API CPU usage in percentage"
Is there anyway that I can get total cpu usage of each container in percentage through the REST API? I couldn't find it in the documentation.

[2015-07-23 13:24] hectorj2f commented on #743
Are there any expectations of having this PR merged soon ?

[2015-07-23 15:17] vmarmol commented on #743
Sorry, we've been swamped this week with the Kubernetes 1.0 launch. Will try to take a look today/tomorrow. Nothing against the PR, have just been swamped :)

[2015-07-23 15:18] hectorj2f commented on #743
Great! :+1:

[2015-07-23 15:22] vmarmol commented on #832
Not directly, but you can calculate it.

If 100% == 1 core:

[code]

If 100% == the whole machine:

[code]

[2015-07-24 03:26] ZeroGraviti commented on #822
I am seeing the same behavior (no blkio and zero values for network metrics) on cadvisor when it is running in a docker container. Here are the top 10 lines (or so) of my /validate :
[code]
Please let me know if you want the full output ?

[2015-07-24 14:19] lukaf commented on #822
Hi,

Same results (no network statistics from containers) on Ubuntu 14.04 LTS, Docker 1.7.1 and cAdvisor 0.16.0.
Statistics are shown using `docker stats` but not exported by cAdvisor.

pensive_thompson is a nginx container:
[code]

[code]

[2015-07-24 15:20] KevinPike opened #834 "Container memory is off"
It appears that a docker container process table is reporting RSS and virtual memory as KiB when it should be MiB.

Here's an example:
<img width="812" alt="screenshot 2015-07-24 08 15 22" src="https://cloud.githubusercontent.com/assets/1403622/8877851/a1909354-31dc-11e5-8e81-2e2d841f89d1.png">

<img width="1076" alt="screenshot 2015-07-24 08 15 34" src="https://cloud.githubusercontent.com/assets/

[2015-07-24 15:35] rjnagal commented on #834
Thanks for reporting @KevinPike It's missing a conversion. Sending out a PR now.

[2015-07-24 16:29] KevinPike commented on #834
Thanks @rjnagal for quickly addressing it. I think, with my very limited cAdvisor knowledge, that the PR will resolve this.

[2015-07-24 16:38] KevinPike opened #836 "Subcontainer view not displaying memory"
I am using the docker image google/cadvisor:0.16.0. When loading the `/containers/user` and `/containers/docker`, memory is not displayed. The memory overview meter and memory graph display 0 memory. However, the CPU overview meter and CPU graphs display proper CPU values.

Photo of the meters:
<img width="273" alt="screenshot 2015-07-24 09 37 20" src="https://cloud.githubusercontent.com/assets/14

[2015-07-24 16:52] schneidexe commented on #724
Works great! The metrics paths are still a bit messy in when forwarding it from statsd to graphite with whisper storage, but definitely useful. Might be worth to get aligned with #474...

[2015-07-24 17:04] jmaitrehenry commented on #724
@schneidexe something like prefix.container_id.container_name.metric ?
I can update my PR for adding the container_id in the path.

If you wish more metrics, I can do that in a new PR after this one will be merge without problem :)

[2015-07-24 17:08] vmarmol commented on #836
Can you provide the output of `/validate` and the cAdvisor log please?

[2015-07-24 17:48] alexmavr opened #837 "Addition of an instantaneous CPU Usage Metric"
Even though the existing cumulative CPU Usage metric is great, as it allows users to get usage up to nanosecond granularity, in a large set of use cases an instantaneous CPU Usage metric for a standardized duration (e.g. 1 sec) would suffice and be more helpful.

This would address two issues:
- Having to monitor uptime of a container, alongside the cumulative cpu usage, to avoid calculating negat

[2015-07-24 17:55] mikedanese commented on #837
It's also important that we separate the responsibility of exporting raw metrics and transforming/aggregating/deriving statistics. Since cAdvisor is a node agent, cpu/memory is at a premium and many use cases will prefer to move raw metrics off the node before applying transformations. Maybe this could be implemented in a storage backend?

[2015-07-24 17:57] mikedanese commented on #837
It's also possible that this info is already available from accounting in which case we should just expose it...

[2015-07-24 18:03] KevinPike commented on #836
[code]

Do you mind that I left off the managed containers and aliases?

[2015-07-24 18:49] afein commented on #837
I guess this choice boils down to the design choice of functionality separation versus usability and consistency.

Cadvisor is already performing more advanced node-level derivations than this, such as 90th percentiles and moving averages, with more such stats coming up in the following weeks.
In an ideal world, CAdvisor would only export raw metrics, and there would be another layer on top of tha

[2015-07-28 21:15] rjnagal commented on #724
Statsd support is in.

Remaining items:
-  [ ] Update storage backend docs (mostly copy-paste from @jmaitrehenry's example above)
-  [ ] Add docker-compose config to bring up cadvisor+statsd+graphite .

[2015-08-03 07:29] jimmidyson commented on #822
@vmarmol As this doesn't seem to be an isolated incident, is there anything more I can provide to help you identify the issue with this?

[2015-08-05 11:37] tifayuki opened #842 "failed to get all Docker containers with error: unable to find data for container"
I was running cadvisor with `cadvisor -allow_dynamic_housekeeping=false -housekeeping_interval=1m`

Every minute, I call cadvior client to get metrics using

[code]

At beginning, it works well, but suddenly that API call starts to return error. The logs is like

[code]

The docker inspect of the container `1a7b12162a5d892321188cf0a3e763e3919f30cb865dd7aa97a8a34c8a1b007d` is

[code]

The logs of c

[2015-08-06 18:49] aecolley opened #843 "No processes listed on centos systems except in /"
The ps on Centos6 (procps version 3.2.8) formats the CGROUP column differently from the ps used on Ubuntu (procps-ng version 3.3.9). It has no subsystem number (so no ":" before the subsystem name) and entries are separated by ";" instead of ",".

The cgroupPathRegExp in manager/container.go should be changed to reflect it. I suggest ".*?\\w:(/[^,;]*)[,;].*".

[2015-08-06 19:08] aecolley commented on #645
Mounting the host's /var/log onto the container's /var/log fails (at least, on docker 1.6.2 and centos 6.6). The container's /var/log is a symlink to /tmp for some reason, and the mounted directory fails to appear. The same thing obstructs mounting /var/log/messages directly (not that you'd want to do that), as the file is quickly unlinked mysteriously.

I resorted to docker run ... --entrypoint=/

[2015-08-06 19:12] aecolley commented on #843
Mangled by markdown. Let me try one more time: `".*?\\w:(/[^,;]*)[,;].*"`

[2015-08-06 19:14] rjnagal commented on #843
Thanks for reporting @aecolley. The regex looks okay. Feel free to send a CL, or I'll do it soonish :)
We'll cut a new release within a week

[2015-08-07 06:45] jhjeong-kr opened #845 "High CPU usage when system time changed"
housekeeping function is invoked 1sec(default) even if system time changed greatly.
let's suppose that cadvisor is running on a vm and the vm is about to be suspended for 1 day,
and, after 1 day, vm is resumed.
At the moment, cadvisor runs at full speed, because nexthousekeeping is just current housekeeping + 1sec.
Therefore, cadvisor collects stats 1day * 24hours * 60minutes * 60seconds times wit

[2015-08-08 06:18] rjnagal commented on #843
verified on centos6.

[2015-08-08 06:18] #843 closed

[2015-08-10 11:30] alexey-medvedchikov commented on #842
Same bug with `cadvisor -housekeeping_interval=30s`

[2015-08-10 19:02] jimonreal opened #847 "New Storage STDOUT"
As a new feature I believe that it should be possible to send the metrics to the STDOUT so the data could be collected and sent to a centralized logging system.

[2015-08-10 19:03] jimonreal opened #848 "Add Image Name to the metrics collected"
It would be really helpful to have the imageName of the running container, that way you may associate all containers of the same image running on the same host, and on different hosts.

[2015-08-11 13:38] martinm82 commented on #743
Hi guys, just wondering whether the PR will be merged into master soon? :)

[2015-08-11 17:19] jimonreal commented on #847
Fixed with PR #849

[2015-08-11 17:36] jimonreal commented on #848
From Docker API v1.19 the Image name field is no longer available, instead there's an array of the Image Tags, this would be usefull to cross information, knowing from what Image is the container comming from, and the data. That way we may correlate the stats correctly.

[2015-08-12 00:35] jwthomp commented on #743
Also following up to check on status.

[2015-08-14 20:20] #847 closed

[2015-08-17 17:06] md5 commented on #735
I think I may be running into this as well. I'm also on a Macbook Pro with a `boot2docker` VM.

In my case, I noticed high CPU soon after waking my laptop. After seeing `VBoxHeadless` consuming 400% CPU (4 core machine), I poked around and saw that `.cadvisor` was doing most of the fan spinning in my Rancher agent container.

@vmarmol I tried running the command you suggested, but I'm getting this

[2015-08-17 17:07] md5 commented on #735
P.S. Let me know if I should be reporting this to the Rancher folks instead or if you need any more details.

[2015-08-17 17:08] md5 commented on #735
Nevermind the 422 error... I was being dumb and connecting to the wrong container's port 8080.

[2015-08-18 21:45] #845 closed

[2015-08-19 15:31] ClanStyles commented on #743
Any updates, this is one of the only reasons I haven't upgraded influxdb.

[2015-08-19 22:38] yifan-gu opened #858 "Add support for rkt"
Hey guys,
I'd like to help cadvisor to support rkt. One driven reason for this is @yujuhong is going to use the event stream to watch pod/container creation, deletion, etc. events, which should help [kubelet to scale better](https://github.com/kubernetes/kubernetes/issues/12540).

Create this issue to track the progress.

[2015-08-19 23:45] yujuhong commented on #858
Thanks! :)

[2015-08-19 23:56] rjnagal commented on #858
Thanks @yifan-gu

Can you add some details on ways to inspect rkt containers?

- Query to figure out if a given container name was created by rkt.
- Getting any container spec / config? We get resource limits from cgroups, but network setting etc needs to come from the container provider - an equivalent of docker inspect.
- Any event stream for rkt container events?
- Equivalent of labels
- Way to

[2015-08-20 00:22] yifan-gu commented on #858
@rjnagal Thanks for the heading up!

For many of the things you listed, such as listing containers, images, getting networking settings. We are planning to provide rkt APIs for them.

To get started, I plan to have cadvisor to recognize the cgroups of rkt containers. With machined 216+, containers with one pod created by rkt should have cgroups live under `machine.slice/machine-rkt*`, for example:

[2015-08-20 00:29] yifan-gu commented on #858
/cc @jonboulle @philips as related to https://github.com/coreos/rkt/issues/1208

[2015-08-20 00:37] rjnagal commented on #858
@yifan-gu By label, I meant if there's a way to add metadata (in image or runtime) for a rkt container, we would want a way to api to discover it.

[2015-08-20 07:46] BrickXu commented on #809
I think you should send the metrics to the buffer, like MQ or DB, then use ELK consumer it later.

[2015-08-20 08:28] BrickXu commented on #546
+1

[2015-08-20 18:11] yifan-gu commented on #858
Currently the metadata can be only added into the `annotation` of [image manifest](https://github.com/appc/spec/blob/master/spec/aci.md#image-manifest-schema) or rkt [pod manifest](https://github.com/appc/spec/blob/master/spec/pods.md#pod-manifest-schema) before the pod is launched. But there is no way to read/write them from outside of the rkt pod after it's launched.

[2015-08-20 18:13] yifan-gu commented on #858
@rjnagal I'm not very clear of the use case for api to discover labels. Could you give me an example ?

[2015-08-20 18:56] yifan-gu commented on #858
FWIW, I talked with @jonboulle offline, and we don't have strong reason against this. It's just we haven't decided the semantics and haven't implemented it yet.

[2015-08-20 18:58] rjnagal commented on #858
@yifan-gu That sounds ok. Our meta-data use-case should not be a blocker for rkt support. Let us know what you need from us.

[2015-08-20 23:18] pwittrock opened #862 "Always current fetch VersionInfo instead of caching at creation time"
VersionInfo is read and permanently cached when the manager is created.  If docker is started after the manager is create, then the version will always be "Unknown".  This case may be encountered when cAdvisor is started in the same program that initializes the docker daemon / container bridge.

Proposed fix: Never cache the VersionInfo and always do a live read.

[2015-08-20 23:26] vishh commented on #862
#860

[2015-08-21 15:47] dougmoscrop opened #863 "Consider tagging with HEAD commit SHA?"
I understand you have a canary build (cadivsor-canary), would it be practical to have your build also push a tag of the SHA that triggered the build -- for example, I want to use a fix that has not been released yet, but I don't necessarily want to keep pulling LATEST. If the build added a second tag that included the current sha, I could reference it in my scripts.

[2015-08-21 17:00] rjnagal commented on #862
fixed by #860

[2015-08-21 17:00] #862 closed

[2015-08-22 02:24] yifan-gu commented on #858
Status: I kinda found myself forking/execing rkt cli to get container list, status again just like in kubelet. So I decided to implement coreos/rkt#1208 first to smooth my life :)

[2015-08-22 20:30] selvik commented on #743
Looking forward to the merge of this in to master. :) Given that the golang client now works with only InfluxDB 0.9, this merge would be very helpful for us! Thank you!

[2015-08-23 11:36] trompx commented on #634
An elasticsearch storage driver would definitly be a great add ! instead of having to store data to redis first then forward to logstash to save it on elasticsearch.

[2015-08-24 03:18] rjnagal commented on #743
Looks like influxdb broke the older version, so we can ignore that too.

[2015-08-24 09:58] jimmidyson commented on #822
@lukaf What distro is that running on?

@vmarmol Still seeing this problem now with docker 1.8.1 on fedora 22. Anything else I can do to help identify the issue?

[2015-08-24 10:35] jimmidyson commented on #822
Looking through the code, network stats require the `state.json` file for each container to be readable. In my install I can't find that file for each container, but I assume that is because I'm using devicemapper with thin LVM for docker rather than loopback devicemapper or aufs? I have no idea how to be able to use this to get the `state.json` file from the `docker-meta` logical volume where I a

[2015-08-24 11:49] jimmidyson commented on #822
So more investigation... looks like this network stats are broken with Docker >= 1.7 since the introduction of libnetwork. I've tested this with vanilla binaries on Ubuntu to make sure it's not a Fedora specific thing.

@vmarmol What is the oldest version of Docker that cadvisor has to support? Does cadvisor currently change behaviour between versions? If not, what do you think about adding this i

[2015-08-24 15:32] rjnagal commented on #822
I think we can try to get stats from libnetwork if reading the state file fails.
@jimmidyson would you like to try a PR for that? Thanks!

[2015-08-24 15:36] jimmidyson commented on #822
@rjnagal I've had a brief look at that today... not as easy as it looks as you need to get the same libnetwork config as the docker daemon which I can't get a handle on. Will look again tomorrow.

[2015-08-24 16:44] cteyton commented on #634
+1 for a native elastic search driver

[2015-08-24 18:47] jimmidyson commented on #822
@rjnagal One problem of using libnetwork is it has a dependency to later version of docker when docker network plugins were introduced. I'm not quite sure how to proceed without updating the docker dependency which I'm sure you don't want to do. Any thoughts?

[2015-08-24 20:00] vishh commented on #822
May be we can clone old libcontainer code for network stats in cadvisor and
use that for older docker versions?

On Mon, Aug 24, 2015 at 11:47 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-08-25 01:51] philipz commented on #634
+1

[2015-08-25 22:34] #822 closed

[2015-08-26 00:00] vishh opened #866 "Alternative storage for derived metrics"
cAdvisor currently caches raw metrics samples for calculating derived metrics. It compromises on accuracy for the sake of memory efficiency. Switching to an alternative store that compromises on resolution instead might be better for users. @afein added one such [store to heapster](https://github.com/kubernetes/heapster/tree/master/store) recently.

cc @rjnagal

[2015-08-26 13:47] cteyton commented on #809
I think you should continue the discussion here :  #634

[2015-08-26 15:53] rjnagal commented on #634
@feiyang21687 Are you still planning to work on this?

[2015-08-28 01:06] shredder12 commented on #771
@rjnagal I can confirm that this issue happens on Ubuntu trusty x64 with Doceker 1.8.1, cadvisor:latest and devicemapper.

'1cb6051b30a1' being the container ID.

# grep -l 1cb6051b30a1 /proc/*/mountinfo
/proc/1963/mountinfo
# ps aux | grep -i 1963
root      1963  1.9  0.8 588740 71688 ?        Ssl  Aug26  30:08 /usr/bin/cadvisor
root     14767  0.0  0.0  11744   952 pts/0    S+   00:56   0:00 gre

[2015-08-28 07:26] difro commented on #771
same here with CentOS + Docker 1.8.1(devicemapper)

Had to remove ```--volume=/:/rootfs:ro``` && ```--volume=/var/lib/docker:/var/lib/docker:ro```

[2015-08-28 14:06] lukaf commented on #822
While testing 0.16.0.1 release which should include this changes, I've noticed network metrics collection works only if cadvisor is running outside container.

On Ubuntu 14.04.03 LTS with Docker 1.8.1.
Downloaded 0.16.0.1 release and built using:

[code]

Packaged in an image with Dockerfile:

[code]

Build and run:

[code]

Metrics for network are empty:

[code]

But if cadvisor is ran outside th

[2015-08-28 14:08] jimmidyson commented on #822
@lukaf Need to update documentation. When running inside a container it has to run inside the pid namespace of the host (`--pid=host`). So try:

    docker run --volume=/:/rootfs:ro --volume=/var/run:/var/run:rw --volume=/sys:/sys:ro  --volume=/var/lib/docker/:/var/lib/docker:ro --publish=8080:8080 --detach=true --pid=host --name=cadvisor test/cadvisor

[2015-08-28 14:16] smarterclayton commented on #822
If that's truly required that's going to be a problem for containerizing
the Kubelet - do we *want* the kubelet in the parent PID namespace?  Can
you provide more info about why that is necessary (or tell me to read
upthread if I just missed it)?

On Fri, Aug 28, 2015 at 11:08 AM, Jimmi Dyson <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-28 14:28] jimmidyson commented on #822
In Docker 1.7, libnetwork was introduced & changed how networking was done. This meant that all network stats from cadvisor for >= 1.7 were empty. The [Docker recommended way](https://docs.docker.com/articles/runmetrics/#tips-for-high-performance-metric-collection) to gather high resolution metrics is to `setns` into the container net ns to gather stats. This requires access to the host's `pid` ns

[2015-08-28 14:53] lukaf commented on #822
@jimmidyson That worked, thanks!

[2015-08-28 14:55] jimmidyson commented on #822
@lukaf Cool! We might revisit this for a 0.16.1 release if an alternative approach comes along, but it will keep working no matter what now :)

[2015-08-28 15:14] rjnagal commented on #822
That's the one reason I slightly liked reading network stats from
/proc/<pid>/root/sys/class/net/...
We don't have to drop netns for cadvisor.

But if we do decide to drop netns, we can also start getting per-container
cpuload from netlink. I'll let vishh decide.

On Fri, Aug 28, 2015 at 7:55 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-08-28 15:19] jimmidyson commented on #822
`/proc/<pid>/root/sys/class/net/` won't be available unless we're running host `pid` namespace anyway so it's no better/safer when running in a container. Mounting `proc` will screw the cadvisor container up, if it's even possible. Could mount host `/proc` somewhere else in the container I guess but that doesn't feel nice to do.

What do you mean "via netlink"? Perhaps that's an option but don't k

[2015-08-28 15:27] rjnagal commented on #822
We already have root filesystem mapped in as a volume on /rootfs (so we use
/rootfs/proc/<pid>/root/sys/class/net). its used in many places within
cadvisor.

The netlink comment isn't relevant for networking stats. There's netlink
command to get taskstats which gives us cpuload per container. It only
works when cadvisor is running under root netns, so we have it disabled for
now.

On Fri, Aug 28,

[2015-08-28 15:29] smarterclayton commented on #822
If we start kube-proxy in a container it'll have to be in host netns - in
practice we run containerized kubelet in host netns for simplicity of
connection.

On Fri, Aug 28, 2015 at 12:27 PM, Rohit Jnagal <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-28 15:31] jimmidyson commented on #822
@rjnagal If we're mounting the whole rootfs anyway what does it matter if we're running in pid ns? Privileged & mounting rootfs - pid ns isn't exactly reducing security & makes things more consistent between running natively & running in container by using setns to net ns.

@smarterclayton Right but that still doesn't allow us to switch to other docker containers' net ns. Only way to do that that

[2015-08-28 15:44] smarterclayton commented on #822
Pid NS guarantees we cleaned child processes - running in host NS will not
guarantee that.

On Fri, Aug 28, 2015 at 12:31 PM, Jimmi Dyson <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-28 15:46] jimmidyson commented on #822
@smarterclayton Beyond the limits of my knowledge there :) Could you explain or point me somewhere to read up?

[2015-08-28 15:49] smarterclayton commented on #822
When you're in a PID namespace you become PID 1 (whatever is docker
cmd/entrypoint).  If that process dies, the kernel nukes all the children
spawned by PID 1.  So if the kubelet launches child processes (like exec
calls to a network plugin) and the kubelet suddenly dies, when you're in a
PID namespace the children die, but outside a PID namespace they just
become orphans.  It depends on what the

[2015-08-28 15:50] jimmidyson commented on #822
That's a good reason to change this then :)

@rjnagal Let me update to use your approach of `/proc/...` files - will get it done now.

[2015-08-28 16:08] #848 closed

[2015-08-28 17:23] jimmidyson commented on #822
@rjnagal @smarterclayton Switched to `/proc` approach, works great. Nice idea @rjnagal! PR in - #870.

[2015-08-28 17:48] vishh commented on #771
@rjnagal: Excepting disk usage calculation, cAdvisor does not poke at any
of these directories right?

On Fri, Aug 28, 2015 at 12:26 AM, Jihoon Chung <notifications@github.com>
wrote:

[2015-08-28 21:48] jimmidyson commented on #688
Think docker container name & labels are now in the prometheus exposed metrics. Can this be closed?

[2015-08-28 21:51] jimmidyson opened #871 "Export multiple network interfaces in Promtheus metrics"
Currently only exposes first interface, although metrics are captured for all interfaces.

[2015-08-29 12:05] discordianfish commented on #688
Awesome, then it can be closed!

[2015-08-29 12:05] #688 closed

[2015-08-29 13:07] harunyardimci commented on #743
Hi,

is there any due date for this?

[2015-08-30 02:29] babusatasiya opened #873 "docker 1.2.x with LXC 1.0.7 and Redhad6.x gives error - Docker container factory registration failed: docker found, but not using native exec driver"
I am working on testing cAdviser and it is giving following error message, We are using Redhat 6.x with Lxe 1.0.7, docker 1.2.x

docker command

ocker run  --privileged=true  --volume=/:/rootfs:ro   --volume=/var/run:/run:rw   --volume=/sys:/sys:ro   --volume=/var/lib/docker/:/var/lib/docker:ro   --volume=/cgroup/cpu:/cgroup/cpu   --volume=/cgroup/cpuacct:/cgroup/cpuacct   --volume=/cgroup/cpuset:

[2015-08-30 13:50] edannenberg opened #874 "Support influxdb 0.9.x"
Influxdb 0.9.x has been out for a while now, afaik there should be no more breaking releases until 1.x.

[2015-08-30 16:51] edannenberg commented on #874
nvm, there is already a PR for this: https://github.com/google/cadvisor/pull/800

[2015-08-30 16:51] #874 closed

[2015-08-31 16:09] rjnagal commented on #873
This is a warning that we will not be able to report some of the stats that we only get from docker using the libcontainer exec driver. You should still be able to see regular cpu, memory stats, but they show under "subcontainers" rather than docker containers (eg. /lxc container in the logs above).

You can ignore these errors if the stats you are interested in are still showing up.

[2015-08-31 16:52] banusatasiya commented on #873
Yes, I manage to make it work, We use docker with option bridge=none and
 setup our own bridge and specify part of lxc, once I remove this option it
works as you explained.

If you got any insights why we could not work would be gr8.

On Monday, August 31, 2015, Rohit Jnagal <notifications@github.com> wrote:

[2015-09-01 18:05] #871 closed

[2015-09-04 20:31] yujuhong commented on #858
Just FYI, I've decided to not use the cadvisor event stream, and instead adopt docker event stream for my proposal.  The reason is that after receiving a containerStopped event from cadvisor, if you do `docker ps` immediately, the container would still show up. Since kubelet relies on `docker ps` to get a list of running containers in syncing, I cannot use this without significantly rewriting kube

[2015-09-04 21:37] yifan-gu commented on #858
@yujuhong ok, makes sense. where is your branch you are working on?

[2015-09-08 10:07] feiyang21687 commented on #634
Yeah, this is the PR, thank you @hacpai
https://github.com/google/cadvisor/pull/875

[2015-09-08 10:26] cteyton commented on #634
thanks @hacpai

[2015-09-08 13:44] bliss commented on #143
Good day! All of a sudden I found out my statistics have gone. After some examination i found that container names in influxdb become like that one
[code]
instead of more habitual
[code]
and no network statistics.
How can i fix it?
OS: CentOS7
[code]
CentOS Linux release 7.1.1503 (Core)

[2015-09-08 16:48] vishh commented on #143
`k8s_*` containers are created by kubernetes. cAdvisor has no control over
the alias of containers.
An issue related to network stats was fixed recently. The next release
should have the required fix.

On Tue, Sep 8, 2015 at 6:44 AM, bliss <notifications@github.com> wrote:

[2015-09-08 20:07] bliss commented on #143
Thank you for your reply.
"`k8s_*` containers are created by kubernetes. cAdvisor has no control over the alias of containers." --> But it had, because it definitely fed those aliases to influxdb. Moreover, when polled via API cadvisor returns only system slice statistics, no data for docker containers. Looks like it cannot get access to cgroups or something like that. I turned selinux on and off

[2015-09-08 20:14] vishh commented on #143
Thanks for clarifying the issue! Can you post logs from cAdvisor and the
output of `/validate`?

On Tue, Sep 8, 2015 at 1:08 PM, bliss <notifications@github.com> wrote:

[2015-09-08 20:38] bliss commented on #143
@vishh could please make it some more clear? Even with --logtostderr=true --v=2 I got no log output except start/stop info. And let me please know where can I get the '/validate' ? I tried
[code]
Thank you!

[2015-09-08 20:53] bliss commented on #143
When I started cadvisor from command line as root I got all statistics. Maybe the problem arises when cadvisor started by systemd

[2015-09-08 22:43] vishh commented on #143
Can you try `curl -L http://localhost:4194/validate`?
Do check if your unit files have all the necessary mounts as mentioned in
the docker running instructions in the repo.

On Tue, Sep 8, 2015 at 1:53 PM, bliss <notifications@github.com> wrote:

[2015-09-09 04:00] hacpai commented on #634
You are welcome. @feiyang21687 @cteyton

I hope this could help you. :)

[2015-09-09 07:43] bliss commented on #143
[code]
Looks pretty ridiculous but after I ran cadvisor from under root on one of my nodes it got self-healed and started to return required stats being run as usually by systemd. The 'validate' output above from another node with the same problems. Diff between /validate calls on the 'healed' node and 'not-healed' one below:
[code]
On all nodes docker is installed, functioning and of the same ver

[2015-09-09 22:13] onlyjob opened #878 "please support InfluxDB v0.9"
Please support current release of InfluxDB. [InfluxDB promises to be good](https://github.com/influxdb/influxdb#an-open-source-distributed-time-series-database):

[2015-09-09 23:24] rjnagal commented on #878
Thanks for reporting @onlyjob

It's being addressed in #800

[2015-09-09 23:24] #878 closed

[2015-09-10 05:52] onlyjob opened #879 "minified/obfuscated resources in "pages/static"; privacy breach"
Files in [pages/static](../tree/master/pages/static) contain embedded JavaScript and CSS resources in minified obfuscated form. This is a bad practice just like committing pre-build binaries.
Those files should be composed on build time.
Minified resources are same as pre-compiled binaries -- un-readable, non-modifiable and non-distributable in [Debian](http://debian.org).

Lately it's been [demon

[2015-09-10 09:56] Naresht-vedams commented on #832
@vmarmol
I tried **localhost:4194/api/v1.3/events/start_time** but it is showing nothing.
Could you provide the REST API url..?

[2015-09-10 11:36] Trane9991 opened #881 "Elasticsearch storage driver"
@hacpai
Hi I'm waiting for a long time for this driver, and I'm started to test it right away and found some critical issues.
Elasticsearche storage driver works OK, when sending data to default url "http://localhost:9200", but when i trying to send to remote elasticsearch I'm getting error.

When I'm trying to write to the existing Elasticsearch:
[code]

When I'm trying to write to unexciting ela

[2015-09-10 13:30] hacpai commented on #881
Thanks @Trane9991

Oh. The Ping service is special in that it doesn't use the URLs of the client but the one specified via the URL member of the PingService (which is http://127.0.0.1:9200 by default).

So use this code to issue the ping to your URL instead:

[code]

Can you help me fix this bug?

just modify storage/elasticsearch/elasticsearch.go 108 line:

[code]
to
[code]

[2015-09-10 13:51] Trane9991 commented on #881
Thank you for answer @hacpai
but it did'nt help, I believe it failing somewhere on the on the line 100 and 101.
according to the trace on log:
[code]

[2015-09-10 14:25] hacpai commented on #881
@Trane9991 It is strange, I see this document

https://github.com/olivere/elastic/blob/master/doc.go#L18

line 100 and 101 is OK.

[2015-09-10 16:00] Trane9991 commented on #881
@hacpai
I have no idea where problem is. Here is very strange behavior.

Running:
[code]

As you can see here is:
127.0.0.1 its localhost for **10.128.129.121** and **remote_elk** its some remote elk.

Starting cadvisor on the **10.128.129.121** CoreOS:
[code]

now trying local elk
[code]

and the same but with 127.0.0.1
[code]

If I run any of this commands on the other CoreOS machine(where is no

[2015-09-11 08:40] hacpai commented on #881
Thanks @Trane9991

It's the "docker issue".

A ElasticSearch client uses a sniffing process to find all nodes of your cluster by default, automatically.

When sniffing the cluster fails as you create the new client, an error is returned: Elastic might have a problem to find any suitable node in your cluster.

Now I disable it when creating a client.

You can try my new commit and let me know if yo

[2015-09-11 10:59] Trane9991 commented on #881
@hacpai
Still can't write to remote elasticsearch :(

[code]

PS: I'm not using cadvisor from container currently I'm running binary directly from CoreOS.

Did you try to connect cadvisor to remote elk?

[2015-09-11 11:52] hacpai commented on #881
![2015-09-11 7 50 52](https://cloud.githubusercontent.com/assets/3353639/9814165/6ec8224e-58be-11e5-94f6-b5f3c360bac5.png)
Yeah, 45.55.62.208 is my remote host. You can try connect it.

[2015-09-11 13:01] n0mer opened #883 "please display container name in "subcontainers" view"
Hi,

 currently "subcontainers" view display only container id:

![image](https://cloud.githubusercontent.com/assets/1862997/9815374/cf2971a2-5895-11e5-9925-35a8d52eb2f5.png)

It would be awesome to see container name in this table as well.
Otherwise, when you're looking for specific container's stats, one-by-one picking is required.

[2015-09-11 17:43] vishh commented on #883
Can you check the output of `/validate` endpoint of cadvisor? I suspect
that it is not able to reach docker daemon. This can happen if cAdvisor is
run without the required privileges. ALso try restarting cAdvisor.

On Fri, Sep 11, 2015 at 6:01 AM, Nikolay Gorylenko <notifications@github.com

[2015-09-11 18:26] stonevil commented on #881
fixbug-issue-881

cadvisor trying connect to http://127.0.0.1:9200/ just ignoring provided -storage_driver_es_host="http://192.168.0.101:9200"

root@98fde4963846:/go/src/github.com/hacpai/cadvisor# ./cadvisor -storage_driver="elasticsearch" -port=8099 -alsologtostderr=true -storage_driver_es_host="http://192.168.0.101:9200"
panic: Get http://127.0.0.1:9200/: dial tcp 127.0.0.1:9200: getsockopt: co

[2015-09-12 01:04] n0mer commented on #883
@vishh here is the output

[code]

container is started with this command

[code]

So what exact privileges are you talking about?

[2015-09-12 01:08] n0mer commented on #883
When i click on a single entry in that list , then i can see the container name:

![image](https://cloud.githubusercontent.com/assets/1862997/9829207/60b8fcb8-58fb-11e5-9b07-c76b5dc98acf.png)

But there is still no way to see container name is this "subcontainers" list.

So i think this is UI issue, and has nothing with "privileges". What do you think @vishh  ?

[2015-09-12 12:20] hacpai commented on #881
Hi @stonevil

What is the output of curl http://<ip>:9200/_nodes/http?pretty when you run it from the server where Elastic is running?

[2015-09-14 01:23] stonevil commented on #881
# curl http://localhost:9200/_nodes/http?pretty
{
  "cluster_name" : "cluster",
  "nodes" : {
    "82--26PoTTaFcGes4hTatA" : {
      "name" : "elastic-3",
      "transport_address" : "inet[/192.168.0.103:9300]",
      "host" : "e6ca7be52655",
      "ip" : "172.17.0.25",
      "version" : "1.7.1",
      "build" : "b88f43f",
      "http_address" : "inet[/192.168.0.103:9200]",
      "http" : {

[2015-09-14 01:24] stonevil commented on #881
UNICAST turned off.
ES cluster managed by etcd.

[2015-09-14 02:28] hacpai commented on #881
@stonevil

Okay, my new code fix this problem.

Just follow me

1. `cd $GOPATH/src/github.com/google/`
2. `rm -rf cadvisor` and  `git clone https://github.com/hacpai/cadvisor.git -b fixbug-issue-881`
3.  `godep go build .`
4. ./cadvisor -storage_driver="elasticsearch"  -storage_driver_es_host="http://localhost:9200" -storage_driver_es_enable_sniffe=true

If you're using ElasticSearch from containe

[2015-09-14 18:03] vishh commented on #883
With the latest version I do see the docker container alias show up in the subcontainers list. So I am not sure why it does not work for you.

![cadvisor-temp](https://cloud.githubusercontent.com/assets/7063592/9857590/3a8fa9ca-5ad0-11e5-862e-a9ab64508bff.png)

[2015-09-14 18:11] n0mer commented on #883
@vishh i finally figured out - you're right, it is possible to see containers if you click on "Docker Containers" (/docker) blue link:

![image](https://cloud.githubusercontent.com/assets/1862997/9857712/79ddf090-5b1c-11e5-8bba-f2355fcce100.png)

Container names are not visible when i click "docker" (/containers/docker) or "/user" (/containers/user) in Subcontainers

[2015-09-14 18:12] vishh commented on #883
Yeah. Raw cgroups based container's don't have an alias. The UI and the
dependent APIs can be updated to make all the pages include alias, if one
is available.

On Mon, Sep 14, 2015 at 11:11 AM, Nikolay Gorylenko <
notifications@github.com> wrote:

[2015-09-16 06:12] mhausenblas commented on #546
@samek can you pls share your Marathon app spec (JSON) file for cAdvisor?

[2015-09-16 08:25] samek commented on #546
@mhausenblas We're not using cadvisor anymore :(

For mesos monitoring and task monitoring from marathon we use
https://github.com/bobrik/collectd-docker
https://github.com/bobrik/docker-collectd-mesos

It solved all our problems.

If you need those I can post them for sure.

[2015-09-16 08:53] mhausenblas commented on #546
Awesome, thanks @samek — yes, the Marathon app spec would be appreciated!

[2015-09-17 06:55] hkeeler commented on #743
Any update on this?

[2015-09-17 14:57] Trane9991 commented on #881
@hacpai
thank you. Looks like Issue are resolved now. Everything works fine with ```-storage_driver_es_enable_sniffer=false```

But one more thing which will be nice to have - ability to turn off this kind of logs from elasticsearch driver:
[code]

[2015-09-17 15:00] selvik commented on #499
@cbogss @vishh @vmarmol   Looks like this null values issue could be resolved by a new option in InfluxDB 0.9 (https://influxdb.com/docs/v0.9/query_language/data_exploration.html) - "fill (none)". This will allow us to skip a row with null values. Since cAdvisor doesn't yet work with 0.9, I can't test. Do you think it'll help ? Another reason why this would be pretty useful for us: https://github.

[2015-09-17 15:56] hacpai commented on #881
@Trane9991 Thanks, a good suggestion.

[2015-09-17 17:52] #881 closed

[2015-09-21 15:23] f0 opened #889 "Support TCP statistics for host and containers"
Hi,

is it possible to support tcp statistics from /proc/net/tcp and /proc/net/tcp6, for both the machine, and containers (when they have their own network stack)?

regards f0

[2015-09-21 16:43] vishh commented on #889
Yes. Can you file an issue against cAdvisor?

On Mon, Sep 21, 2015 at 8:23 AM, f0 <notifications@github.com> wrote:

[2015-09-21 16:52] f0 commented on #889
hm , I thought this issue is against  cAdvisor.  Can u point me to the correct place?

[2015-09-21 16:53] vishh commented on #889
@f0: My bad, I read this issue via email and I misread the source.

[2015-09-21 16:54] vishh commented on #889
@f0: Will you be able to post a PR for this?

[2015-09-21 16:56] f0 commented on #889
@vishh i can try it

[2015-09-22 16:09] thefallentree opened #890 "When would there be a new release?"
It's been two months!

[2015-09-22 18:35] f0 commented on #889
@vishh   should info v1 and v2 supported? i see only v1 imported

[2015-09-22 19:36] vishh commented on #889
I'd recommend updating just v2. By import what are you referring to?

On Tue, Sep 22, 2015 at 11:35 AM, f0 <notifications@github.com> wrote:

[2015-09-22 19:40] jimmidyson commented on #889
Out of interest, what tcp statistics from `/proc/net/tcp` are you interested in?

[2015-09-22 19:49] f0 commented on #889
@vishh  in lbcontainer/helper only info from v1 are imported
@jimmidyson  e.g how many connections in state Established or Listen ..

[2015-09-22 20:02] jimmidyson commented on #889
@f0 Sounds good!

[2015-09-22 21:51] f0 commented on #889
@vishh  ok a working prototype is finished (for the api), maybe you can take a look at  https://github.com/f0/cadvisor  and give some feedback

I also had some trouble with the ap iv1, v2 transistion, atm its only working for v1

[2015-09-22 22:34] jordanglassman commented on #890
I would be curious if there was a ballpark timeline available, particularly for the 2.0 beta API, for planning purposes.

[2015-09-22 22:55] vishh commented on #890
I will make a release before the end of this week.

On Tue, Sep 22, 2015 at 3:34 PM, Jordan Glassman <notifications@github.com>
wrote:

[2015-09-23 16:53] vishh commented on #606
@rjnagal: Any progress on this? New contributors are confused because of this split.

[2015-09-23 22:09] rjnagal commented on #890
new release 0.18.0 is up. Thanks for your patience!

[2015-09-23 22:09] #890 closed

[2015-09-25 03:12] Oscarzhao opened #894 "please support ssl or other kinds of authorization"
when i use kubelet (cadvisor inside), i want to visit the cadvisor (4194) port from a remote host securely and not from master (via /api/v1/proxy/nodes/{name}/{path:*} ) , so ssl or other type of authorization is a need, thx

[2015-09-25 05:50] jimmidyson commented on #894
When embedded inside a kubelet I'd rather see cadvisor exposed under something like `/cadvisor` on the kubelet port & totally disabling the separate cadvisor port, thereby reusing the kubelet cert & auth.

Alternatively we could add in the same TLS & auth stuff to cadvisor that I added to heapster yesterday, but that would then also require those config options adding to the kubelet to enable it,

[2015-09-25 17:21] rjnagal commented on #894
+1 to what @jimmidyson said. Many users embed cadvisor into their own products - kubernetes/kubelet being one of them. I'd prefer if we don't add non-trivial auth handling in cadvisor which might conflict or bypass settings for the wrapper. AFAIK, kubelet is in process of  disabling cadvisor port and using kubelet as a proxy for all cadvisor data.

[2015-09-25 17:25] jimmidyson commented on #894
I've submitted a PR for that - kubernetes/kubernetes#14556

[2015-09-25 18:04] vishh commented on #894
+1 to Rohit's comments. Until we have a kubelet API that can expose all the
data that cadvisor provides, we might have to expose an endpoint like
`/cadvisor`.

On Fri, Sep 25, 2015 at 10:25 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-09-25 18:08] jimmidyson commented on #894
That's exactly what I've done in the referenced PR :)

[2015-09-29 22:50] yujuhong opened #898 "Increase the period of getting container filesystem/network stats"
Frequent checking could cause high cpu usage, as reported by a kubernetes user in https://github.com/kubernetes/kubernetes/issues/10451#issuecomment-143255549

edit: The current housekeeping period is 1s

/cc @vishh

[2015-09-29 22:51] yujuhong commented on #898
/cc @dchen1107

[2015-09-30 05:12] jimmidyson commented on #898
From the referenced issue it seems running `du` is the culprit. Why does cadvisor run du at all? Don't think we care much about the size of any individual dirs do we? Shouldn't df of equivalent give enough info?

[2015-09-30 05:42] jimmidyson commented on #898
AFAICT this du cheek only runs on aufs backed docker, basically docker running on ubuntu. Firstly I don't really like that inconsistency, but secondly I'm not sure I see the value of this check anyway. What do you think about removing it? In the meantime I'll have a think about how we might be able to implement in a better fashion.

Alternatively we could reduce the polling interval, but that just

[2015-09-30 23:33] yujuhong commented on #898
Do we not check disk usage in other cases?

I think we want more information of disk usage exposed to kubelet. @vishh is probably the one who added this, so he'd defend the choice better than I do.

I agree that reducing the polling interval is a short-term solution, but it'd help for the time being since we've got quite a few reports from the users. A better implementation is more than welcome :)

[2015-10-01 05:41] jimmidyson commented on #898
Yes only aufs. See https://github.com/google/cadvisor/blob/b22a08525784f32fa5f188d2974705a68c68d480/container/docker/handler.go#L232.

If this check is required, the way to perform it is dependent on the backing storage used for docker. In its current form this check would probably also work for devicemapper loopback but isn't going to work for a more production like deployment like using direct l

[2015-10-01 07:18] jimmidyson commented on #898
You probably already know this, but thought it worth just noting why `du` is causing CPU spikes. The only way for du to know dir size is to traverse the file tree & sum file size from file metadata. Unless the files are cached this is a relatively expensive operation. It also affects the disk cache which potentially affects performance of other running processes as files they access may have been

[2015-10-01 10:34] jimmidyson opened #899 "Jenkins PR builds are not publicly accessible"
Failures are hard to diagnose for PR authors.

@vishh Can you make them public again?

[2015-10-01 17:42] tifayuki opened #900 "still have no container network metrics with cadvisor 0.18.0 and docker 1.8.2"
The release note 0.18.0 said, this problem is fixed. But it doesn't work for me.

In the webUI of the container, there are only metrics for CPU, memory, and FS
Query the API, it gives:
[code]

The container is cadvisor it self, but it shows `has_network: false`

[code]

[2015-10-01 17:56] jimmidyson commented on #900
Can you share the `docker run` command you used? What distro is this on? I assume Ubuntu by the aufs references but what release?

[2015-10-01 18:01] jimmidyson commented on #900
Could you also please share the output of `docker inspect -f '{{.HostConfig.NetworkMode}}' <CADVISOR_CONTAINER_ID>`?

[2015-10-01 18:04] tifayuki commented on #900
[code]
the distro is `ubuntu:trusty`
`Linux hfeng-VirtualBox 3.16.0-37-generic #49~14.04.1-Ubuntu SMP Thu Apr 30 10:52:28 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

[code]

[2015-10-01 18:08] tifayuki commented on #900
[code]

[2015-10-01 18:22] jimmidyson commented on #900
OK let me try to recreate - can't see why it wouldn't detect network mode.

[2015-10-01 18:25] yujuhong commented on #898
I am okay with disabling this for now since kubelet hasn't started utilizing it, but I think we still want the disk usage information in the near future. @vishh, WDYT?

[2015-10-01 18:39] jimmidyson commented on #900
So running cadvisor straight on the host works fine. Looking to figure out why it fails when running cadvisor in a container.

[2015-10-01 18:43] maarsl opened #901 "cAdvisor and garethr/docker puppet module"
I use garethr/docker puppet module to manage my docker containers and trying to do same for cAdvisor.
Using a resource as
`docker::run { 'cadvisor':
    image           => "google/cadvisor:latest",
    ports           => ['9090:8080'],
    volumes         => ['/:/rootfs:ro', '/var/run:/var/run:rw', '/sys:/sys:ro', '/var/lib/docker/:/var/lib/docker:ro'],
    detach          => true,
    use_name

[2015-10-01 18:46] jimmidyson commented on #901
Can you try adding `-logtostderr` to the docker `cmd` however you do that with that Puppet module. That should spit out some logs that might help.

[2015-10-01 19:40] jimmidyson commented on #900
So looks to me like the image `google/cadvisor:latest` & `google/cadvisor:0.18.0` aren't actually version 0.18.0 at all... This works great when i've built the images from the 0.18.0 tag in this repo & it works fine.

I also noticed that some of the commits prior to the 0.18.0 release are not included in the docker image, most obvious is the cadvisor version info in the prometheus metrics at `http

[2015-10-01 20:52] maarsl commented on #901
Below is the log I get from container
[code]

[2015-10-02 05:33] jimmidyson commented on #901
There's nothing unexpected in there. So the container just exits? If you do the docker run manually (without using the puppet module) does the same thing happen?

[2015-10-02 06:01] jimmidyson commented on #899
Public again

[2015-10-02 06:01] #899 closed

[2015-10-02 08:22] tifayuki commented on #900
Thank you for the update.

BTW: is the binary on https://github.com/google/cadvisor/releases/tag/0.18.0 the correct version?

[2015-10-02 08:27] jimmidyson commented on #900
No it's not. Missing the same functionality.

@vishh @rjnagal Looks like something is pretty wrong with the release process - the 0.18.0 git tag is correct, but the binary on the releases page & the tagged docker image are wrong. Can you update that ASAP?

[2015-10-02 13:46] jimmidyson commented on #900
I've just pushed a locally built binary from the 0.18.0 tag to overwrite the dodgy version to https://github.com/google/cadvisor/releases/tag/0.18.0 - can you try it out please?

[2015-10-02 13:48] #889 closed

[2015-10-02 13:56] vishh commented on #900
I can rebuild and push again today.

[2015-10-02 14:04] mrosic opened #903 "container_fs at /metrics showing 0s instead of real values"
Most of the stuff starting with "container_fs" on /metrics shows only zeroes at the moment. This applies to 0.18.0

[2015-10-02 14:23] tifayuki commented on #900
@jimmidyson

The new binary works fine.
Thank you

[2015-10-02 14:23] #900 closed

[2015-10-02 14:25] jimmidyson commented on #900
Thanks for the feedback!

[2015-10-02 16:09] vishh commented on #898
Filesystem stats are useful mainly to figure out which container is hogging up disk space on a given node.
As you said @jimmidyson, there is no easy way to make this work across all storage drivers in docker.
I'm working on a quota based approach, but even that won't work on all deployments since it requires setting up quota.
I personally think fs usage feature will be useful.
If we can, we should

[2015-10-02 16:35] vishh commented on #894
I think this issue can be closed now. Feel free to re-open if you think otherwise @Oscarzhao.

[2015-10-02 16:35] #894 closed

[2015-10-02 16:36] vishh commented on #900
@jimmidyson: I have updated the `latest` tag. Can you try once?

[2015-10-02 19:35] jimmidyson commented on #900
@vishh Tested & looks much better for both `latest` & `0.18.0` docker tags - thanks.

[2015-10-05 07:57] hourliert commented on #771
Same problem here with Ubuntu 14.04.3.

@difro solution works but cadvisor can't provide docker stats anymore.

Any workaround?

[2015-10-05 08:16] jimmidyson commented on #898
See #771 for another reason not to do `du` inside the containers' fileystem - blocks container deletes.

[2015-10-05 21:24] rmetzler commented on #771
The last time I ran into this problem and digged a little bit into the cAdvisor source code. I'm not 100% sure - because it was a few weeks ago - but this is essentially the gist:

If you use cAdvisor like it is shown in README.md you'll mount `/var/lib/docker` as a voume into the container. This will [create dead containers](https://github.com/docker/docker/issues/9665#issuecomment-137422559).

T

[2015-10-05 22:05] jimmidyson commented on #771
We should be able to get all info from a `docker inspect` rather than parsing the container config file. Seems like mounting `/var/lib/docker` is causing more trouble than it's worth.

[2015-10-06 12:43] aheusingfeld commented on #743
@rjnagal I'm not sure I get what you meant to say. The InfluxDB API shouldn't have changed since 0.9. Could you please have another look at this and explain what is missing from being merged? We're really looking forward to the InfluxDB 0.9 support. Thanks for your time!

[2015-10-06 14:24] mboussaa commented on #679
So as @huikang said, is that the way of calculating the %CPU? @vmarmol  is the % accurate ?

[2015-10-06 19:53] dchen1107 commented on #898
@jimmidyson du is a temporary workaround for disk usage tracking in cAdvisor without disk quota. We are working on proposal / prototype on better disk usage tracking. One proposal is using disk quota tracking. But before we get there, we need signals at least to detect out-of-disk condition, and propagate such information to upstream layers for management. Thus increasing the interval for filesyst

[2015-10-06 20:26] jimmidyson commented on #898
@dchen1107 `du` isn't giving you out of disk notifications, that would be handled via `df` or similar I'd suggest. `du` is giving you information on where your disk is being used up though, which I agree is useful, but is currently having, to my mind, unacceptable impacts on both performance (high IO & CPU - ) & stability (blocking container GC). This is also only implemented for aufs which

If we

[2015-10-06 22:59] selvik opened #908 "Push container ID rather than container name to InfluxDB"
Hi,
Is there a provision to push the container ID instead of container Name to InfluxDB? I ask because container names can be reused on a Docker host (not at the same time but at different points in time, when the previous one had been killed and removed). All historical query results from InfluxDB about this container would then be completely wrong when this happens.

Thanks!

[2015-10-06 23:18] maarsl commented on #901
yes, it just exits. And if I run docker run manually it works fine. the only difference in running via module is, module creates an init script like
[code]

[2015-10-07 16:29] selvik commented on #908
@vmarmol Would you have any inputs on this? Thanks!

[2015-10-07 16:52] vishh commented on #898
@jimmidyson: We do not use `du` for out of disk conditions. We use `statfs`. I intend to add support for devicemapper and overlayfs soon, which should address the "aufs only" concern.
As @dchen1107 mentioned, identifying and getting rid of a disk hogging container is very useful in reality.

[2015-10-08 20:04] #898 closed

[2015-10-08 21:52] KostyaSha commented on #785
Any updates?

[2015-10-09 03:08] nashasha1 opened #911 "cannot find package"
"imports github.com/docker/docker/vendor/src/code.google.com/p/go/src/pkg/archive/tar: cannot find package "github.com/docker/docker/vendor/src/code.google.com/p/go/src/pkg/archive/tar""

I met this error when I built it (restore).

It was ok a few days ago. But today it is not work anymore.

Anyone got the same error?

[2015-10-09 05:43] jimmidyson commented on #911
Are you building with `godep go build `? There's a Makefile now in project root so you should be able to do a simple `make` now BTW.

[2015-10-09 06:27] nashasha1 commented on #911
Yes. I got this error when I run `godep restore` ! Even I use `make` to build, it still need this package, am I right?

[2015-10-09 06:30] jimmidyson commented on #911
You don't need to do a godep restore to build cadvisor. godep vendors all required packages locally. So unless you're looking to add/update/remove any dependencies you don't need to run godep restore.

make or godep go build should suffice.

[2015-10-09 07:10] nashasha1 commented on #911
Thanks @jimmidyson . I was building it in a new vm. So I had to restore it. The point is this package disappear. I don't know why. You can try `go get` it, I think you will get the same error.

[2015-10-09 07:15] jimmidyson commented on #911
I'll check this later but even when building in a new workspace, you shouldn't need to do a restore. godep configures your GOPATH to use the vendored dependencies. One downside is that godep means that cadvisor is not go gettable, or at least not buildable directly from go get. godep go build or make after cloning should work fine though.

[2015-10-09 08:27] jimmidyson commented on #911
So this builds fine on a clean env with `godep go build` or `make` but `godep restore` doesn't work as you mentioned. Looks like some manual editing to the godeps config.

[2015-10-09 09:50] nashasha1 commented on #911
Thanks@jimmidyson  `godep go build` work well!

[2015-10-09 10:41] jimmidyson commented on #911
Oh great!

The problem with `godep restore` is that it can't handle packages being deleted from source repos. In this case, the docker repo has deleted that package & that's messing up godep.

@vishh What do you think about upgrading docker dependencies?

[2015-10-09 13:26] mboussaa opened #913 "Memory usage definition"
Hi,
How can you define the memory usage metric provided by cadvisor? is it dynamic stack size, heap requirement, cache misses, code size?
as well for cpu cumulative usage, in which measure unit it is calculated? How can you define it?
Is there any documentation on that ?
@jimmidyson  Do you have any idea?
Thank you

[2015-10-09 14:23] mboussaa commented on #638
in the same topic, data dumped into influxdb as "memory_usage" refers to which definition of memory usage ?

[2015-10-10 19:17] onlyjob commented on #304
Is there a more elegant way to embed static resources? Perhaps serving .js and .css files from `/usr/share/cadvisor` instead of stitching resources straight into executable? Current approach strikes me as remarkably ugly (let alone unnecessary use of obfuscated/minified code).   :-(

[2015-10-11 09:18] gregbkr commented on #634
Hello, thank you for adding the ELK support to cadvisor, that is a great news! ^^
This command work, and I can see the data in kibana (in index: cadvisor):
  docker run \
  --volume=/:/rootfs:ro \
  --volume=/var/run:/var/run:rw \
  --volume=/sys:/sys:ro \
  --volume=/var/lib/docker/:/var/lib/docker:ro \
  --publish=8080:8080 \
  --detach=true \
  --name=cadvisor \
  google/cadvisor:latest \
  -st

[2015-10-11 11:57] wulonghui opened #914 "subcontainers??"
For cAdvisor, there are two types of container:
- raw
- docker

as I understand, the container here is kind of general theory, we can the machine, the process is a container.
But confused with subcontainers, what's the meaning and function??

[2015-10-12 11:39] cteyton commented on #634
To overcome the missing ".raw" issue, i think you should get into the es driver of cadvisor and figure out what's missing. If the container name is a String, thus it's strange that no "raw" value is available.

[2015-10-12 11:42] jimmidyson commented on #634
`.raw` suffixes are added via Elasticsearch configuration AFAIK. When you're using Logstash it uses an Elasticsearch template to create these multifields (I think they're called) in Elasticsearch. There isn't really anything for cadvisor to do.

[2015-10-12 11:44] pmoust commented on #634
@gregbkr In Kibana 4, go to Settings -> Indicies -> Select your index pattern -> hit Refresh to repopulate, find the appropriate fields and index them as needed.

![screenshot 2015-10-12 14 42 45](https://cloud.githubusercontent.com/assets/2493339/10427140/a4b4d4e4-70ef-11e5-9a46-6c1eee484ea9.png)

[2015-10-12 11:45] cteyton commented on #634
sorry, thanks for correcting me !

[2015-10-12 18:14] gregbkr commented on #634
Good evening everyone!

Thank you for your posts. @pmoust : I followed your path and the issue seems coming from the fact that the field container_Name is analyzed (so split in sub-field) , so I try to edit via setting/indices as showed, but there isn't an option to do that. So I tried via command line.

* get field mapping :

    curl -XGET 'http://localhost:9200/cadvisor/_mapping/stats/field/con

[2015-10-13 00:00] onlyjob commented on #879
Ping?
There are more issues with bundled files. There are no sources included for Bootstrap JS/CSS and jQuery (but at least they can be found in web). However I could not find origins of `containers_css.go` and `gcharts_js.go`. Also contents of `google_jsapi_js.go` seems to be copied from https://www.google.com/jsapi but where is the source?? Seems that #304 did it all wrong. :(
Please advise.

[2015-10-13 00:05] vishh commented on #879
cc @vmarmol.

On Mon, Oct 12, 2015 at 5:00 PM, Dmitry Smirnov <notifications@github.com>
wrote:

[2015-10-13 00:21] onlyjob commented on #879
Another pitfall of embedding is that it makes build fragile. For instance, Bootstrap v3.3.5 contains

    throw new Error('`selector` option must be specified when initializing ' + this.type + ' on the window.document object!')

which breaks compilation as follows if Bootstrap is upgraded in `pages/static/bootstrap_min_js.go` (due to '`' characters):

    src/github.com/google/cadvisor/pages/stati

[2015-10-13 04:55] onlyjob opened #915 "non-free color profile IEC61966-2.1 in `logo.png`"
`logo.png` uses non-free (prohibited modification) colour profile _IEC61966-2.1_, see  http://www.color.org/srgbprofiles.xalter#v2

[2015-10-13 05:12] jimmidyson commented on #879
Totally agree it's weird to embed the js/CSS in the go files manually but embedding the static content in the final binary is something we would want to keep to make distribution easy.  go bindata or rice would be much better ways to do this. Do you fancy submitting a PR to fix this?

[2015-10-13 05:33] onlyjob commented on #879
"Making distribution easy" is not worth it. Why not leave distribution to GNU/Linux distros?
Anyway I'm illiterate in Golang and I'm against bundling resources like this (see https://github.com/google/cadvisor/issues/304#issuecomment-147118251) so I can't prepare a pull request.
Besides there are unidentified undocumented source-less resources so even if I could take care of technical issues I wou

[2015-10-13 05:49] jimmidyson commented on #879
Embedding the files in the binary means you don't have to worry about packaging debs/rpms/etc. You can just ship the binary & that is portable including static resources. This is a pretty common thing to do in the go world.

Totally agree that the way cadvisor currently does this needs improvement. I'll see if I get time to take a look.

[2015-10-13 06:10] onlyjob commented on #879
Frankly it is a terrible practice -- too bad if it is "common". We do need proper packages and personally I won't install anything that is not packaged. I find it uncomfortable to have humongous "everything-included" executables with no security support... :(
By the way this problem was discovered during packaging...

Thank you.

[2015-10-13 08:48] jimmidyson commented on #879
While taking a quick look at this ([go rice](https://github.com/GeertJohan/go.rice) looks promising btw) I noticed that locally hosting the JS for the charting library breaks Google's ToS: see both https://developers.google.com/chart/interactive/faq#offline & https://developers.google.com/chart/interactive/faq#localdownload.

@vishh Thoughts? Do we need to remove the local copies of gcharts & jsap

[2015-10-13 17:27] vishh commented on #879
:) I'm fine with removing it from the binary. I'm not sure why it got added
in the first place.

On Tue, Oct 13, 2015 at 1:49 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-10-13 17:39] vmarmol commented on #915
I...I...I'm sorry I have no idea what that means :)

I did make the logo though!

[2015-10-13 18:39] onlyjob commented on #915
If you run `exiftool logo.png` you'll see (among other parameters):

[code]

This means that your graphics editor saved image with embedded non-free colour profile.
You can remove ICC profile using command `exiftool -icc_profile"-<=" logo.png` or convert it using GIMP (Image --> Mode --> Convert to Color Profile).

[2015-10-14 10:13] lukaf opened #918 "containers restarted by Docker daemon are not shown"
Hi,

I've tested this with Docker 1.8.2 and cAdvisor 0.18.0.

[code]

[code]

If for some reason container is restarted by Docker daemon due to it's restart policy, metrics for it disappear from the Prometheus metrics endpoint (/metrics) and the cAdvisor UI shows an error while trying to access information about the container:

[code]

If the container is restarted with `docker restart` command, m

[2015-10-14 17:26] maarsl commented on #901
anybody has anything on this?

Thanks,

[2015-10-14 20:00] jimmidyson commented on #901
If this is on centos then you're likely to want to to run cadvisor as a privileged container. I see `--privileged=false` in the generated unit file.

[2015-10-15 14:48] Telmo commented on #842
Was there a solution provided for this issue? I just ran into it:

[code]

There is no `container.json` file on those drectories only a `state.json`

This is the docker-compose file I am using in CentOS7:

[code]

[2015-10-15 18:05] a-robinson opened #919 "cadvisor reporting cpu and memory stats as not set for /docker"
I'm not sure why this is happening, but I've seen a lone instance of cadvisor get into a weird state where its /stats/container endpoint is reporting that cpu and memory stats aren't set for /docker:

[code]

@vishh

[2015-10-15 18:11] jimmidyson commented on #919
@a-robinson Do you mean when embedded in a kubelet? That's not a cadvisor endpoint so I guess so?

[2015-10-15 18:14] a-robinson commented on #919
@jimmidyson yes

[2015-10-15 19:49] csrwng opened #920 "No disk capacity/usage is reported for Docker using the thinpool lvm devicemapper storage driver"
Based on comments I see in the code, this is not implemented yet:
https://github.com/google/cadvisor/blob/master/fs/fs.go#L108
https://github.com/google/cadvisor/blob/master/fs/fs.go#L116

However, it's really important for Kubernetes image garbage collection to work on systems that typically use the thinpool lvm storage driver like RHEL or Fedora.

[2015-10-15 19:50] csrwng commented on #920
@jimmidyson @derekwaynecarr @mwoodson

[2015-10-15 20:03] derekwaynecarr commented on #920
cc @ncdc

[2015-10-16 11:11] jimmidyson commented on #920
I think we should move the docker FS stuff into docker manager & rely on `docker info` to get free space, etc. This will use the docker abstraction over the storage backend to we don't have to do that in cadvisor.

Thoughts? @vishh @yujuhong @mvdan

[2015-10-16 11:15] ncdc commented on #920
It doesn't look like the data coming back from docker info is in raw bytes,
which could make things a bit more challenging.
On Fri, Oct 16, 2015 at 7:11 AM Jimmi Dyson <notifications@github.com>
wrote:

[2015-10-16 11:16] jimmidyson commented on #920
Ah damn. Didn't think of that. Rubbish.

[2015-10-16 11:18] jimmidyson commented on #920
Wow that is really useless.

[2015-10-16 11:53] mvdan commented on #920
Do we have to invoke `docker`? As far as I can tell, we could import specific docker subpackages:

[code]

In particular, we can probably obtain `DiskUsage` via `NewDeviceSet()` somehow.

https://github.com/docker/docker/blob/master/daemon/graphdriver/devmapper/deviceset.go#L124

This would be a lot easier to maintain and less prone to breakage across docker versions, since the `docker info` outpu

[2015-10-16 11:59] ncdc commented on #920
You need to know the pool name, but you can get that by calling
DockerInfo() first
On Fri, Oct 16, 2015 at 7:53 AM Daniel Martí <notifications@github.com>
wrote:

[2015-10-16 12:00] jimmidyson commented on #920
Sounds like a good idea, although how do we find the pool name without invoking `docker info`?

[2015-10-16 12:00] ncdc commented on #920
Or maybe just calling the docker package code can figure that out too
On Fri, Oct 16, 2015 at 7:59 AM Andy Goldstein <andy.goldstein@gmail.com>
wrote:

[2015-10-16 12:00] jimmidyson commented on #920
^^^ ah ok thanks @ncdc.

I'll have a play unless someone else is picking this up?

[2015-10-16 12:04] ncdc commented on #920
I started last night but didn't get very far. If you want it, feel free!
On Fri, Oct 16, 2015 at 8:00 AM Jimmi Dyson <notifications@github.com>
wrote:

[2015-10-16 13:43] jimmidyson commented on #920
Pulling in the docker devicemapper package(s) would restrict cadvisor to golang 1.4 - see docker/docker#15279 for details. Pulls in some C libs.

Alternatively I could run `dmsetup status <pool>` & duplicate the calculation from https://github.com/docker/docker/blob/master/daemon/graphdriver/devmapper/deviceset.go#L2214-L2241?

Thoughts?

[2015-10-16 13:47] ncdc commented on #920
cc @vbatts @rhvgoyal

[2015-10-16 13:53] vbatts commented on #920
https://github.com/vbatts/docker/commit/f7236a195c84687edb74fec28b6c4cc98e34185c commit was not cherry-picked for 1.8.z, but will be in docker 1.9

[2015-10-16 13:54] vbatts commented on #920
(and it's docker 1.8 that didn't build with go1.5. docker-1.9 does build with go1.5)

[2015-10-16 13:54] jimmidyson commented on #920
We also have to support back to docker 1.7 (I think - maybe further) so upgrading docker package imports in cadvisor is probably not possible, unless backwards compatibility is guaranteed?

[2015-10-16 14:54] vishh commented on #920
Cadvisor uses docker info in way too many places. So I don't think depending on that is an issue.
While we are at it we should solve this for overlay as well maybe.

[2015-10-16 14:59] mvdan commented on #920
@vishh the issue is that docker info outputs human readable info, not raw info in bytes.

[2015-10-16 15:00] ncdc commented on #920
I'm investigating using docker info to get the pool id, and then either invoking Docker's code to get the info (pending a go 1.5 fix) or using `dmsetup status <pool>`.

[2015-10-16 15:04] rhvgoyal commented on #920
I personally think that getting all the information from "docker info" makes sense. Converting Data from human readable bytes should be easy. Looks like units package in docker already provide function to convert it back. (FromHumanSize()).

https://github.com/docker/docker/blob/master/pkg/units/size.go#L63

[2015-10-16 15:05] jimmidyson commented on #920
As long as that level of accuracy is enough. I think it probably is for most cases?

[2015-10-16 15:09] rhvgoyal commented on #920
Are you referring to truncation which will happen while we converted to human readable sizes? So this will give you a lower bound of free pool space. I think this should be good enough for most use cases. If not, one can always look into changing it and trying using some function from devicemapper package.

[2015-10-16 15:21] jimmidyson commented on #920
@rhvgoyal Sadly the human size regex doesn't take into account decimals (https://github.com/docker/docker/blob/master/pkg/units/size.go#L34) even though the inverse does format with decimals (https://github.com/docker/docker/blob/master/pkg/units/size.go#L54). But parsing is pretty easy tbh so we could just do that in cadvisor (although that bug in docker should probably be fixed too).

[2015-10-16 15:31] ncdc commented on #920
I just tested on Kube master. It turns out that capacity is being reported when the Docker storage driver is devicemapper, but I don't believe the reported data is correct.

I am seeing that cadvisor is reporting usage=17426235392, capacity=29790838784, which lines up with my device for `/`:

[code]

Meanwhile, `docker info` reports this (yeah yeah, I'm still using loopback on my VM :smile:):

[co

[2015-10-16 16:02] ncdc commented on #920
I'm not sure querying for the filesystem that cadvisor has labeled "docker-images" is the best way to do this going forward. It might make more sense to move the image storage query into something that isn't filesystem-specific. That way, we can detect the driver and decide the right path (query devicemapper vs filesystem vs ...). WDYT?

[2015-10-16 16:02] jimmidyson commented on #920
Got the `docker info` way working but it's incredibly hacky.

So one option would be to carry @vbatts 1.9 patch in cadvisor & kubernetes/openshift so we can use the devicemapper packages directly?

I'd also propose removing the `docker-images` label from the fs code in cadvisor & moving the get docker size to the docker handler package. This way we can hopefully use docker packages directly to get

[2015-10-16 18:48] vishh commented on #920
@mvdan: I meant retrieving the storage driver info using `docker info` and performing capacity and usage calculations in cAdvisor. Sorry if that was not clear.
@ncdc: +1 for moving towards a pluggable model for managing docker images partition.
I prefer not depending on docker's API for getting usage and capacity for a few reasons.
1. Backwards compatibility. cAdvisor currently works with older ve

[2015-10-16 18:51] vishh commented on #920
A huge +1. Why would this be a breaking change? Kubelet uses the `Manager` interface abstractions and I assume these changes are internal to cAdvisor.

[2015-10-16 18:55] ncdc commented on #920
Maybe... I'll defer to @vbatts @rhvgoyal here. I just did a quick test running the busybox image and making a few copies of /bin/busybox inside the container. Here are the results:

[code]

You can see that one number increased: 138240 to 142336. This seems promising.

[2015-10-16 18:58] jimmidyson commented on #920
Yeah that is doing the right thing, but that's then different if we're using thin-pool LVM. And then there's overlay to think of, etc.

I'm feeling that we're going to be duplicating a reasonable amount of the docker storage backend stuff if we go down this route. I'd rather reuse the docker code if possible for maintenance & compatibility if at all possible.

[2015-10-16 19:00] ncdc commented on #920
I think this is a thin-pool LVM, unless I did something wrong when I ran `docker-storage-setup` (this is a brand new VM with `/dev/sdb` dedicated to Docker storage).

[2015-10-16 19:01] ncdc commented on #920
But I agree it sure would be nice just to get this info from somewhere else instead of having to reinvent the wheel.

[2015-10-16 19:01] rhvgoyal commented on #920
As per the thin target documentation first field after "thin" depicts, `nr mapped sectors`. So it will tell you how many sectors are actually mapped/used for this thin device.

[2015-10-16 19:04] jimmidyson commented on #920
My output is different to yours - what's the difference between our setups I wonder? I'm direct LVM thin-pool (definitely, maybe).

[code]

[2015-10-16 19:04] vishh commented on #920
If we use `docker info` for this purpose, how will we handle container filesystem usage measurements?

[2015-10-16 19:04] vbatts commented on #920
reusing docker code will only get you so far here too. And you may get
stuck. Overlay and btrfs don't give you this detailed of information
either. Overlay and vfs, you'd have to get `df <docker root dir>`, and
btrfs has different approaches depending on the version of btrfs-progs
available.

On Fri, Oct 16, 2015 at 3:01 PM, Vivek Goyal <notifications@github.com>
wrote:

[2015-10-16 19:05] jimmidyson commented on #920
@vishh That is a different question - one we need to answer, just not now I don't think.

[2015-10-16 19:05] ncdc commented on #920
@jimmidyson I was looking at a container; you're looking at the entire pool. I have the thin-pool output as well:

[code]

[2015-10-16 19:05] jimmidyson commented on #920
@ncdc OK cool - now I understand! So there we have the answer to @vishh's question about how to get container filesystem sizes as well - nice.

[2015-10-16 19:06] rhvgoyal commented on #920
i think we should try to get all the information about images/containers using docker API.

[2015-10-16 19:07] jimmidyson commented on #920
@rhvgoyal I don't think you can get the level of info we need from the docker API: container filesystem size, used, available, etc.

[2015-10-16 19:10] ncdc commented on #920
I want to state, at least for my own understanding, what I believe to be the problems we are trying to address:

- determine the used, available, total capacity of the location where Docker is storing images
  - for e.g. Kubernetes to make a determination when it needs to GC some images
- determine the used, available, total capacity of a container's file system
  - is this just the unique COW/ove

[2015-10-16 19:16] rhvgoyal commented on #920
@jimmidyson I think this information is dependent on graph driver and some of it is run time information.

In general, I think we should export all the needed information using "docker-inspect" and let higher layers use it.

For example, for devicemapper, you can get some information in "GraphDriver" section. For devicemapper it is exporting "DeviceSize" which should tell you the total virtual siz

[2015-10-16 19:16] jimmidyson commented on #920
@ncdc :white_check_mark: That's my understanding too. The immediate use case is definitely the info on the file system where Docker stores images to trigger image GC by the kubelet. Individual container fs info is a nice to have - use case to help identify containers that are taking up a lot of space but this is a future enhancement in my eyes.

[2015-10-16 19:23] jimmidyson commented on #920
@rhvgoyal While I like the idea of `docker exec` or equivalent via `setns` but we have to be careful not to interfere with cleaning up containers. We did the old `setns` trick to get network metrics & found this sometimes messed up cleaning up docker containers as we're switching into container namespaces quite regularly to gather this data. We switched to raw host `/proc` tricks in the end & work

[2015-10-16 19:24] vbatts commented on #920
@ncdc correct. Like I said, while this could be plumbed through docker like @rhvgoyal is saying, it has not been. It is very determined by the underlying CoW setup, and would leave you much more flexible to access the storage directly.

[2015-10-16 19:35] rhvgoyal commented on #920
@jimmidyson DeviceSize gives you the virtual size of thin device  in case of devicemapper. That is either 10G or 100G out of box depending on docker version you are running.

[2015-10-16 19:38] rhvgoyal commented on #920
@jimmidyson If you do "dmsetup table <thin-device>, it will show you following.

`docker-253:1-2616453-5ea3100b3d4e0342d6154d68197fa339cf411132e6ab424dfdba9dc289e0253f: 0 209715200 thin 253:4 292`

Here 209715200 is last sector. Multiply it by 512, and you have to device size in bytes. Same as reported by DeviceSize in docker-inspect.

[2015-10-16 19:39] jimmidyson commented on #920
@rhvgoyal Now that makes sense - thanks!

[2015-10-16 19:47] rhvgoyal commented on #920
@jimmidyson Also DeviceSize is specific to devicemapper. I had introuced it because we were writing some tools so that we could use this information and mount image/container separately and inspect it. `atomic mount` etc. But some of the use cases were racy w.r.t docker operations (container deletion etc).

Now people are working on aother tool and try to make it less racy. Basically move COW laye

[2015-10-16 19:57] jimmidyson commented on #920
So what's the consensus on a way forward for this? Easiest for now is probably: Refactor to retrieve storage backend from `docker info`. Support `devicemapper` via `dmsetup status` parsing for Docker root & container FS (as future work). Should get us where we need?

[2015-10-16 20:02] rhvgoyal commented on #920
@jimmidyson So you want to look at "dmsetup status <thin-device>" to determine the fs size of container? Give it a try, may be it will work. Otherwise use "docker exec". BTW, docker-inspect gives
you the name of the device backing container. So it will make life little easy for you to figure out which thin device belongs to container root.

`    "GraphDriver": {
        "Name": "devicemapper",

[2015-10-17 10:40] svenmueller opened #924 "[Ububtu 14.04] Failed to get system UUID: open /proc/device-tree/vm,uuid: no such file or directory"
Hi,

When using the provided `docker run` example i'm getting this error:

[code]

Then the logs shows the following:

[code]

i also tried adding `--privileged=true` and ended up with the same result. Any idea how this can be solved?

[2015-10-18 13:46] leonty commented on #743
Hi guys, any observable release date for this PR?
I'm looking forward supporing Influx 0.9 because my infrastructure already uses this version and I can't thus integrace cAdvisor into it :(

[2015-10-19 16:32] yujuhong opened #925 "cadvisor leaks goroutines when running with latest go-dockerclient"
go-dockerclient now (https://github.com/fsouza/go-dockerclient/commit/163268693e2cf8be2920158b59ef438fc77b85e2) saves and reuses the connection. `cadvisor.GetVersionInfo` creates a new docker client each time, causing the connection leakage.

See https://github.com/kubernetes/kubernetes/issues/15805#issuecomment-148963658 for details.

[2015-10-19 17:18] vishh commented on #925
@yujuhong: Thanks for reporting the issue. Are you working on a fix, or shall I pick this up?

[2015-10-19 17:20] jimmidyson commented on #925
@vishh Should be a simple fix - don't mind picking it up if you don't have time.

[2015-10-19 17:25] vishh commented on #925
Go for it! Thanks!

On Mon, Oct 19, 2015 at 10:20 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-10-19 21:11] svenmueller commented on #794
is influxdb 0.9.x still not supported by cadvisor?

[2015-10-19 21:13] svenmueller commented on #743
Hi...what is the current schedule for merging the PR?

[2015-10-19 21:31] vishh commented on #743
We are waiting on InfluxDB client libraries to be cleaned up in their upcoming v0.9.5 release.

[2015-10-19 22:02] yujuhong commented on #925
Hmm...I just checked the cadvisor code and it seems every container handler uses its own docker client as well. Not only does that waste the resource, cadvisor never gets to close the connection even after the container terminates.

I think our options are:
 1. Submit a patch to go-dockerclient to allow closing the connection.
 2. Refactor cadvisor to reuse the same docker client for all "docker"

[2015-10-19 22:09] vishh commented on #925
Docker interactions in cAdvisor needs to be refactored. It is currently
messy. I'm in favor of option `2` since it helps with the refactoring in
general.
cAdvisor performs read-only operations. From that perspective, will
thread-safety be an issue?

On Mon, Oct 19, 2015 at 3:02 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-10-19 22:10] jimmidyson commented on #925
As far as I can see, it's not the caller's responsibility to close the docker client. The client returns unmarshalled responses so it should be the docker client that closes the response body?

This looks like a bug in the docker client to me. Creating the docker client multiple times is wasteful, but shouldn't leak anything. We should tidy that up but I don't see it fixing the problem unless I'm

[2015-10-19 22:13] jimmidyson commented on #925
I seem to remember this being an issue somewhere else, perhaps in Prometheus. I seem to remember that you should close the response body even if `Do` returns an error. Stuff like this (https://github.com/fsouza/go-dockerclient/blob/af9789bbd78acf3e279274caa54682185eb7ed33/misc.go#L14-L17):

[code]

Should actually be:

[code]

[2015-10-19 22:14] yujuhong commented on #925
I meant the initialization of the unixHTTPClient, since you could have both goroutines thinking it's `nil` and attempt to creates a new client...

[2015-10-19 22:17] jimmidyson commented on #925
Forget what I said before, totally wrong about the closing body thing I mentioned above.

[2015-10-19 22:18] jimmidyson commented on #925
Ah OK I understand what you're saying about the guards around the creation of the `unixHTTPClient` now. Yes that would be required.

[2015-10-19 22:34] yujuhong commented on #925
HTTP client uses persistent connection by default, and unless we explicitly request the connection to be closed after the request. In this case, for performance reasons, I think a persistent connection is better for cadvisor anyway :-)

@vishh @jimmidyson, I am not that familiar with the codebase, could you give an estimate how long would it take to refactor cadvisor? If it's going to take a while

[2015-10-19 22:40] vishh opened #927 "network integration tests fails on centos v7.1"
Here is one of the recent failures from HEAD: http://104.197.39.211/job/cadvisor-e2e/2014/console

@jimmidyson can you take a look at this failure?

[2015-10-19 22:46] jimmidyson commented on #927
Are you sure this isn't a random flake? 2013 failed in the same way on containervm I see

[2015-10-19 23:03] vishh commented on #927
I have tried it a couple of times now and it seems to fail consistently.

BTW almost all the tests are failing on RHEL v7.1.

http://104.197.39.211/job/cadvisor-e2e/2016/console

On Mon, Oct 19, 2015 at 3:46 PM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-10-19 23:03] prasadnh opened #928 "How do we know cadvisor is working?"
Hi,

I am new to this...trying to set cadvisor to see all our docker containers info. i see advisor docker process when I do docker ps. But don't see any logs or info.

When I run curl localhost:8080 I get below message...no clue:(

curl localhost:8080
<a href="/containers/">Temporary Redirect</a>.

Can somebody help me to fix this?
I use ubuntu OS.

Thanks,
Prasad

[2015-10-19 23:22] vishh commented on #928
Try opening http://localhost:8080 in your browser.

On Mon, Oct 19, 2015 at 4:03 PM, prasadnh <notifications@github.com> wrote:

[2015-10-19 23:40] prasadnh commented on #928
thanks for quick response... tried browser too... shows blank page.

[2015-10-19 23:57] vishh commented on #928
Can you run cAdvisor with `--logtostderr` flag ?

On Mon, Oct 19, 2015 at 4:40 PM, prasadnh <notifications@github.com> wrote:

[2015-10-20 00:07] vishh commented on #927
@jimmidyson: I'm disabling testing on CentOS and RHEL for now. When you get a chance, try running cadvisor against those distros. I can re-add those hosts at any time, now that they are functional.

[2015-10-20 00:33] prasadnh commented on #928
i see this

ubuntu@ip-10-201-5-134:~$ docker logs -f cadvisor
I1020 00:25:55.967297 00001 storagedriver.go:111] No backend storage
selected
I1020 00:25:55.967348 00001 storagedriver.go:113] Caching stats in memory
for 2m0s
I1020 00:25:55.967421 00001 manager.go:127] cAdvisor running in container:
"/docker/44a8e7c9ac4941579f2afbcdf391cb79c5de81fb9e0317aa10361570fa1c96f9"
I1020 00:25:55.971370 00001

[2015-10-20 00:35] vishh commented on #928
I suspect you haven't exposed port 8080 from the cadvisor container on to
your host.

On Mon, Oct 19, 2015 at 5:33 PM, prasadnh <notifications@github.com> wrote:

[2015-10-20 06:42] pmorie opened #929 "Unmarshalling error when `AdditionalGroups` field in libcontainer config.go is out of sync with Docker"
I discovered during implementation of supplemental group support in Kubernetes that `AdditionalGroups` field has diverged between Docker and cadvisor:

* [version in cadvisor](https://github.com/google/cadvisor/blob/master/Godeps/_workspace/src/github.com/docker/libcontainer/configs/config.go#L87)
* [version in Docker](https://github.com/docker/docker/blob/master/vendor/src/github.com/opencontaine

[2015-10-20 06:58] prasadnh commented on #928
I think i tried different options like port farwarding to 80 which is open
in our network and also tried --port option.

I don't see any issues when i do port farwarding for influxdb or  grafana...

On Mon, Oct 19, 2015 at 5:35 PM, Vish Kannan <notifications@github.com>
wrote:

--
Thanks,
Prasad

[2015-10-20 08:57] jimmidyson commented on #925
@yujuhong Just pushed #930 which should fix it.

[2015-10-20 09:01] jimmidyson commented on #929
@pmorie Do you know what version of Docker the type of `AdditionalGroups` was changed in? Wondering if we can just update cadvisor's config to string & forget about handling old format.

[2015-10-20 09:13] jimmidyson commented on #929
Fixed in #930 by bumping libcontainer again. I wouldn't worry about the old format as it didn't look like it worked properly anyway.

[2015-10-20 11:14] jimmidyson commented on #927
I've just run these locally against centos 7.1 & all works perfectly...

What version of docker are you running on there?

[2015-10-20 11:17] jimmidyson commented on #927
I've checked against docker 1.7.1 from CentOS repos & docker 1.8.2 from docker repos - both work fine for me.

[2015-10-20 11:25] jimmidyson commented on #919
Is this reproducible?

[2015-10-20 15:54] kansoA opened #931 "Docker Containers with memory limits do not appear in cadvisor"
When running a docker container with the memory limit flag set, it does not appear in cadvisor list of containers:
For example : "docker run --name UBUNTU -it -m 30M ubuntu:latest /bin/bash" UBUNTU will not appear in cadvisor unless you terminate it, and run again without the "-m 30M"

I am running cadvisor on Ubuntu 14.04.

[2015-10-20 18:57] vishh opened #932 "Support overlayfs"
#926 adds support for docker image storage partition discovery with a device mapper storage backend. We need to add support for Overlayfs. This is a requirement for Kubernetes v1.1 to work on OS distros that use Overlayfs as the default storage backend driver.

cc @yifan-gu cc @dchen1107

[2015-10-20 19:12] jimmidyson commented on #932
What distros use overlayfs as default?

[2015-10-20 19:57] vishh commented on #932
AFAIK CoreOS does.

On Tue, Oct 20, 2015 at 12:12 PM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-10-20 20:33] yifan-gu commented on #932
cc @crawford @jonboulle

[2015-10-20 21:10] vishh commented on #927
docker 1.8.2. I can try running again on the CentOS host.

On Tue, Oct 20, 2015 at 4:17 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-10-20 21:20] #925 closed

[2015-10-21 03:03] brycereynolds commented on #842
We are seeing it all over our stacks as well. Just recently this has started happening. Regression maybe?

[2015-10-21 14:05] #920 closed

[2015-10-21 17:08] dchen1107 opened #935 "Cut 0.19 release for Kubernetes 1.1 release"
I want to the new release includes:

* Compute fs usage for docker containers less often. #910
* Support devicemapper storage for docker images dir #926
* Docker client update including reuse #930

cc/ @jimmidyson @vishh

[2015-10-21 17:09] dchen1107 commented on #935
https://github.com/kubernetes/kubernetes/issues/15805

[2015-10-21 19:06] prasadnh commented on #928
Right...worked now...Thanks for the help

[2015-10-21 19:11] #928 closed

[2015-10-22 07:57] svenmueller commented on #771
we also encounter the same problem (`cadvisor:lastest`, `ubuntu 14.04`)

[2015-10-22 08:01] svenmueller commented on #924
anyone else having the same issue? what could cause this error log?

[2015-10-22 08:19] jimmidyson commented on #924
Does it affect cadvisor functionality or is it just an error message?

[2015-10-22 08:33] svenmueller commented on #924
it seems to work (beside that we are seeing #771). but there are no other logs shown..so logging might be affected?

[2015-10-22 08:39] jimmidyson commented on #924
Can you share the full log? Unless you change the log level with e.g. `--v=8` then logs are pretty quiet usually.

I think the problem is we don't check the relevant files from the mounted host rootfs, but rather the container root fs.

[2015-10-22 10:21] jimmidyson commented on #935
@vishh What's the process for a release? I don't have access to docker hub for cadvisor but can tag & add github release if necessary.

[2015-10-22 10:55] jimmidyson commented on #935
@dchen1107 This will be a 0.19.1 release of cadvisor as I've previously tagged 0.19.0 (already in k8s). I'll cut this release today when I find out if there are any nuances I'm not aware of & will get a PR in for updating the cadvisor godeps in k8s.

[2015-10-22 12:47] svenmueller commented on #924
how can i set the native flag `--v=8` when using `docker run...`?

[2015-10-22 12:50] jimmidyson commented on #924
Just append it to the docker run command:

    docker run .... google/cadvisor:latest --v=8

[2015-10-22 12:58] svenmueller commented on #924
Thx. I just tried it. But there is no change in the logged data:

[code]

[2015-10-22 13:00] svenmueller commented on #924
this is the command i'm using

[code]

[2015-10-22 14:43] #929 closed

[2015-10-22 14:45] jimmidyson commented on #931
Hey @kansoA - I've tested with master & this seems to be working properly. If you could try with master & re-open if this issue still happens for you.

[2015-10-22 14:45] #931 closed

[2015-10-22 15:13] jimmidyson opened #938 "tcpstats using a lot of CPU"
Attached a profile graph.

@vishh @f0 Could someone look at this ASAP? Don't want to release until this has been fixed.

![cadvisor-profile](https://cloud.githubusercontent.com/assets/464659/10669216/8413217e-78d7-11e5-8eee-f92ed1b74ee0.png)

[2015-10-22 15:16] jimmidyson commented on #935
Found high CPU as explained in #938 - holding off on release until this has been looked at.

[2015-10-22 15:44] f0 commented on #938
@jimmidyson  i am not a profiling expert, so how can i produce such a graph?

If i interpret this correct the regex pattern matching is the biggest CPU user

[2015-10-22 15:58] jimmidyson commented on #938
@f0 Nor am I! That's what it looks like to me as well. It's this function (https://github.com/google/cadvisor/blob/master/container/libcontainer/helpers.go#L201-L260) that needs refactoring.

I'd suggest dropping the regex & going for a `fmt.Scanf` instead of `strings.Fields` & seeing how that works out?

[2015-10-22 16:05] f0 commented on #938
@jimmidyson  thats my plan, but it would be nice to check if it helps ....

[2015-10-22 16:06] jimmidyson commented on #938
So what I did to generate the profile graph was to start up cadvisor & run:

    go tool pprof -png http://localhost:8080/debug/pprof/profile >! cadvisor-profile.png

[2015-10-22 16:28] jimmidyson commented on #938
So I tried the scanf approach & it was a small improvement, but not enough.

I propose disabling this check for now until we sort out the performance so I can get a release out of cadvisor that is needed for kubernetes.

@vishh @f0 OK with that?

[2015-10-22 16:31] dchen1107 commented on #935
Thanks for status updates here.

[2015-10-22 16:36] f0 commented on #938
@jimmidyson OK

[2015-10-22 16:48] f0 commented on #938
@jimmidyson   hm also tried a scanf variant, if i see this correct, the problem is gone...
![cadvisor-profile](https://cloud.githubusercontent.com/assets/1117435/10671902/6b2ddcce-78ed-11e5-9322-948a344beea6.png)

[2015-10-22 16:59] jimmidyson commented on #938
@f0 That looks much better. Could you compare locally to the previous version in your environment to confirm?

[2015-10-22 17:13] f0 commented on #938
with the orginal code....

![cadvisor-profile-orginal](https://cloud.githubusercontent.com/assets/1117435/10672487/e68ca28a-78f0-11e5-9df2-6f04a3f0fc74.png)

[2015-10-22 17:28] f0 commented on #938
@jimmidyson  not so much difference

go version go1.5.1 linux/amd64

fk@linux:~/work/src/go/src/github.com/f0/cadvisor> cat /proc/cpuinfo
processor       : 0
vendor_id       : GenuineIntel
cpu family      : 6
model           : 58
model name      : Intel(R) Core(TM) i5-3320M CPU @ 2.60GHz
stepping        : 9
microcode       : 0x1b
cpu MHz         : 1297.867
cache size      : 3072 KB
physical id

[2015-10-22 18:10] f0 commented on #938
@jimmidyson  ok i did the test again, the sscanf code is faster than the regex, on my system its form 750ms (regex) to 510ms (sscanf)

![cadvisor-profile-sscanf](https://cloud.githubusercontent.com/assets/1117435/10673974/cec82f36-78f8-11e5-8c62-7369cc065772.png)
![cadvisor-profile-regex](https://cloud.githubusercontent.com/assets/1117435/10673979/d59849c2-78f8-11e5-9c16-9d407ad836e5.png)

[2015-10-22 18:40] jimmidyson commented on #938
I'm not happy with the volatility of it. On my system (pretty active network connections) it's eating up CPU. I'm going to disable it for now so I can get this release out & revisit it later.

[2015-10-22 18:45] f0 commented on #938
@jimmidyson ok, no Problem

about the volatility, if the file is larger(more connections), it takes more time to process the file...

[2015-10-22 18:46] jimmidyson commented on #938
Yes & that's a problem - we're using cadvisor in some highly utilised systems such as kubernetes nodes & this is too resource intensive atm. I can't think of a better way to do it though... so disabling is the only option i see at the moment.

[2015-10-22 18:54] f0 commented on #938
@jimmidyson  i am fine with disabling.

[2015-10-22 18:55] jimmidyson commented on #938
Thanks.

[2015-10-22 20:03] vishh commented on #938
@jimmidyson: This issue is critical and thanks a lot for reporting this!
@f0 appreciate the quick response.
I think we need an alternate API for compute intensive metrics. We have one such for process information today. TCP stats probably fits in there.
Is anyone working on a PR to disable this metric?

[2015-10-22 20:04] jimmidyson commented on #938
@vishh Yes I am. I was actually trying to tune it to be less CPU intensive but have failed so far. Disabling now - PR coming.

[2015-10-22 20:35] #938 closed

[2015-10-23 08:48] mboussaa commented on #913
@jimmidyson Do you have any idea?

[2015-10-23 11:05] jimmidyson commented on #913
See https://github.com/google/cadvisor/blob/master/info/v1/container.go#L304-L319 & https://github.com/google/cadvisor/blob/master/info/v1/container.go#L258-L275

[2015-10-23 18:56] vishh commented on #913
Memory usage is total usage including `cold` pages which the kernel can reclaim safely under pressure.
`Working Set` is the bytes of memory that the kernel deems to be necessary for continuing to run the processes in a container. Kernel cannot tolerate overcommitment of the sum total of working set.

[2015-10-26 10:38] mboussaa commented on #913
If I well understood:
memory_usage= Virtual memory= RAM+SWAP
working_set= RAM
That's right?

[2015-10-26 18:06] vishh commented on #913
That mostly correct:
IIUC, cAdvisor is [not supporting](
https://github.com/google/cadvisor/blob/master/container/libcontainer/helpers.go#L351)
memory+swap accounting as of now. You should file an issue separately.

As of now,
memory_usage = RAM usage include pages that have not been accessed in a
long time.
working set = memory usage - inactive memory.

On Mon, Oct 26, 2015 at 3:38 AM, mboussaa <

[2015-10-27 01:07] vishh commented on #638
AFAIK it does not account for swap as of now.

On Mon, Oct 26, 2015 at 4:08 AM, mboussaa <notifications@github.com> wrote:

[2015-10-27 16:12] a-robinson commented on #919
Not as far as I know - I've only observed it the once.

[2015-10-28 02:03] bscott opened #943 "Support for Influx 0.9.x"
When will support be added for InfluxDB 0.9.x?

[2015-10-28 02:07] sandish2222 commented on #900
which release version of kubernetes contailns 0.18.0

[2015-10-28 20:05] vishh commented on #900
v1.1 which is still not released.

[2015-10-29 15:22] ChamaraG commented on #743
Hi, any update on this? Thanks!

[2015-10-29 23:08] vishh opened #944 "Available filesystem space reported incorrectly for device mapper storage driver."
This issue is specific to reporting docker image filesystem usage.
`available` space is currently calculated based on the capacity of the device mapper pool device, instead of the capacity of the underlying device/partition that the pool device is using. Relevant code [here](https://github.com/google/cadvisor/blob/master/fs/fs.go#L390).
Since the pool device can be of arbitrary size, calculate ava

[2015-10-29 23:27] jimmidyson commented on #944
I assume you're talking about devicemapper loopback? Vfs stat doesn't work for devicemapper thinpool lvm (the preferred production use for performance reasons). So I would not revert the change but rather extend the check for loopback devicemapper to use the underlying partition info.

Any thoughts @ncdc?

[2015-10-29 23:32] vishh commented on #944
Just to clarify, will the current behavior work when a real device is used
instead of loopback?

On Thu, Oct 29, 2015 at 4:27 PM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-10-29 23:35] jimmidyson commented on #944
It certainly should, yes. At least on my machine :)

[2015-10-29 23:42] vishh commented on #944
Ok :)
When using real volumes instead of loopback, will the size of the pool
device correspond to the size of the data volume or the sum of data and
metadata volumes?

Disclaimer: My understanding of dm driver is very limited.

On Thu, Oct 29, 2015 at 4:35 PM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-10-29 23:50] yujuhong opened #945 "Add tests to detect performance regression"
We've seen quite a few incidents where a newly introduced feature unnecessarily caused high cpu usage in cadvisor (e.g., disk and network stats). The process of fixing the instances usually involve:
- user/developer reports high cpu usage from kubelet
- ask user to generate a cpu profile
- identify the issue
- fix the issue through cadvisor PR
- update the dependency in kubernetes

To gate these c

[2015-10-29 23:54] jimmidyson commented on #945
:+1: This is likely to highlight not just regressions but a number of performance improvements too.

[2015-10-29 23:57] jimmidyson commented on #944
Disclaimer: so is mine.

It should report on the whole pool.

[2015-10-30 00:00] vishh commented on #945
+1. In addition to these the metrics you suggested, we should track cpu and
memory usage. These metrics are exposed by cadvisor already.

The existing test framework might not be ideal for this purpose. We might
have to soak the binary for a few minutes to identify leaks and other
issues.
Instead of running against every PR, we can run against HEAD periodically.

On Thu, Oct 29, 2015 at 4:54 PM, J

[2015-10-30 08:59] osallou commented on #924
Same issue (same error message) on a Debian 8.1 on Amazon EC2, and can't access interface.

[2015-10-31 14:03] svenmueller commented on #943
+1

[2015-11-01 22:42] kode1100-dev opened #946 "Once in a while docker stats 0 B/0 B 0.00% 0 B/0 B"
Hi,

I created a script to append the docker stats every N minutes by cron job to a file. I find for some containers, I'm running 5, that I get a lot of good data mixed in with the occasional   0 B/0 B . That data was collected every minute. Each container seems to have this issue and some more and some less.

93f855007340        0.10%               653.5 MB/8.375 GB   7.80%               2.714 MB

[2015-11-01 22:51] jimmidyson commented on #946
Fyi `docker stats` is a docker command, unrelated to cadvisor. If you have a problem with `docker stats` then you'll need to raise that in the docker repo.

[2015-11-02 16:58] jmartine commented on #943
+1

[2015-11-02 18:07] #946 closed

[2015-11-02 21:38] chrisferry commented on #943
Dupe of this: #743

[2015-11-02 21:49] svenmueller commented on #743
+1

[2015-11-02 22:27] harunyardimci commented on #943
+1

[2015-11-02 23:11] berglh commented on #943
+0.9
On 3 Nov 2015 8:27 am, "harun yardimci" <notifications@github.com> wrote:

[2015-11-03 01:18] vishh opened #947 "Handle non-init systemd process"
If systemd is not running as the init daemon, docker does not use it for container cgroup management. However, cAdvisor on the other hand, assumes docker is using systemd even if it is not the init daemon.

There seems to be use cases for running systemd as a regular non-init process :)

cAdvisor needs to handle this scenario.

[2015-11-03 01:50] andyzheng0831 commented on #947
cc/ @andyzheng0831

[2015-11-03 01:51] andyzheng0831 commented on #947
It will be great if we can fix this issue soon and make it merged in next k8s release post 1.1

[2015-11-03 20:21] dyema commented on #947
Regardless of whether systemd is init or not, I think it's desirable for cAdvisor to support the configuration where systemd is not managing cgroups for docker containers.

[2015-11-04 00:01] pwittrock opened #948 "Canary Dockerfile fails with error about thin-provisioning-tools"
Building the deploy/canary/Dockerfile fails.  Error message:

 ---> a17b1b1adcfc
Step 1 : MAINTAINER vmarmol@google.com
 ---> Running in 574865a057f2
 ---> 397f6d04d136
Removing intermediate container 574865a057f2
Step 2 : RUN apt-get install -y git thin-provisioning-tools
 ---> Running in 7304a9b2dbdf
Reading package lists...
Building dependency tree...
Reading state information...
[91mE: Unable

[2015-11-04 00:12] vishh commented on #948
[This patch](https://github.com/google/cadvisor/commit/8e63ba34fe397f1bcf61e2c7be9c7518c84d42eb) caused the issue. IIUC, `thin-provisioning-tools` is a package name specific to alpine linux. I have posted a fix.

[2015-11-04 13:09] gregbkr opened #951 "ELK support: understanding metrics, displaying graph in kibana4, tuning"
Hello everyone,

First, thank you cAdvisor team for making that product available for Docker infra, it's a great solution for monitoring and so easy to deploy! :-)

I am implementing Cadvisor(latest version) with ELK support (ElasticSearch 1.7|Logstash 1.5.3|Kibana 4) on docker.
It is working so far and I can get some graphs in Kibana4. Please excuse me if I am in the wrong place for these questio

[2015-11-04 18:47] #948 closed

[2015-11-07 00:28] vishh opened #953 "cadvisor should not require docker to be up"
Currently, for cadvisor to detect docker containers, it requires docker daemon to be up and active, before cadvisor is started. This is not ideal. The docker interactions in cAdvisor has to be centralized and the docker factory registration has to be made asynchronous.

[2015-11-07 13:26] morpheyesh opened #954 "Reference is not a tree"
[code]

When I try to `godep restore`

[2015-11-07 20:12] smarterclayton opened #955 "machineIdFilePath not found in containerized Kubelet"
In containerized kubelet on startup I get an error because it's looking for /etc/machine-id which it can't find.  Should machineIdFilePath be looking at /rootfs/etc/machine-id if it doesn't find /etc/machine-id?

[2015-11-07 21:37] smarterclayton commented on #955
[code]

[2015-11-09 03:04] feiskyer opened #956 "Can't start cAdvisor in docker v1.9"
[code]

[2015-11-10 06:33] onlyjob commented on #879
This is still an outstanding issue... :(

[2015-11-10 23:36] jchauncey commented on #951
cpu is an ever growing counter. You need to take the derivative (rate of change) when you graph that value.

[2015-11-11 00:44] jchauncey opened #958 "sanitizing metric dimension"
For example the image isn't particularly useful but the version is. So it would be great if that was separated into its own dimension. The other one is the container name. Certain platforms create some what unique container names (`mycontainer_v2.web.1` `mycontainer_v2.web.2`) for instance. It would be great if we could have a way to supply a regular expression to parse out the information we didn

[2015-11-11 19:02] vishh commented on #958
If the prometheus exporter where to be a standalone buddy container, I
think these use cases will be easier to handle. The buddy can query
cadvisor periodically and expose prometheus metrics in any manner, without
requiring changes to cadvisor.

On Tue, Nov 10, 2015 at 4:44 PM, Jonathan Chauncey <notifications@github.com

[2015-11-11 19:26] jimmidyson commented on #958
You can already add a regex to extract labels from container names (https://github.com/google/cadvisor/blob/master/http/handlers.go#L91-L95). We do this in the kubelet. Currently this can only be done by embedding cadvisor & registering the cadvisor & prometheus http handlers there.

The other option is to use Prometheus relabelling to extract container name to labels.

[2015-11-11 19:30] vishh opened #959 "Add devicemapper container fs usage"
We need to add support for calculating the container's root filesystem usage, with devicemapper docker storage driver.

One way to achieve this will be to enter docker daemon's mount namespace and then run a `stat -f` on container's rootfs mount.
For example,

[code]

nsenter requires a fork+exec, which is a mild annoyance. We can either run the above mentioned command periodically for every conta

[2015-11-11 19:31] jimmidyson commented on #959
Another option is to do this with `dmsetup` as we did with the docker pool storage.

[2015-11-11 19:33] vishh commented on #959
I couldn't get that to work for the container. Can you post an example?

On Wed, Nov 11, 2015 at 11:31 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-11-11 19:49] mrunalp commented on #959
@vishh I think the second option might be better so you can have a long running process that is in docker's mount namespace and communicate over a pipe.

[2015-11-11 19:55] jimmidyson commented on #959
This was discussed in https://github.com/google/cadvisor/issues/920#issuecomment-148815756.

Something like this _may_ work:

[code]

I'm not 100% sure on the used bytes figure tbh.

[2015-11-11 20:00] jimmidyson commented on #959
Would `nsenter`ing docker's pid ns require cadvisor to run in the host ns? Does that have any implications when running cadvisor in a container?

[2015-11-11 21:05] vishh commented on #959
@jimmidyson: I don't think so. It will require a fork+exec though.

[2015-11-11 21:18] vishh commented on #959
@jimmidyson: Can you verify if the `dmsetup` based approach? If that works, that will be much much better.

[2015-11-11 22:59] jimmidyson commented on #959
I'd have to defer to someone who knows more about devicemapper tbh. @rhvgoyal @mrunalp opinions welcome on best approach.

[2015-11-12 21:24] andyzheng0831 commented on #947
@vishh May I ask about the status of bug? As we already cut k8s 1.1.1 release, would it possible for us to speed up fixing this issue, so that this will unblock our effort ASAP.

[2015-11-13 14:49] jchauncey commented on #959
What about using [gopsutil](https://github.com/shirou/gopsutil)? Specifically using [this](https://github.com/shirou/gopsutil/blob/master/disk/disk_unix.go)

[2015-11-13 15:02] jchauncey commented on #908
If you were doing this outside of docker and had a long running process you wouldnt graph those values based on PID would you? You would probably annotate the graph when the deploy occurs but graph the values based on process name. I would agree though that passing the container along as a tag is useful (especially if you want to segment on that data).

[2015-11-13 15:35] rhvgoyal commented on #959
I just checked with thin pool developers and they think using nr_mapped from thin device status line to figure out how many blocks are mapped is fine. That will tell how many blocks in thin pool are in use.

There is a possibility total size calculated here is more than reported by statfs() but this is the real
space used.

[2015-11-13 15:39] rhvgoyal commented on #959
@jimmidyson for total sectors, instead of field 5, it might be better to use field 2. As per `man dmsetup` section `TABLE FORMAT` second field is `num_sectors'. Last field is highest mapped sector and not the number of sectors.

[2015-11-13 15:42] rhvgoyal commented on #959
@vishh If cadvisor is running inside a container, will it even see the docker pid to be able to do nsenter? I am assuming no. I guess if it shares the pid namespace with host, then it should be fine.

[2015-11-13 15:54] jimmidyson commented on #959
AFAIK cadvisor won't be sharing pid ns with host as this can lead to zombie processes. pid 1 in container so gets reaped properly.

[2015-11-13 16:58] vishh commented on #959
@jimmidyson: will you be able to work on devicemapper support?

[2015-11-13 17:00] jimmidyson commented on #959
@rhvgoyal Forgot to say thanks for the update on dmsetup - so... thanks!

@vishh Maybe early next week, yes.

[2015-11-13 17:02] rhvgoyal commented on #959
@jimmidyson can you elaborate a bit more on why sharing pid namespace with host is a problem for cadvisor. If cadvisor is reaping children properly that should continue to work. And if it does not and when cadvior exits, I am assuming all these children will be re-parented to pid 1 of host (systemd) and will be reaped. Is that not the case. Am I missing something?

[2015-11-13 17:52] jimmidyson commented on #959
Previously discussed in https://github.com/google/cadvisor/issues/822#issuecomment-135811901

[2015-11-13 22:17] vishh commented on #947
#960 is out for review. Once that is merged, I can cherry-pick that into
K8s v1.1 branch.

On Thu, Nov 12, 2015 at 1:24 PM, andyzheng0831 <notifications@github.com>
wrote:

[2015-11-14 12:07] svenmueller commented on #924
i even can't see the full logs using `--v=8`

[2015-11-15 00:25] exetico commented on #784
I just want to add a little information. @vmarmol 's answer is just fine, but, sadly there is a typing error.

It should be:
ENTRYPOINT ["/usr/bin/cadvisor", "--http_auth_file", "auth.htpasswd", **"--http_auth_realm”, “localhost"**]

I'm totally new with Docker, so it was hard to see what actually went wrong. After attaching to the container, i was able to see that something wasn't added like it s

[2015-11-16 14:59] mboussaa opened #961 "duplicate row data"
cAdvisor is duplicating stats for each row data in influxdb. For each data point, I get 2 rows of data.
I can't understand why
![row](https://cloud.githubusercontent.com/assets/5878565/11185008/ec38dbd4-8c7a-11e5-930b-69052e1ae281.png)

[2015-11-16 21:09] vishh commented on #959
cAdvisor surfaces the writable layer usage for docker containers. I hope that the `dmsetup` based logic mentioned here includes only the writable layer. Including image storage isn't helpful because, images are being shared.

[2015-11-17 13:41] martinm82 commented on #743
+1

[2015-11-17 21:09] scalp42 commented on #546
@samek any chance?

[2015-11-18 19:19] amcrn commented on #935
#938 was closed, but I don't see any 0.19.x releases on docker hub: https://hub.docker.com/r/google/cadvisor/tags/ . is there a different bug holding up the push?

[2015-11-18 19:31] vishh commented on #935
I pushed a docker image based on 0.19.3 tag. Can you try that out Auston?

On Wed, Nov 18, 2015 at 11:20 AM, Auston <notifications@github.com> wrote:

[2015-11-18 19:40] amcrn commented on #935
@vishh wow, that was fast! pulled, ran, and looks good. thanks a bunch!

[2015-11-19 15:32] bmlynarczyk commented on #943
+1

[2015-11-20 05:28] ztl8702 commented on #501
Same issue, waiting for answer.

[2015-11-20 05:33] rjnagal commented on #501
There is no good cheap way to get disk usage from various docker storage drivers today.

Would it help if we added a flag to disable disk usage reporting per container? We can still report the full disks usage and free space. We can add an on-demand endpoint to retrieve diskspace info per container if required.

[2015-11-20 05:39] ztl8702 commented on #501
I thought reducing the frequency of checking should reduce CPU usage,
however after I set --housekeeping_interval=10s, cAdvisor still seemed to check every second.

[2015-11-20 10:03] rvadim commented on #842
We often have same problem on 0.18.0 version and restarting cadivsor as workaround. Any ideas?

[2015-11-20 10:09] jimmidyson commented on #842
Could you please try a later version? 0.19.3 has been recently released.

[2015-11-21 09:40] bill0ute commented on #743
+1

[2015-11-21 19:16] mboussaa commented on #943
any updates on that integration?

[2015-11-21 20:10] f0 commented on #858
@yifan-gu  any news on this?

[2015-11-22 19:21] f0 opened #968 "export CPUQuota Cgroup limit as prometheus metric"
Hi,

i try to add support for the Cgroup CPUQuota setting to be exported as a prometheus metric.
I modified the following:

[code]

but the metric is not exported, i miss something, any hints?

regards f0

[2015-11-22 19:25] jimmidyson commented on #968
Thanks for doing this. It might be easier to send in a PR so we can help you with review that way?

[2015-11-22 19:45] f0 commented on #968
@jimmidyson   sure i prepare a PR

[2015-11-22 19:59] f0 commented on #968
@jimmidyson  done https://github.com/google/cadvisor/pull/969

[2015-11-22 19:59] #968 closed

[2015-11-23 13:27] rhvgoyal commented on #959
@vishh above dmsetup based magic will include size of both unerlying image as well as writable layer. It is not writable layer only.

Dm developers had mentioned to me that if I really wanted writable layer, I can do following.

- Take metadata snapshot from thin pool.
- Do thin_delta
- Parse output and calculate usage.

I have not tried it but something along above lines should give us writable l

[2015-11-24 02:40] yifan-gu commented on #858
@f0 Status: rkt have api service already, so we can start integration. But this is not my top priority now since we use individual event stream for individual runtime now.

[2015-11-24 07:21] fenglvming commented on #537
I wanted to start the lastest version of cAdvisor from marathon but it keeps restarting.

{
  "type": "DOCKER",
  "volumes": [
    {
      "containerPath": "/rootfs",
      "hostPath": "/",
      "mode": "RO"
    },
    {
      "containerPath": "/var/run",
      "hostPath": "/var/run",
      "mode": "RW"
    },
    {
      "containerPath": "/sys",
      "hostPath": "/sys",
      "mode": "RO"
    }

[2015-11-24 07:23] samek commented on #537
Which version of marathon?

Sent from my iPhone

[2015-11-24 07:26] fenglvming commented on #537
marathon : 0.11.1

[2015-11-24 07:29] fenglvming commented on #537
The output of stdout is : No such file or directory

[2015-11-24 07:30] samek commented on #537
Add /usr/bin/cadvisor to the cmd field and try again.

Sent from my iPhone

[2015-11-24 07:32] fenglvming commented on #537
still   : No such file or directory

[2015-11-24 07:35] fenglvming commented on #537
here is my configure page:
![1](https://cloud.githubusercontent.com/assets/2157195/11360592/f0310378-92c0-11e5-8aae-7fb591a5ed66.png)
![2](https://cloud.githubusercontent.com/assets/2157195/11360594/f1dcaa2e-92c0-11e5-8a95-12b6971eeb3b.png)

[2015-11-24 07:45] samek commented on #537
try like that. I just give it a go and it works.  * I did not expose any ports ..

Anyway I told you the wrong cmd .. use /usr/bin/cadvisor -logtostderr

[2015-11-24 08:12] samek commented on #537
Does it work ?

[2015-11-24 08:27] fenglvming commented on #537
it didn't work.
https://github.com/google/cadvisor/issues/537#issuecomment-159191134

[2015-11-24 08:30] samek commented on #537
What does the stderr say in mesos ui
completed tasks -> cadvisor Sandbox ?

[2015-11-24 18:42] guoshimin opened #975 "Export RSS size in /metrics"
The metric exported as container_memory_usage_bytes includes page cache. It would be nice if cadvisor also exported the RSS size, which is often more interesting.

[2015-11-25 00:16] yujuhong commented on #858
@yifan-gu, we still need cadvisor to collect containers stats for rkt, and that should be at a higher priority.

[2015-11-25 02:48] fenglvming commented on #537
I think it's my mesos-slave configuration problem. I just use --containerizers=docker,mesos ,It works.
Before that I use --containerizers=mesos,docker . It's werid.

[2015-11-25 07:59] lovelonger commented on #333
CentOS, Fedora, and RHEL

You may need to run the container with --privileged=true and --volume=/cgroup:/cgroup:ro \ in order for cAdvisor to monitor Docker containers.

RHEL and CentOS lock down their containers a bit more. cAdvisor needs access to the Docker daemon through its socket. This requires --privileged=true in RHEL and CentOS.

On some versions of RHEL and CentOS the cgroup hierarchies

[2015-11-25 14:10] KutuzovGregory opened #977 "Cadvisor ignores container renaming"
When a container is renamed in Docker, cAdvisor does not update the container name, but continues to provide the data under the old container name. This means that our storage driver stores irrelevant data and does not reflect the changes that took place on the system.

[2015-11-25 18:42] arichardet opened #980 "Kafka storage support for cAdvisor"
I'm currently looking to contribute by adding storage support with Apache Kafka. My plan is to use [Shopify's Kafka library, sarama] (https://github.com/Shopify/sarama). Do any contributors find an issue bringing in this library? Please advise.

[2015-11-26 17:38] jimmidyson commented on #956
This works fine for me on Fedora 23. Is this still happening for you? What distro are you using?

[2015-11-26 18:45] jimmidyson opened #982 "Set up auto builds for tags on Docker hub"
Not sure who owns this but now that Docker hub supports automatically building Docker images tagged the same as git tags as they're added this would make it less manual on every release.

I have no access as this is under the google org on Docker hub...

@vishh I guess this is you?

[2015-11-26 18:59] jimmidyson commented on #935
Closing.

[2015-11-26 18:59] #935 closed

[2015-11-27 01:34] feiskyer commented on #956
I'm using CentOS 7

[2015-11-27 06:34] jimmidyson commented on #956
Can you run with `--privileged` please?

And are you using the rpm from docker repo or from centos official repo?

[2015-11-27 11:32] mboussaa commented on #638
Working set memory == RSS ?

[2015-11-27 11:54] jimmidyson commented on #638
Working set = RSS + cache (no swap as @vishh said above). We have #975 open for reporting RSS by itself.

We delegate to libcontainer to retrieve stats. We could implement this ourselves but it's kind of nice to have consistency.

[2015-11-27 12:13] jimmidyson commented on #975
Can you explain a bit more? Have to admit to not knowing this area very well, but how is RSS more interesting/useful? FYI we delegate collection of this to libcontainer to be consistent with `docker stats` but I don't mind if we have to do our own processing if cadvisor users have different requirements.

[2015-11-27 12:40] feiskyer commented on #956
Finally found it's the problem of selinux. I can start cAdvisor properly when shuting down selinux.

Thanks @jimmidyson

[2015-11-27 12:41] #956 closed

[2015-11-27 12:43] jimmidyson commented on #956
@feiskyer FYI - https://bugzilla.redhat.com/show_bug.cgi?id=1275554

[2015-11-27 12:55] mboussaa commented on #638
the hot or total memory is sent  to backend storage like influxdb ?

[2015-11-27 13:38] jimmidyson commented on #638
Working set & total are sent - see https://github.com/google/cadvisor/blob/master/storage/influxdb/influxdb.go#L119-L124

[2015-11-27 13:45] mboussaa commented on #638
So memory_usage (total) = RAM + Swap ? because @vishh said that cAdvisor is memory+swap accounting as of now here https://github.com/google/cadvisor/issues/913

[2015-11-27 14:33] jimmidyson commented on #638
So let me try again. Details in https://www.kernel.org/doc/Documentation/cgroups/memory.txt.

Total (`memory.usage_in_bytes`) = `rss` + `cache`
Working set = Total - inactive (not recently accessed memory = `inactive_anon` + `inactive_file`)

How's that?

[2015-11-27 18:30] f0 commented on #975
@jimmidyson  RRS does not include the FS Cache, so its the real stack size for applications

[2015-11-28 17:51] mmaquevice commented on #943
+1

[2015-11-30 09:12] xautjzd opened #988 "Does cadvisor support range selection?"
I have googled and read some cadvisor docs, but can't find any words about performance data range selection.For example, get the latest 10 mins of cpu data, Is there any way to  resolve it?  Now I can get the default latest 1 mins data via API：/api/v1.0/containers/<absolute container name>,but I want to get an range  performance data via passing parameters start_time & end_time.

Please give me so

[2015-11-30 18:46] vishh commented on #988
cAdvisor supports `start` and `end` times. Look [here](https://github.com/google/cadvisor/blob/master/info/v1/container.go#L100). You will have to POST a json query object though.

[2015-11-30 19:49] vishh commented on #975
+1. RSS is indeed useful.

On Fri, Nov 27, 2015 at 10:30 AM, f0 <notifications@github.com> wrote:

[2015-11-30 19:58] vishh commented on #982
IIUC, docker hub builds require a self-sufficient Dockerfile. We can automate `canary` builds with dockerhub, but I don't see how we can setup release builds since releases require a `go build` prior to `docker build`.

The jenkins project has an build project that is supposed to push `canary` images on every commit to `master`. We can extend that to push a new release image whenever a new tag is

[2015-11-30 20:01] jimmidyson commented on #982
Ah yes I assumed it was a Docker hub build but you are correct. Thanks!

[2015-11-30 20:27] #982 closed

[2015-11-30 21:53] vishh commented on #959
Hmm.. From an end user perspective, knowing how local storage is being
consumed will definitely help. The fact that image layers are accounted as
part of every container that uses those layers will be confusing for end
users.

On Mon, Nov 23, 2015 at 5:27 AM, Vivek Goyal <notifications@github.com>
wrote:

[2015-11-30 22:07] rhvgoyal commented on #959
I agree that having an easy way to figure out how much space a thin device is using which is unshared from its parent is probably a useful information. But we don't seem to have that functionality available right now. @cc jthornber

[2015-11-30 22:08] rhvgoyal commented on #959
CC @jthornber

[2015-11-30 22:33] jimmidyson opened #989 "cadvisor fails to unmarshal container config with Docker 1.8.3"
Not sure if it happens with other versions prior to Docker 1.9, but since the merge of #966 to update runc container config fails to unmarshal properly. The problem is with this commit opencontainers/runc@c6e406af243fab0c9636539c1cb5f4d60fe0787f, turning certain fields e.g. https://github.com/opencontainers/runc/commit/c6e406af243fab0c9636539c1cb5f4d60fe0787f#diff-6318b8edda382c370345a4cb18e70b95R

[2015-11-30 23:03] afein commented on #989
I will not have the time to actually dig into this in detail any time soon.

We can revert #966 and I can resubmit the Godep bump PR with the exact version of runc that corresponds to Docker 1.8.3. Would that be an adequate fix?

[2015-11-30 23:09] jimmidyson commented on #989
Understand about time constraints. Thanks for replying.

I don't want to revert it as it will break with Docker >= 1.9 so need to come up with a way to handle it all, probably a custom Unmarshal function or something. I'll see if I can come up with something soon-ish.

[2015-12-01 02:24] xautjzd commented on #988
@vishh I'm very happy to get your answer, Thank you!  But I can't still understand how to use. Can you give me an POST example?

I have try to post like this, but failed:
[code]

[2015-12-01 04:21] chr0n1x commented on #943
:+1:

[2015-12-01 07:21] carmark commented on #989
@jimmidyson

I have a simple fix, it works well after basic test.  I will submit a PR later when I do more test.

[2015-12-01 07:50] jimmidyson commented on #989
@carmark awesome! Feel free to submit a PR now so we can help review, test, etc if you want.

[2015-12-01 09:07] SidneyAn opened #991 "/api/v2.0/appmetrics response empty"
I am running cadvisor to gather app metrics, but I get empty response in /api/v2.0/appmetrics.
The image I run as a kubernets replication controller is made following the Dockerfile below.

[code]

Addition, when I try api/v1.3/subcontainers, I can find "has_custom_metrics:true" in one metrics term. And the "custom_metrics" describes as the same as that in nginx_config.json .But it returns {"/":{.

[2015-12-01 10:58] jthornber commented on #959
I'm working on a thin_ls tool for you that should be released in the next couple of weeks.

[2015-12-01 11:05] jimmidyson commented on #959
@jthornber Sounds great!

[2015-12-01 16:21] jimmidyson opened #994 "Container filesystem check doesn't handle container deletes"
Continually logs:

    failed to collect filesystem stats - du command failed on /var/lib/docker/containers/568ec44c421500145adddfe250d9ee24512a030e880aff21318361ed1f9b5a33 with output du: cannot access ‘/var/lib/docker/containers/568ec44c421500145adddfe250d9ee24512a030e880aff21318361ed1f9b5a33’: No such file or directory

For containers that are started & then deleted.

@vishh This one for you I

[2015-12-01 17:54] guoshimin commented on #975
@jimmidyson Page cache uses otherwise unused regions of memory. When the system is under memory pressure, page cache entries can be evicted without killing the process to which the page cache is attributed to.

[2015-12-01 18:55] vishh commented on #959
Awesome!

On Tue, Dec 1, 2015 at 3:05 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-12-01 18:56] vishh commented on #991
cc @rjnagal

[2015-12-01 18:59] rjnagal commented on #991
Hey @SidneyAn, can you provide the output for api/v1.3/subcontainer and cadvisor logs?

The custom_metrics: false line is for the root container, which is expected. The custom metrics are only enabled for nginx container in this case.

[2015-12-01 19:16] jimmidyson commented on #975
@guoshimin Thanks for the explanation - now I understand :) Certainly very useful - any chance you could submit a PR for it?

[2015-12-01 19:19] guoshimin commented on #975
Yeah, happy to do it.

On Tue, Dec 1, 2015 at 11:16 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-12-01 19:22] jimmidyson commented on #975
That would be great - let us know if you need any pointers to get started.

[2015-12-02 03:49] SidneyAn commented on #991
@rjnagal Thanks for your explain of "The custom_metrics".

The cadvisor logs is follows:

 I1202 19:25:14.020715 32388 container.go:430] Failed to update stats for container "/docker/0d3867aa94d32bf2e0cb1fb19186c77df4e8f3cbab85e7a76599f5771470302b": Error 0: Error 0: No match found for regexp: Active connections: ([0-9]+) for metric 'activeConnections' in config,Error 1: No match found for regexp:

[2015-12-02 03:54] SidneyAn commented on #991
@rjnagal  the endpoints in nginx_config.json is "http://localhost:2520/nginx_status"
I start a simple HTTP server at port 2520 in the host machine.

#python -m SimpleHTTPServer 2520

[2015-12-02 08:40] #989 closed

[2015-12-02 09:09] #955 closed

[2015-12-02 23:44] #932 closed

[2015-12-03 06:24] andrejvanderzee commented on #943
+1

[2015-12-03 10:03] MattMattV opened #997 "Documentation of Go client is a bit broken"
Links to ContainerInfo struct are broken
Description is now outdated since ContainerInfo is storing not only an int but an int and 2 time.Time

Maybe more examples or explanations or updating would be nice to understand how to use it.

[2015-12-03 10:21] jvgutierrez commented on #743
Any updates on this?

[2015-12-03 10:43] jimmidyson commented on #943
Closing as dupe of #743

[2015-12-03 10:43] #943 closed

[2015-12-03 10:44] jimmidyson commented on #743
There is a PR (#800) in for this but needs updating now that 0.9.5 of influxdb has been released with fewer client deps. Waiting on the contributor to update. If we don't get an update soon-ish, then we will be looking for someone else to pick up this contribution so volunteers welcome.

[2015-12-03 11:00] carmark commented on #743
@jimmidyson

I can take this if the contributor is busy on more important issues.

[2015-12-03 11:02] jimmidyson commented on #743
@carmark Would you be able to ask the contributor on #800 if they'd like some help?

[2015-12-03 11:03] carmark commented on #743
@jimmidyson  sure.

[2015-12-04 11:08] jszczepkowski opened #1005 "PrometheusCollector is not filtering application metrics"
If you configure prometheus collector for application metrics, all metrics exposed on the endpoint will be collected. Filtering metrics by name on a base of `metrics_config` is not implemented.

[2015-12-04 11:19] jszczepkowski commented on #1005
According to https://github.com/google/cadvisor/blob/master/docs/application_metrics.md, if you provide the following config:
[code]
only `scheduler_binding_latency`, `scheduler_e2e_scheduling_latency` and `scheduling_algorithm_latency` metrics should be exposed. However, in practice, all metrics from `http://localhost:8000/metrics` are exposed.

BTW: the documentation is also broken. The sample c

[2015-12-04 15:15] DirectXMan12 commented on #1005
I can take a look at fixing this.

[2015-12-04 19:29] #994 closed

[2015-12-09 19:44] piosz opened #1011 "Decide what should be the default value for NumStats in ContainerInfoRequest"
Follow up https://github.com/google/cadvisor/pull/1010#issuecomment-163369010

[2015-12-10 08:54] rjnagal commented on #1011
The default was 60s because that's what the UI used to plot the graphs.

[2015-12-10 08:55] rjnagal commented on #991
cAdvisor expects the status to have the form : Active connections: ([0-9]+) etc.
What do you see on the status page (http://localhost:2520/nginx_status)

[2015-12-10 12:01] #1005 closed

[2015-12-10 19:06] timstclair commented on #1011
Why should it be changed? Changing the default is a breaking change, and if anyone needs another value they can just provide it (especially with #1010 )

[2015-12-10 20:09] vishh commented on #1011
-1 for changing the default.

On Thu, Dec 10, 2015 at 11:06 AM, Tim St. Clair <notifications@github.com>
wrote:

[2015-12-11 04:46] thanhson1085 commented on #743
+1

[2015-12-11 09:36] svenmueller opened #1014 "Running out of space with latest cadvisor version [image id: a1c47b5aade9]"
After pulling the latest cadvisor version we're running out of space on all updates nodes.

image id: `a1c47b5aade9`

[code]

[code]

[code]

[code]
[code]

Any idea why this happens and how we can avoid that?

[2015-12-11 12:47] svenmueller commented on #1014
problem was caused by another issue

[2015-12-11 12:47] #1014 closed

[2015-12-11 13:58] jimmidyson opened #1015 "Fix jenkins PR builds"
Links to wrong jobs, regular fialures, etc

[2015-12-11 14:15] jimmidyson commented on #1011
So default is 60 & non-configurable via flags. 60 kind of makes sense if you're collecting every second, last minute of stats by default. However housekeeping interval is configurable. So if we change that to 10s, default stats is 60 = 10 minutes of stats. This makes no sense to me.

It's unusual to have an arbitrary value for default returned values. I would prefer to change the default to -1 (al

[2015-12-11 14:19] jszczepkowski opened #1016 "Introduce direct API for application metrics"
Currently, cAdvisor read configuration of application metrics from containers labels and from config file mount in container root directory. In kubernets, cAdvisor is a part of kubelet. To configure custom metrics, kubelet need to create and mount a dummy configuration file. This is a bit hacky solution.

We should consider exposing an internal API for configuring custom metrics for containers. Su

[2015-12-11 14:20] jszczepkowski commented on #1016
CC @vishh

[2015-12-11 14:23] ncdc commented on #1016
cc @DirectXMan12

@jszczepkowski @vishh please let us know if this is an area where we could help out

[2015-12-11 15:11] vishh commented on #1016
@ncdc we can use some help here. Current configuration model for custom metrics is meant for Stavanger cadvisor and doesn't make sense in the kubelet case.

[2015-12-11 15:11] DirectXMan12 commented on #1016
+1

Also, at the very least, I think it would make sense to allow just dropping the config currently stored in the file into a container label.  For example:
[code]

I can write up something like this, if you'd like

[2015-12-11 15:23] jszczepkowski commented on #1016
+1

I really like this idea.

[2015-12-11 17:41] rjnagal commented on #1011
We were using NumStats to bound the amount of memory we use. The intention was that if housekeeping is changed to 10s, we still need 60 samples to populate UI in a meaningful way. Housekeeping can be slowed down if a sample is costly to read, but storage cost is usually the same.

The intent was that no matter what timescale we use, we still need enough samples to extract any meaning. The usage ha

[2015-12-11 18:38] DirectXMan12 commented on #1016
It should be fairly quick to implement.  I'll see what I can whip up.

[2015-12-11 23:15] vishh commented on #1016
To be clear, for the kubelet use case, what we need is an internal API that
can communicate to the cadvisor core what custom metrics are supposed to be
collected.
The labels based API is cute, but using labels for storing what is
`Annotations` makes me a bit unhappy.
Ideally the config should be part of the Docker images.

On Fri, Dec 11, 2015 at 10:38 AM, Solly Ross <notifications@github.com>
wro

[2015-12-11 23:34] DirectXMan12 commented on #1016
Sure.  The labels-based idea is a quick nice-to-have.

Why?  It seems like it might not be uncommon to have a metrics endpoint that exposes a lot of metrics, but you might only want to use a few.  It seems silly to have to entirely rebuild your Docker image to change which metrics are exposed, when you're not really making a change that affects the rest of the image itself.  It also seems odd to l

[2015-12-11 23:38] vishh commented on #1016
I guess it depends on the use case. Image authors will be aware of what
metrics can possibly be relevant for their application and expose them as
part of the image.
There are multiple use cases for those metrics though.
For monitoring, we might want all the metrics. But for an orchestration use
case, only one or a few metrics will be useful.
I feel the current interface isn't designed for combinin

[2015-12-11 23:52] rjnagal commented on #1016
I'd say that passing the whole config is label is a bigger hack  than what we have now. It abuses the labels use and also makes it hard to verify the runtime argument.

The intent with the current config mechanism was that we build configs with the images, or wrap an existing image with config you want. Kubelet shouldn't be trying to create config files anyway. The runtime blob is neither extensib

[2015-12-12 00:09] DirectXMan12 commented on #1016
How so?  Docker suggests in their documentation that labels can be used for storing JSON data.

I'm unclear as to what you are saying here.  Are you suggesting that Kubelet controlling which metrics are collected is a bad idea in general?

[2015-12-12 00:14] rjnagal commented on #1016
From the original request, I don't understand why kubelet needs to specify what metrics need to be collected. The user, even if its kube components, should be deciding what metrics we need to collect. Shouldn't we try to keep this a passthrough operation for kubelet?

[2015-12-12 00:34] vishh commented on #1016
To summarize what Rohit mentioned,
Ideally, an image exposes whatever metrics it thinks will be useful.
Then components like kubelet should filter out any metrics that is not
interesting for the orchestration system.

On Fri, Dec 11, 2015 at 4:14 PM, Rohit Jnagal <notifications@github.com>
wrote:

[2015-12-13 12:33] tasosz commented on #735
I'm also running on Macbook Pro (but Ubuntu VMs on VBox) and have the same issue after wake-up of the laptop - all VM around 100% each.
The issue looks to get resolved once I restart the agent processes.
So, the quick solution I have been using until a fix is found is this (inside each host if you have multiple):
  kill $(ps aux | grep '[/]var/log/rancher/.cadvisor' | awk '{print $2}')

This resul

[2015-12-14 11:55] jcoloh commented on #743
+1

[2015-12-14 16:23] DirectXMan12 commented on #1016
So, in this case, kubelet would have to receive all the metrics from cAdvisor, and then filter before it presents those metrics out as JSON?

What if an application was written to export Prometheus metrics, but wasn't written for cAdvisor?  It seems, to me, silly to say "if you want to use cAdvisor to collect your custom metrics, you *must* build your image with cAdvisor specific configuration dat

[2015-12-14 20:51] sensimilla commented on #743
+1

[2015-12-14 21:42] vishh commented on #1016
We already have two mechanisms.
1. Embedding the config in the docker container.
2. Introducing the config during runtime using volumes.

Why do we need a third mode of configuration?

On Mon, Dec 14, 2015 at 8:24 AM, Solly Ross <notifications@github.com>
wrote:

[2015-12-15 13:53] MattMattV commented on #480
This feature seems to be nice but one time again, no documentation to know how that works... :cry:

[2015-12-15 16:10] DirectXMan12 commented on #1016
It was argued in the kube discussion that option 2 is clunky (which is what spawned this issue), and I'm inclined to agree.

Furthermore, I'd argue that configuration for how an external service should treat the container should not be embedded in the container's filesystem -- the filesystem should be used for information that the container processes themselves need to access (whether that's confi

[2015-12-15 17:27] vishh commented on #1016
The image author is the one who knows about the metrics available in their
image. As a user I'd expect cAdvisor based monitoring to just work, instead
of probing the image, figuring out how metrics are exposed and then setting
up a runtime config.
I still don't see how that desire is invalid.

On Tue, Dec 15, 2015 at 8:10 AM, Solly Ross <notifications@github.com>
wrote:

[2015-12-15 20:59] miguel250 opened #1021 "Add e2e for ZFS file system"

[2015-12-15 21:47] DirectXMan12 commented on #1016
image. As a user I'd expect cAdvisor based monitoring to just work, instead
of probing the image, figuring out how metrics are exposed and then setting
up a runtime config.

I'm not arguing that we should do some sort of auto-detection of Prometheus endpoints, or something like that; I'm simply arguing that it makes sense to allow storing configuration in labels, instead the current system, where

[2015-12-16 01:27] vishh commented on #1016
Ok. Let's try to collect the requirements.
1. Image authors should be able to expose what ever metrics they deem to be necessary.
2. Image users should be able to add metrics configuration if one doesn't exist already.
3. Image users need ability to query only a subset of all the available metrics if required.

`1` is supported.
`2` can be achieved today using volumes. If volumes doesn't seem appe

[2015-12-16 15:25] DirectXMan12 commented on #1016
IMO, this seems poor, since you now no longer have the configuration somehow directly attached to the container.

Those seem like the requirements.

I suspect we're going to continue to disagree on this, but Docker doesn't have annotations, so labels could be used similarly to either kubernetes labels or kubernetes annotations.  The current cAdvisor custom metrics setup even uses them as such -- t

[2015-12-16 15:32] DirectXMan12 commented on #1016
At this point, I'm also fine dropping the "label" angle, and just working on a more direct internal API, but I'm unsure based on your comments if you want that, either.

[2015-12-16 17:30] vishh commented on #1016
Through this process of supporting custom metrics in kubelet, we realized
that cadvisor should probably be separated from kubelet itself.
Let's hold off on adding any APIs until the overall system design is clear.
Sorry for the confusion. This feature needs more thought.

On Wed, Dec 16, 2015 at 7:33 AM, Solly Ross <notifications@github.com>
wrote:

[2015-12-16 18:28] jimmidyson commented on #1016
Can you link to the discussion on separating out cadvisor from kubelet please?

[2015-12-16 18:54] vishh commented on #1016
https://github.com/kubernetes/kubernetes/issues/18770

On Wed, Dec 16, 2015 at 10:36 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-12-17 11:54] mboussaa opened #1024 "Delay when pushing data to influxDB"
I am using a java http client that sends sql queries via http to influxdb in order to get runtime metrics that cadvisor keep pushing to the TSDB.

something like this:
[code]

I run first cadvisor and influxdb then, I run a sample stress container. After that, I execute this http request to get the max memory usage but I got an empty response. The problem is that I have to wait around 30 seconds b

[2015-12-17 18:13] vishh commented on #1024
https://github.com/google/cadvisor/blob/master/storage/common_flags.go#L28

[2015-12-18 06:41] amcrn opened #1025 "Docker Hub Image Push On Every Release Cut?"
Is there any chance that on a new cadvisor release (https://github.com/google/cadvisor/releases), said version gets automatically pushed to the public Docker Hub (https://hub.docker.com/r/google/cadvisor/tags/) ?

At the moment it looks to be on-demand. Example: the latest non-canary image on the public Docker Hub is 0.19.3. Releases 0.19.4, 0.19.5, 0.20.0, and 0.20.1 are not available.

Thanks!

[2015-12-18 11:02] dqminh commented on #975
Not only rss but i think that all statistics from memory.stat should also be exposed. They are very helpful in many cases.

@jimmidyson @vishh wdyt ? Do we worry about exposing too many metrics by default without knobs for turning them off ?

[2015-12-18 14:43] mboussaa commented on #1024
@vishh  +1. Thank you. It would be great to add that to the storage documentation. You can close this issue.

[2015-12-18 15:11] bmlynarczyk commented on #743
+1

[2015-12-18 18:26] vishh commented on #1025
@pwittrock: Can we update the cAdvisor canary jenkins job to push images whenever a new tag is created?

[2015-12-18 18:42] vishh commented on #975
We already expose a lot of metrics. As long as the cost for acquiring these
metrics isn't high, I think adding them is fine by me.

On Fri, Dec 18, 2015 at 3:02 AM, Daniel, Dao Quang Minh <
notifications@github.com> wrote:

[2015-12-18 18:42] #1024 closed

[2015-12-18 19:33] pwittrock commented on #1025
Yeah I will start looking into how to do this

On Fri, Dec 18, 2015 at 10:28 AM Vish Kannan <notifications@github.com>
wrote:

[2015-12-18 21:45] dqminh commented on #975
Right, then i think its fine. We already have them in memory metrics, we just need to expose them to the world.

[2015-12-18 23:58] pwittrock opened #1026 "Create tests for cadvisor docker image size"
As part of our continuous / PR testing, we should make sure we don't introduce changes that drastically increase the docker image size.

@vishh

[2015-12-19 01:01] asa511 commented on #743
+1

[2015-12-22 05:49] dan-lind opened #1027 "Unable to start cAdvisor as sudo"
I'm just trying out cAdvisor, but I'm not able to start it using the provided instructions on my Mac OSX 10.11.

My docker-machine is indeed running, however when running the command to start cAdvisor it acts as if there is no docker-machine running. I guess this has something to do with running as sudo?

[code]

[2015-12-22 06:01] dan-lind commented on #1027
It looks like it works if I start WITHOUT running as sudo. I tried this but got a bit thrown off by the fact that the container log was completely empty. But when accessing my docker-machine on 8080, the dashboard is indeed there.

[2015-12-23 21:04] a86c6f7964 commented on #735
I am running this on coreos so there a ton of services. Not seeing 100% CPU but high CPU.
![yrgy9z](https://cloud.githubusercontent.com/assets/165381/11985036/724742c4-a986-11e5-852a-32a3d9473716.png)

[2015-12-28 17:29] ohmystack commented on #743
:thumbsup:

[2015-12-28 18:57] vishh commented on #735
cc @timstclair

[2015-12-30 17:28] marcellodesales opened #1028 "failed to write stats to influxDb 0.9.x - Server returned (404): 404 page not found"
Hi there,

I'm following the documentation and I'm trying to use cAdvisor (Docker) and InfluxDB (remote 0.9.2)... It is failing with the following error in the logs:

[code]

* Is there anything to be done in InfluxDB?
* are we missing anything?

cAdvisor
------

[code]

InfluxDB
------

* Running version 0.9.2
* Created the database

<img width="346" alt="screen shot 2015-12-30 at 9 24 27 am" src

[2015-12-31 08:13] guoshimin commented on #975
I prepared two branches, one (https://github.com/guoshimin/cadvisor/tree/icanhazrss) exposes only RSS, whereas the other (https://github.com/guoshimin/cadvisor/tree/exposeall) exposes all the metrics in memory.stat, of which I'm counting 31 on my system. I think exposing them all is better, but it does increase the size of /metrics page by about 50%. Please advise what's the best path forward.

[2016-01-01 16:02] xiaods commented on #735
+1, indeed need inspect the root cause

[2016-01-03 22:54] berglh commented on #1028
InfluxDB is not officially supported by cAdvisor yet. As far as I remember, part of this was due to the changes in the line protocol that were due in v0.9.5 of InfluxDB. My understanding is that this has been released and we are waiting for a pull request to be reviewed an accepted.

* [InfluxDB v0.9 support #743](https://github.com/google/cadvisor/issues/743)
* [How to setup Docker monitoring](ht

[2016-01-04 12:33] dqminh commented on #975
I would be fine with exposing all of them.

[2016-01-04 16:23] marcellodesales commented on #743
:+1: @vmarmol Happy New Year!!! It is a promising 2016 and a lot of people is waiting for this to be merged... 6 months ago you mentioned you would be taking a look at it... What needs to be reviewed? Can someone on this thread help?

[2016-01-04 18:33] pwittrock opened #1030 "oomparser test failing due to change in year"
Test fails saying it expects a date in 2015 but gets a date in 2016

--- FAIL: TestGetProcessNamePid (0.00s)
	oomparser_test.go:110: getProcessNamePid should have set date to 2015-01-21 22:01:49 +0000 UTC, not 2016-01-21 22:01:49 +0000 UTC

...
FAIL	github.com/google/cadvisor/utils/oomparser	0.118s

[2016-01-04 19:36] #1030 closed

[2016-01-05 10:27] wangzhezhe opened #1034 "Is it necessary for cadvisor to add the label-selector mechanism ?"
Hi !
I want to know if  it is necessary for cadvisor to add the label-selector mechanism ? It seems we do not need to monitor all the containers on the machine , because the containers come and go so fast just as [this article](https://www.datadoghq.com/blog/the-docker-monitoring-problem/) mentioned.

[2016-01-05 14:24] vishh commented on #1034
On Tue, Jan 5, 2016 at 2:27 AM, wangzhezhe <notifications@github.com> wrote:

Sure. If your nodes have a lot of containers (cgroups) that can be helpful
or if you want to run multiple cadvisor instances.

The churn issue can be solved by pushing metrics from cadvisor instead of
polling.

[2016-01-06 01:03] ruffianhy opened #1037 "how to display the data got from api?"
i have got data like this:
{
    "timestamp": "2016-01-05T13:36:09.408512077Z",
    "cpu": {
        "usage": {
            "total": 1404205576127,
            "per_cpu_usage": [
                647568490692,
                756637085435
            ],
            "user": 667400000000,
            "system": 222080000000
        },
        "load_average": 0
    },
    "diskio": {
        "io_servic

[2016-01-06 02:45] ruffianhy opened #1038 "does it have a way to add any tags before cadvisor pushing data to influxdb?"
i want to store more information in influxdb , for example the name of app run in docker.

[2016-01-07 01:03] achille-roussel opened #1039 "Metrics always showing zero"
Hi all, I've just deployed cAdvisor to an existing infra, simply running the default docker image as explained in the README.

Things work just fine but some stats are always showing zero values at the container level (host-level stats have meaningful values), so far:
- all memory related stats are zero
- all io related stats are zero
- all task related stats are zero

Is there something I may hav

[2016-01-07 13:17] mboussaa commented on #1039
These stats are related to disk metrics. The are is no issue I think

[2016-01-07 13:21] mboussaa opened #1042 "cAdvisor and RPI docker images"
Is cadvisor capable of gathering performance data even for RPI docker containers running in Raspberry devices?

like in http://blog.hypriot.com/getting-started-with-docker-on-your-arm-device/

[2016-01-07 17:57] achille-roussel commented on #1039
I'm looking at the Prometheus interface and I'm seeing these stats:
[code]
Are these disk metrics? How can I figure out what they are actually reporting?

[2016-01-08 01:53] feiskyer commented on #858
@yifan-gu @yujuhong Any updates on this? I'm working on cAdvisor collectors for hyper, though cAdvisor is not so easy to extend to a new container runtime.

[2016-01-08 17:29] jdanielcano opened #1043 "cAdvisor SELinux enforced and not privileged. Error tmp permission denied."
Hello,

I am trying to create and configure cAdvisor in our Kubernetes cluster. We want to do it having SELinux in enforced mode and not running the container in privileged mode. When we do it this way, cAdvisor starts at the end but we have may containers created and in exist status fulling the machine:
[code]
And we are getting all the time the same error:
[code]

I present the environment I am

[2016-01-08 17:57] jimmidyson commented on #1043
No it is not possible to run cadvisor under Docker without being a privileged container.

But if you're running under Kubernetes you don't really need to as cadvisor is embedded inside the kubelet & metrics are accessible via the kubelet API. Unless you need to access cadvisor directly for some reason?

[2016-01-08 18:27] #743 closed

[2016-01-08 19:01] vishh commented on #858
We might have to define Pod level APIs in cAdvisor. We wish to do this even
for the Docker runtime. We can probably start with hyper Pod support.

On Thu, Jan 7, 2016 at 5:53 PM, feisky <notifications@github.com> wrote:

[2016-01-08 19:05] vishh commented on #1039
Sounds like cAdvisor is having trouble collecting stats. `0` doesn't seem like a valid value for memory usage.

[2016-01-08 19:12] vishh commented on #1042
As long as the standard Linux APIs are available, cAdvisor should work on
Rasberry devices as well.
I assume the docker APIs don't change on those devices. If so, cAdvisor's
docker integration should also work.
I don't have a Rasberry device to validate my claims though.

On Thu, Jan 7, 2016 at 5:21 AM, mboussaa <notifications@github.com> wrote:

[2016-01-08 19:27] achille-roussel commented on #1039
Do you guys have an idea what may be causing this? I really just used the default setup and there's nothing fancy about the docker install either (using Docker 1.8 on a Debian on AWS).

[2016-01-08 19:34] mboussaa commented on #1042
So I have to run a cadvisor container within Rasberry device. it is not possible to gather performance of rasberry containers from my host machine?

[2016-01-08 19:42] vishh commented on #1042
Are you referring to *remote* monitoring? If so, that is not possible. cAdvisor should be able to run as a standalone process on most flavors of Linux.

[2016-01-08 19:42] vishh commented on #1039
Check the logs.

[2016-01-08 19:46] mboussaa commented on #1042
Yes I mean from my linux machine is it possible to monitor RPI containers ?

[2016-01-08 19:47] vishh commented on #1042
Remote monitoring is not possible

On Fri, Jan 8, 2016 at 11:46 AM, mboussaa <notifications@github.com> wrote:

[2016-01-08 19:56] jimmidyson commented on #1042
You will need to re-build cadvisor specific to the RPI arch as it's an ARM processor I believe. We only provide x86_64 arch builds I'm afraid.

[2016-01-08 20:48] vishh commented on #959
@jthornber: Has your tool been released?

[2016-01-08 20:51] vishh commented on #1038
Not as of now. We should add support for storing labels in the InfluxDB sink. cAdvisor already picks up labels from Docker.

[2016-01-08 21:31] achille-roussel commented on #1039
Sorry I forgot to mention that, there's about nothing in the logs:
[code]
Nothing more than this is shown, Prometheus is pulling every 15 seconds and I forced generating a few HTTP requests as well but the logs stay silent.
I'm also checking the command line options, the `-stderrthreshold` and `-v` are at 0 which as I understand means all logs will be printed... I'm not sure how to get more data o

[2016-01-08 22:01] jthornber commented on #959
Working on it atm

On Fri, 8 Jan 2016 20:48 Vish Kannan <notifications@github.com> wrote:

[2016-01-08 22:34] vishh commented on #1039
`-v=0` means minimal logging is enabled. You can try setting `--v=4` to get
more logs.

On Fri, Jan 8, 2016 at 1:31 PM, Achille <notifications@github.com> wrote:

[2016-01-08 22:59] timstclair commented on #1037
Please re-post your question to stackoverflow.

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messages posted in multiple forums, with the full response thr

[2016-01-08 22:59] #1037 closed

[2016-01-09 18:31] jdanielcano commented on #1043
Thanks for your quick answer. Now it is clear for me that I can not run cAdvisor without being a privileged container.

Actually the need of access to cAdvisor directly comes from a management decision, not for any technical reason, it just a matter of show something.

Thanks for all! I will close the issue!

[2016-01-09 18:31] #1043 closed

[2016-01-11 03:45] feiskyer commented on #858
@vishh Glad to hear this, I think we must simplify the introduction of new container runtimes first for cAdvsior, and then it is much easier to add new Pod level APIs.

Do you have any plan to decouple the API from docker and make container runtime configurable?

[2016-01-11 18:13] vishh commented on #858
@feiskyer: I have some idea, but I don't have the time to work on it now. Do you have some spare cycles to work on it? If so, I can help with the design.

[2016-01-11 21:59] achille-roussel commented on #1039
Alright, that was confusing, `-stderrthreshold=0` sending all stats to stderr but `-v=0` is actually turning off stats.

I've got more data now, but there's nothing explicit about memory stats not being read, a bunch of stuff that look like warnings show up tho but I'm too inexperienced with cadvisor to tell what would be giving hints on what's going on.

Things that look weird to me, I'm gonna in

[2016-01-11 22:12] vishh commented on #1039
This is not an issue. This file is distro specific.

This log line sounds like a bug in the code. It should be harmless in any case.

The logs you posted is for the setup phase and does not seem to highlight any errors. Are there any more logs that refer to metrics collection after cAdvisor is up logically?

Is cAdvisor running in privileged mode?

[2016-01-11 22:44] achille-roussel commented on #1039
Nothing is being logged after starting (which I find strange), but metrics are definitely getting updated, it's being fetched into prometheus and graphed via grafana, all working well except for memory, tasks and IO which are all at zero.

And yes, cAdvisor is running as root (in the container):
[code]

[2016-01-11 23:01] achille-roussel commented on #1039
So as far as I understand the memory stats are pulled from this https://github.com/opencontainers/runc/blob/master/libcontainer/cgroups/fs/memory.go#L101

I've scanned the host file system and couldn't find any trace of a `memory.stat` file, do you know if that could be the cause of the problem?

It's weird that no error is reported by cAdvisor tho.

[2016-01-11 23:13] vishh commented on #1039
Ah! You need to enable memory cgroup. This is a kernel configuration.
Add a kernel boot option "cgroup_enable=memory" to your bootloader setting
(e.g. /etc/default/grub) to enable it.

On Mon, Jan 11, 2016 at 3:01 PM, Achille <notifications@github.com> wrote:

[2016-01-11 23:14] vishh commented on #1039
I'm closing this issue. Feel free to re-open if there are any more concerns.

[2016-01-11 23:14] #1039 closed

[2016-01-11 23:14] achille-roussel commented on #1039
I'm wondering if it may be related to this:

- https://docs.docker.com/engine/articles/runmetrics/
- https://github.com/docker/docker/issues/4250
- https://github.com/docker/docker/issues/396

I'm gonna set these config options and see if that fixed the issue with memory stats.

[2016-01-11 23:24] achille-roussel commented on #1039
Yep that worked!

Adding `GRUB_CMDLINE_LINUX_DEFAULT="cgroup_enable=memory swapaccount=1"` then running `update-grub && reboot`, then I've got this in the logs:

[code]
And the memory metrics are being reported properly now.

Thanks a lot for your help, hopefully this will be useful to someone else as well.

[2016-01-11 23:29] feiskyer commented on #858
@vishh Can you post the idea? I'm working on integration cAdvisor with Hyper.

[2016-01-12 00:58] vishh commented on #858
@feiskyer, @timstclair will be able to help you. He is working on separating cAdvisor from kubelet.

[2016-01-12 22:32] sjpotter commented on #858
Hey, in order to try to get rkt working with cadvisor, I've started looking at manager and want to isolate the docker code from the interface.  What I want to do is copy the majority of the implementation code to a new package "docker" and have the manager's functions call the docker impelementations functions.

We can then implement a rkt implementation as well and have some smarts in the main ma

[2016-01-12 23:14] vishh commented on #858
The Docker specific APIs can be a no-op on hosts that don't run docker.
Are there any generic APIs that require docker though?

On Tue, Jan 12, 2016 at 2:32 PM, Shaya Potter <notifications@github.com>
wrote:

[2016-01-13 00:00] sjpotter commented on #858
@vishh when I said docker specific APIs I didn't meant that they were specific to docker but that they were named specific to docker.

ala

	// Gets all the Docker containers. Return is a map from full container name to ContainerInfo.
	AllDockerContainers(query *info.ContainerInfoRequest) (map[string]info.ContainerInfo, error)

	// Gets information about a specific Docker container. The specified

[2016-01-13 09:39] aclisp opened #1048 "cAdvisor should ignore transient devices (/dev/mapper/docker*) when populating filesystem partitions."
My cAdvisor (actually it is kubelet) keeps reporting this message after some containers go away and show up.
[code]
To find which file it is looking for, I modified fs.go:211 as below to get the context info.
[code]
And now it prints
[code]

My OS is CentOS 6.5, and I use devicemapper storage driver. Before cAdvisor starts, there are already some containers running. This is the content of my mount

[2016-01-13 22:48] vishh commented on #1048
cc @jimmidyson

[2016-01-14 02:30] sjpotter commented on #858
a first step: https://github.com/google/cadvisor/pull/1049

the APIs are still docker named in a docker specific way, should think about a way to rev them?

[2016-01-14 03:04] feiskyer opened #1050 "Add support for Hyper"
This issues tracks cAdvisor support for [Hyper](hyper.sh), works including:
- make cAdvisor container runtime general
- pod level APIs
- hyper pod stats
- hyper container stats

CC @vishh @yifan-gu

Ref https://github.com/google/cadvisor/issues/858 https://github.com/google/cadvisor/pull/1049

[2016-01-14 13:52] jimmidyson opened #1052 "Move from travis to circleci"
Travis holds up PRs by regularly taking ages to start CI builds.

I can do this if someone gives me admin rights on the cadvisor github project.

/cc @vishh @pwittrock

[2016-01-14 15:08] timothysc opened #1053 "Introduce jitter on housekeeping intervals."
In profiling the kubelet and mapping the data, we see cpu spikes on housekeeping intervals and cadvisor appears to be the culprit of the spikes.

Is there any reason why we couldn't introduce jitter on per container data collection?

[code]

/cc @vishh @jimmidyson @ncdc @mattf @jeremyeder

[2016-01-14 15:23] jimmidyson commented on #1048
What version of cadvisor are you running?

[2016-01-14 15:38] jimmidyson commented on #1053
Sounds like a good idea to me.

[2016-01-14 17:35] jimmidyson commented on #1052
Discussed with @vishh on slack - e2e build runs unit tests on Jenkins as well so we're going to disable Travis completely.

[2016-01-14 17:35] #1052 closed

[2016-01-14 18:57] vishh commented on #1050
cc @timstclair

[2016-01-14 22:08] timstclair commented on #1053
/cc @mwielgus

[2016-01-14 22:54] mwielgus commented on #1053
Ok, if the jitter is not too big (lets say less 1 - 2 sec)

[2016-01-15 02:40] #1034 closed

[2016-01-15 03:03] aclisp commented on #1048
0.19.2

[2016-01-15 18:35] #975 closed

[2016-01-15 18:54] pwittrock opened #1056 "Fix flaky gcloud auth failures for e2e tests"
cadvisor integration tests frequently fail due to gcloud auth failures.  The failures appear to be flaky.  When running 6 integration test targets in parallel, only 50% may fail with a message about missing user credentials, while the other 50% will pass, successfully finding the credentials.

We should
1. Reduce the number of flaky test failures because they are causing false positive PR tests to

[2016-01-15 20:28] vishh commented on #1056
Thanks for tackling this @pwittrock

[2016-01-15 22:39] vishh commented on #198
Disk usage metrics are already supported. cAdvisor could possibly expose usage of volumes if they happen to be separate filesystems. Shared volumes will be tricky to handle though.
I'm closing this issue for now.

[2016-01-15 22:39] #198 closed

[2016-01-15 22:40] vishh opened #1058 "Support cadvisor builds using docker"
cc @jimmidyson

[2016-01-16 23:27] timstclair opened #1060 "NPE in conversion.go"
When querying manager.GetContainerInfoV2:
[code]

Caused by uninitialized pointer fields introduced in https://github.com/google/cadvisor/commit/6dfdd8eca151469f92b2f0acf98afe3f46270511

/cc @vishh

[2016-01-16 23:37] jimmidyson commented on #1060
Shouldn't this be picked up in tests? Do we have no coverage here?

[2016-01-17 00:07] timstclair commented on #1060
Nope :( I'm adding a test.

[2016-01-17 00:08] jimmidyson commented on #1060
Thanks!

[2016-01-18 16:14] dqminh opened #1062 "Incorrect handling of docker container cgroup"
cadvisor seems to mishandling the containers cgroup in a systemd host ( at least with 1.10-dev ). Given a host that has the following cgroup layout

[code]

This is the layout created when we are on a systemd host, but use the fs cgroup and set cgroup-parent to docker, and is the default setting. This setup will make `UseSystemd` returns true, while containers are actually in a different cgroup, s

[2016-01-19 07:07] sanguinius69 opened #1064 "Cadvisor scraping support for Docker TLS daemon enabled"
Hi,

I don't know if my problem is relevant or not but I don't find any info about Cadvisor working with a docker daemon protected by TLS auth. Cadvisor can scrape some data but not the containers names or images, which is pretty annoying for monitoring.
So I have the nice docker logs cadvisor: "[E0119 07:00:26.936595 00001 manager.go:201] Docker container factory registration failed: unable to co

[2016-01-19 09:00] jimmidyson commented on #1064
I don't think that tls is used for the unix socket - that's for TCP only. Are you running cadvisor as root or as a privileged container with docker socket mounted into container?

[2016-01-19 09:39] sanguinius69 commented on #1064
Hi, thanks for the fast answer. No root I'm running it as a privileged container (run --volume=/:/rootfs:ro   --volume=/var/run:/var/run:rw --volume=/sys:/sys:ro --volume=/var/lib/docker/:/var/lib/docker:ro --publish=8080:8080 --detach=true --name=cadvisor --privileged=true  google/cadvisor:latest)
I am wondering if this is not an issue with my docker configuration...as I was trying also sysdig cl

[2016-01-19 15:21] gwleclerc commented on #842
I have the same problem using version 0.19.3

[2016-01-19 18:50] vishh commented on #1062
We added a flag recently to disable systemd assumption. IIRC, the flag was
`--nosystemd=true`.

On Mon, Jan 18, 2016 at 8:14 AM, Daniel, Dao Quang Minh <
notifications@github.com> wrote:

[2016-01-19 19:12] krhubert opened #1065 "Consistence of memory type"
There are MemoryCapacity and WorkingSet which represents information about memory, but one is defined as int64 and second one is defined as uint64. I think those two type should be the same.

[code]
[code]

[2016-01-19 19:34] vishh commented on #1065
+1.

On Tue, Jan 19, 2016 at 11:12 AM, krhubert <notifications@github.com> wrote:

[2016-01-19 21:46] krhubert commented on #1065
I can create PR in next 2 days.

[2016-01-19 21:48] vishh commented on #1065
Thanks!

On Tue, Jan 19, 2016 at 1:46 PM, krhubert <notifications@github.com> wrote:

[2016-01-20 05:21] wziyong opened #1067 "cAdvisor can not get other subcontainers' cpu metrics except cAdvisor container"
I try to use cAdvisor to monitor the containers.And I set up cAdvisor according to the instruction.Everything seems OK.Then I start to check if it works well.
    What makes me puzzled is the following:
- The monitor page of cAdvisor container looks well,and the graphs of cpu/mem/net keep updating.
  Howerver,the monitor pages of other subcontainers seem something wrong,the graph of cpu keeps unch

[2016-01-20 15:04] hasufell opened #1069 "How to run cadvisor securely?"
I tried cadvisor and the README suggests to do:

[code]

which, from a security standpoint, is a really strong no-go. `/var/run` is mounted writable... there will be more on the host system that is writing to that directory including crucial system services. Then the whole root file system is mounted in read-only. That exposes _all_ data of the host.

Is there no way to run cadvisor in a more rest

[2016-01-20 17:27] dqminh commented on #1062
Makes sense. Its sad that there isnt a nice way to auto-detect this though

[2016-01-20 18:05] vishh commented on #1062
Does docker expose the cgroupfs driver uses?

On Wed, Jan 20, 2016 at 9:27 AM, Daniel, Dao Quang Minh <
notifications@github.com> wrote:

[2016-01-20 21:17] vishh commented on #1069
`/var/run` is needed to access the docker socket. cAdvisor needs read-only
access to docker API. Maybe mount just that in.

On Wed, Jan 20, 2016 at 7:04 AM, Julian Ospald <notifications@github.com>
wrote:

[2016-01-21 11:21] dqminh commented on #1062
It isnt, but i think it should. There's already a flag to choose the cgroupfs driver explicitly so it makes sense to expose it as the daemon's info. Meanwhile i will close this since we have a workaround.

[2016-01-21 11:21] #1062 closed

[2016-01-21 18:25] ncdc commented on #944
@vishh @jimmidyson there is still apparently an issue with devicemapper :frowning:

#926 added code that sets `fsInfo.labels[LabelDockerImages]` to the devicemapper device correctly. Unfortunately, after that, we have `fsInfo.addLabels(context)`, which calls `updateDockerImagesPath`, which ends up replacing the previously set value with the device that corresponds to `/`, at least in my testing.

[2016-01-21 18:28] ncdc commented on #944
This seems to fix it:

[code]

[2016-01-21 19:02] ncdc commented on #944
device correspond to the size of the data volume or the sum of data and
metadata volumes?

[code]

Here's what cadvisor reports (with the patch above applied):

[code]

Translated, Capacity=27581743104, Available=27052212224, Usage=529530880. Those #s look like they align with the Data values above.

[2016-01-21 19:17] jimmidyson commented on #944
Thanks @ncdc. Patch looks OK. You want to submit a PR or I can do it?

[2016-01-21 19:18] ncdc commented on #944
@jimmidyson I'll submit, thanks!

[2016-01-21 19:19] ncdc commented on #944
@jimmidyson do we need to do anything re "So I would not revert the change but rather extend the check for loopback devicemapper to use the underlying partition info." ?

[2016-01-21 19:22] vishh commented on #944
Ideally yes. We should support loopback dm devices as well.

On Thu, Jan 21, 2016 at 11:19 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-01-21 19:24] ncdc commented on #944
I realized my patch blindly sets deviceMapper to true regardless of the partition label - I'm updating it to only do this if the device for LabelDockerImages matches the loop var. It'll be in my PR.

[2016-01-21 19:24] ncdc commented on #944
@vishh I'll apply my patch to another VM I have that's using loopback and see what it reports. If it's incorrect, would you like the fix in the same PR or a separate one?

[2016-01-22 05:41] dmehra opened #1074 "How to set storage_driver_buffer_duration shorter than 1 minute?"
I'm running cadvisor-canary:latest build, sending data to InfluxDB, and trying to set -storage_driver_buffer_duration to a lower value than the default 1 minute, so I'd be able to chart current data from influx rather than having a delay. I thought that was working when I ran a release build in Nov-Dec with influx v0.8, setting `-storage_driver_buffer_duration=2s`.

The reason I'm now running cana

[2016-01-22 08:14] sanguinius69 commented on #1064
Just in case, indeed Cadvisor need the unix socket to scrape the names of containers. Thanks jimmydyson, I'll close the issue !

[2016-01-22 08:14] #1064 closed

[2016-01-23 00:40] vishh commented on #1074
AFAIK, you can set that flag to a shorter duration. Is that not working for
you?

On Thu, Jan 21, 2016 at 9:41 PM, Daria Mehra <notifications@github.com>
wrote:

[2016-01-23 02:47] dmehra commented on #1074
Correct, when I set `-storage_driver_buffer_duration=2s` the actual delay is 2 minutes, not seconds.

[2016-01-23 05:59] vishh commented on #1074
Do the logs give any clues?

On Fri, Jan 22, 2016, 6:47 PM Daria Mehra <notifications@github.com> wrote:

[2016-01-23 13:12] svenmueller opened #1075 "Docker image tags outdated"
Please update the docker tags `latest` and `beta` properly. Currently they are quite outdated.

[code]

[2016-01-25 08:39] tkak commented on #943
+1

[2016-01-25 18:23] #1060 closed

[2016-01-25 21:06] vishh commented on #1075
I have fixed this manually for now.
@pwittrock: can we extend the jenkins pusher to sync the `latest` tag to the most recent release?

[2016-01-25 21:36] svenmueller commented on #1075
just pulled the current `latest` tag. when running the container, the logs shows:

[code]

is that the latest stable version? when looking at the "releases" section, i expected version `0.20.1` (https://github.com/google/cadvisor/releases)

Thx,
Sven

[2016-01-25 21:47] vishh commented on #1075
Oops. Operator error. Can you check again?

On Mon, Jan 25, 2016 at 1:36 PM, Sven Müller <notifications@github.com>
wrote:

[2016-01-25 22:00] svenmueller commented on #1075
Hi,

Still the same version for me (although a new iamge was pulled).

[code]

[code]

[2016-01-25 22:11] vishh commented on #1075
Err. Looks like the build/release scripts have changed. Apologies. Updated
again.
$ docker run --rm -it google/cadvisor:latest
...
I0125 22:10:48.852680       1 manager.go:254] Recovery completed
I0125 22:10:48.853630       1 cadvisor.go:106] Starting cAdvisor version:
0.20.1-634965a on port 8080
...

On Mon, Jan 25, 2016 at 2:00 PM, Sven Müller <notifications@github.com>
wrote:

[2016-01-25 23:18] pwittrock commented on #1075
I looked into this a while back for labeling each release, and the plugin we use for the existing jenkins pusher didn't help much.  Might be possible to use the plugin for latest since it is a static label.  I plan to look into this after the k82 1.2 stuff dies down.

[2016-01-26 08:42] ohmystack commented on #1075
However, the tags `v0.20.4` & `0.19.3` are still packaged with a wrong version of cAdvisor bin, "0.18.0".

[code]

[code]

[2016-01-26 10:28] damianopezzotti opened #1076 "Problem with container in a network"
Hi,
I have some containers running on an isolated network (not on bridge). The network is created using docker 1.9 new networking feature.
On cAdvisor UI I'm not able to see network section. I also tried to connect cAdvisor container to the container network, but nothing is changed.

Can you help me?

Thanks
Damiano

[2016-01-26 10:31] jimmidyson commented on #1076
Can you share how to recreate the issue please? Not sure we support the new networking feature properly yet but shouldn't be too hard to add in.

[2016-01-26 10:51] damianopezzotti commented on #1076
To reproduce the scenario you have to use Docker 1.9.1.

Create a new network
`docker network create test_cAdvisor`

Create a container attached to the network
`docker run -it --rm --name=myContainer --net=test_cAdvisor debian:latest bash`
And perform a lot of network traffic using curl or wget

If you inspect the network (`docker network inspect test_cAdvisor`) or inspect the container (`docker i

[2016-01-26 13:12] #944 closed

[2016-01-26 18:22] vishh commented on #944
Sorry for the delay. Been busy with the release. @ncdc: Have you fixed devicemapper support for both loopback and real device?

[2016-01-26 18:23] ncdc commented on #944
@vishh yes

[2016-01-26 18:28] vishh commented on #944
Awesome. Thanks @ncdc!

On Tue, Jan 26, 2016 at 10:23 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-01-26 18:40] #1076 closed

[2016-01-26 19:11] deedubs opened #1078 "Panic when using docker_env_metadata_whitelist"
I've updated to 0.20.4 to get docker_env_metadata_whitelist but I'm getting a panic

SHA1(/usr/local/bin/cadvisor)= 437fad6ce65dc4fdb162b5d72f6d3aa1e7d5956f

[code]

[2016-01-26 22:51] svenmueller commented on #771
any updates regarding this?

[2016-01-26 23:31] vishh commented on #771
The best we can do for now is to let users optionally disable filesystem
usage metrics. We are waiting for some of the new upstream kernel features
to simplify disk accounting.

On Tue, Jan 26, 2016 at 2:51 PM, Sven Müller <notifications@github.com>
wrote:

[2016-01-26 23:41] pwittrock commented on #959
@jthornber FS metrics device mapper support is blocked on this.  Do you have any updates?

[2016-01-26 23:43] rikwasmus commented on #1078
Running into it as well. Pull request is already there: https://github.com/google/cadvisor/pull/1063

[2016-01-27 07:11] jthornber commented on #959
Yes, release 0.6.0.

https://github.com/jthornber/thin-provisioning-tools/releases.  The tool you're after is called 'thin_ls'

[2016-01-27 08:36] damianopezzotti commented on #1076
It works!

[2016-01-27 09:01] jimmidyson commented on #1076
Thanks for reporting back @damianopezzotti!

[2016-01-27 09:03] damianopezzotti commented on #1076
When will you release the fix on the docker hub?

2016-01-27 10:01 GMT+01:00 Jimmi Dyson <notifications@github.com>:

--
Damiano Pezzotti
...................................... . .
Software Architect | Alambitco
mobile +39 333 2116258
fax +39 02 700432209
email damy@alambitco.com
web www.alambitco.com
flickr www.flickr.com/photos/damianopezzotti
linkedin www.linkedin.com/in/damianopezzotti
pgp id

[2016-01-27 09:07] jimmidyson commented on #1076
just waiting for another runc tag & update godeps with that & i will release ASAP after that - not too long i hope.

[2016-01-27 09:08] damianopezzotti commented on #1076
Great.
Thanks

2016-01-27 10:07 GMT+01:00 Jimmi Dyson <notifications@github.com>:

--
Damiano Pezzotti
...................................... . .
Software Architect | Alambitco
mobile +39 333 2116258
fax +39 02 700432209
email damy@alambitco.com
web www.alambitco.com
flickr www.flickr.com/photos/damianopezzotti
linkedin www.linkedin.com/in/damianopezzotti
pgp id 0x12DFD989

[2016-01-27 10:16] #1065 closed

[2016-01-27 10:45] jimmidyson commented on #1078
Yeah looking at merging now.

[2016-01-27 10:47] jimmidyson commented on #1078
Fixed by #1063

[2016-01-27 10:47] #1078 closed

[2016-01-27 19:18] vishh commented on #959
@jimmidyson @rhvgoyal: will one of you be able to integrate @jthornber's `thin_ls` tool?

[2016-01-27 19:19] vishh commented on #959
FYI: If we can get this in anytime soon, we can provide disk usage tracking for device mapper in Kube v1.2.

[2016-01-27 22:08] dmehra commented on #1074
When I tried running again with `-storage_driver_buffer_duration=2s` on a newer canary build, it worked as expected, doing writes to influx every 2 seconds. I cannot explain the earlier behavior; closing this issue as not reproducible.

[2016-01-27 22:08] #1074 closed

[2016-01-27 23:50] vishh opened #1081 "Compute cpu instantaneous usage in the core"
As of now cpu instantaneous usage metrics are computed on the fly, in the REST handler. Instead they should be computed in the core.

cc @timstclair @pwittrock

[2016-01-28 09:23] kabudu commented on #59
@vmarmol Was a patch applied to cadvisor to ignore non-docker and non-root containers in systemd systems? I'm using the latest tag of google/cadvisor available on docker hub with CentOS Linux release 7.2.1511 and still seeing systemd containers appearing in the stats from cadvisor.

[2016-01-28 13:01] GeertJohan commented on #878
@onlyjob Note: It sais 0.9.x, not x.y.z

[2016-01-28 17:18] vishh commented on #59
cAdvisor does not ignore any containers as of now.

On Thu, Jan 28, 2016 at 1:23 AM, Kamba Abudu <notifications@github.com>
wrote:

[2016-01-28 18:35] MikeMichel opened #1082 "Labels not compatible to latest prometheus version"
see https://github.com/prometheus/prometheus/issues/1352
i can not tell if it is really on cadvisors side to change labels for the prometheus endpoint or prometheus should allow dots again.

[2016-01-28 18:37] vishh commented on #1082
cc @jimmidyson

On Thu, Jan 28, 2016 at 10:35 AM, Mike <notifications@github.com> wrote:

[2016-01-28 18:45] rjnagal commented on #59
--docker_only=true would filter cgroups to only report docker and root containers.

[2016-01-28 18:56] jimmidyson commented on #1082
We should probably sanitize labels then. That's a bit annoying tbh as you detailed in the Prometheus issue.

[2016-01-28 22:01] jimmidyson commented on #1082
@MikeMichel What version of cadvisor are you running? Looks like labels are properly sanitized to me but just want to confirm if this is a recent change.

[2016-01-28 22:03] jimmidyson commented on #1082
Labels were properly sanitized in 544b852a so only available in >= 0.20.4

[2016-01-29 08:30] MikeMichel commented on #1082
@jimmidyson i'm using a patched < 0.20.4 version because i need https://github.com/google/cadvisor/issues/1078 working before i can move to a newer official version

[2016-01-29 09:16] jimmidyson commented on #1082
I tagged 0.20.5 that includes that fix yesterday, but I have no access to push Docker images to Docker hub for this project I'm afraid.

@vishh Is this something you could take care of please?

[2016-01-29 21:43] vishh commented on #1082
Yup. On it.

On Fri, Jan 29, 2016 at 1:16 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2016-01-30 12:35] laurikimmel commented on #1025
+1 - it would be nice

Version 0.20.5 was released 3 days ago. Latest release available in Docker Hub is still 0.20.4.

[2016-02-01 06:08] tuxknight commented on #771
Same situation.
My Docker Version is 1.9.1
Cadvisor  version 0.18.0

And when docker rm container fails, the status of that container change to "dead" .
Is it possible to umount that specific mountpoint when  container status changed to "exit" or "dead"  ?

[2016-02-01 15:43] Scorpiion opened #1085 "Support for "--cpu-period" and "--cpu-quota""
Hi,

I would like cadvisor to support containers using CFS.

To reproduce, start a container like this (allowed to use 10% of host CPU):
[code]

Then create a while loop inside (or something else that would use close to 100% CPU):
[code]

In this scenario I would expect cadvisor to show (in the web UI) how much CPU the container used based on it's allowed quota (in the cadvisor view for the contai

[2016-02-01 19:31] vishh commented on #1085
xref #969

On Mon, Feb 1, 2016 at 7:44 AM Robert Åkerblom-Andersson <
notifications@github.com> wrote:

[2016-02-01 19:59] vishh opened #1086 "Build broken on HEAD"
cc @jimmidyson

I'm unable to build from HEAD.

$ godep go build ./...
container/raw/handler.go:38:2: no buildable Go source files in /tmp/godeps/src/github.com/google/cadvisor/Godeps/_workspace/src/golang.org/x/exp/inotify
godep: go exit status 1

[2016-02-01 20:57] jimmidyson commented on #1086
Does `make build` work for you? Confused how this can't work if it works on CI...

[2016-02-01 21:21] vishh commented on #1086
Nope. `make build` doesn't work either.

On Mon, Feb 1, 2016 at 12:57 PM Jimmi Dyson <notifications@github.com>
wrote:

[2016-02-01 21:33] jimmidyson commented on #1086
I can only think this is something in your environment - just cloned cadvisor to clean GOPATH, run make build & it works fine.

[2016-02-01 21:33] jimmidyson commented on #1086
Are you building this on non-linux platform?

[2016-02-01 21:39] vishh commented on #1086
Nope. Building on linux only. AFAIK @timstclair has issues building as well.

[2016-02-01 21:42] jimmidyson commented on #1086
But there are buildable sources in there... for Linux at least - `inotify_linux.go`.

Also this hasn't changed in a long time.

[2016-02-01 21:50] vishh commented on #1086
Err. Broken godeps :( Sorry for the confusion. I need to get back to switching over to glide.

[2016-02-01 21:50] #1086 closed

[2016-02-02 15:15] marcellodesales commented on #1028
@berglh Just tested the mergePR #1040 and I published an image till cAdvisor releases a new version https://hub.docker.com/r/marcellodesales/google-cadvisor/

[2016-02-02 17:31] jimmidyson commented on #1082
Closing this now as the labels are properly sanitized, just waiting on a docker image being tagged (come on @vishh :stuck_out_tongue:).

[2016-02-02 17:31] #1082 closed

[2016-02-02 22:16] beorn7 commented on #1082
Just as an afterthought: The invalid label names could only be exposed because the code "cheats" with the metric descriptors. If [`EnableCollectChecks`](https://godoc.org/github.com/prometheus/client_golang/prometheus#EnableCollectChecks) would have been set, the scrape would have resulted in an error even without the stricter checks the newer Prometheus server performs.

The upcoming revamp of `c

[2016-02-03 10:38] jimmidyson commented on #1053
Closing - thanks @timothysc.

[2016-02-03 10:38] #1053 closed

[2016-02-03 20:28] #1042 closed

[2016-02-03 20:33] vishh commented on #959
@jthornber: When will the [alpine package for thin provisioning tools](https://pkgs.alpinelinux.org/package/testing/x86/thin-provisioning-tools) be updated to include your new tool?

[2016-02-03 21:08] vishh commented on #1075
I have updated `google/cadvisor:0.19.3` and verified that `google/cadvisor:v0.20.4` contains the right version.

[2016-02-03 21:11] jimmidyson commented on #1075
How about 0.20.5?

[2016-02-03 21:14] vishh commented on #1075
I pushed 0.20.5 as well.

On Wed, Feb 3, 2016, 1:11 PM Jimmi Dyson <notifications@github.com> wrote:

[2016-02-03 21:15] jimmidyson commented on #1075
Thanks!

[2016-02-03 21:24] jthornber commented on #959
I've no idea, they're very of of date.

On Wed, 3 Feb 2016 20:33 Vish Kannan <notifications@github.com> wrote:

[2016-02-03 22:57] arhea commented on #771
+1

[2016-02-03 23:09] vishh commented on #771
cAdvisor doesn't mount anything. It runs `du` periodically to collect
filesystem stats. Other than that, it does not touch the container's
filesystem at all.
The easy fix for this would be to retry docker deletion or disable
filesystem aggregation in cadvisor.

On Wed, Feb 3, 2016 at 2:57 PM, Alex Rhea <notifications@github.com> wrote:

[2016-02-04 01:30] marcellodesales commented on #794
@svenmueller I tested a PR and it is now supported...  https://github.com/google/cadvisor/pull/1040#issuecomment-176015272

I built an image to help others at https://hub.docker.com/r/marcellodesales/google-cadvisor/... I will maintain it until the team releases a new version with it.

[2016-02-04 01:33] vishh commented on #794
FYI: google/cadvisor:v0.20.5 should include support for InfluxDB v0.9

On Wed, Feb 3, 2016 at 5:30 PM, Marcello de Sales <notifications@github.com>
wrote:

[2016-02-04 02:36] marcellodesales commented on #794
@vishh I did not verify it :S Well that's nice then I will remove my image... thanks!

[2016-02-04 15:10] MattMattV commented on #997
bump

[2016-02-04 18:41] vishh commented on #997
@timstclair: Can you handle this issue?

[2016-02-04 19:48] timstclair commented on #997
Sure. I can work on this after k8s 1.2 is cut.

[2016-02-05 10:42] jimmidyson opened #1090 "Docker handler broken on Docker 1.10 due to filesystem check"

[2016-02-05 10:45] jimmidyson opened #1091 "cadvisor doesn't identify Docker 1.10 containers correctly when running with systemd"
Container names have changed it seems so can't identify Docker containers properly.

[2016-02-05 12:26] jimmidyson opened #1093 "FS usage tracked using du even with devicemapper"
Throws lots of errors. This should be disabled if devicemapper storage driver until we support devicemapper container usage.

@vishh This is changed in some recent changes you've made. Can you please fix this up so we don't run du for devicemapper storage driver?

[2016-02-05 13:07] jimmidyson commented on #1093
Fixing this up now.

[2016-02-05 13:51] jimmidyson opened #1096 "Integration tests broken"
Most (all?) PRs are timing out with `Test killed with quit: ran too long`. Some are falsely reporting success even with this error.

No PRs should be merged until this problem is fixed.

@pwittrock @vishh I have no access to environment so could one of you please take a look & figure out what's up?

[2016-02-05 18:46] marcellodesales commented on #1028
This is still happening with the

[2016-02-05 19:28] marcellodesales commented on #794
@vishh I see the image works!

[code]

However, the `latest` tag is not pointing to the `v0.20.5` version. What's the process to update the tag?

[code]

[2016-02-05 19:31] #1028 closed

[2016-02-05 23:20] vishh commented on #794
In general, we don't believe in the `latest` tag. But if you are relying on
it, we can update that tag as well.

On Fri, Feb 5, 2016 at 11:33 AM, Marcello de Sales <notifications@github.com

[2016-02-05 23:23] vishh commented on #794
I have updated the `latest` tag to point to v0.20.5.

On Fri, Feb 5, 2016 at 3:20 PM, Vishnu Kannan <vishnuk@google.com> wrote:

[2016-02-06 03:06] marcellodesales commented on #794
@vishh Although I can definitely agree with your point, most documentation I found uses the the tag `latest`... It confuses a lot of users, including myself... It since there was not Git Tag on this merge request, it is hard to find which version this is released...

Could you guys please tag the merge as part of the release process, in case the `docker latest` tag is not used? that would simplify

[2016-02-08 22:50] timstclair commented on #914
I assume you're asking about the [SubcontainersInfo](https://github.com/google/cadvisor/blob/master/client/client.go#L99) in the client? You can think of it as the recursive version of ContainerInfo. For example calling `SubcontainersInfo` on the root container, will return info on all containers.

[2016-02-08 22:52] timstclair commented on #1085
Is anything else needed here?

[2016-02-08 23:13] Scorpiion commented on #1085
Hi @timstclair, if you refer to the merging of #969, yes it is. #969 does not implement this.

See this discussion:
https://github.com/google/cadvisor/pull/969#discussion-diff-46494813

[2016-02-09 00:55] timstclair commented on #1085
Got it, thanks.

[2016-02-09 22:27] timstclair commented on #997
Fixed the main issues. I agree that there is a large issue with the documentation and examples as a whole, but I'm going to close this for now.

[2016-02-09 22:27] #997 closed

[2016-02-10 22:50] timstclair commented on #980
I believe this was fixed by https://github.com/google/cadvisor/pull/1033 (thanks!). Please reopen if that is not correct.

[2016-02-10 22:50] #980 closed

[2016-02-10 22:54] timstclair commented on #1093
I believe this was fixed by https://github.com/google/cadvisor/pull/1097. Please reopen if that is not correct.

[2016-02-10 22:54] #1093 closed

[2016-02-10 23:07] #915 closed

[2016-02-10 23:27] onlyjob commented on #915
Thanks, @vishh. :-)

[2016-02-11 04:45] tonysickpony commented on #771
running cAdvisor without `--volume=/:/rootfs:ro` seems to fix it.
As pointed out in https://github.com/google/cadvisor/blob/master/docs/running.md
I haven't fully tested it yet, but works fine up to now